@using SMS.Common.Session
@using SMS.Data.Dtos
@model SMS.MvcApplication.Models.AdminModel<BranchDto>
@{
    ViewBag.Title = "Index";
}

<script id="record-tmpl" type="text/x-jquery-tmpl">
    <tr class="admin-record-detail">
        <td colspan="6">
            <div class="detail" style="display: none;">
                <div class="row">
                    <div class="three columns right" data-labelID="lblVNName">
                        VN Name
                    </div>
                    <div class="four columns">
                        <input type="text" name="vnName" value="${VNName}" id="vnName-${ID}" />
                    </div>
                </div>
                <div class="row">
                    <div class="three columns right" data-labelID="lblENName">
                        EN Name
                    </div>
                    <div class="four columns">
                        <input type="text" name="enName" value="${ENName}" id="enName-${ID}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="three columns right" data-labelID="lblCurrency">
                        Currency
                    </div>
                    <div class="two columns">
                        <select name="currency" id="currency-${ID}">
                            @foreach (CurrencyDto currency in ViewBag.ListCurrency)
                            {
                                <text>
                                    {{if Currency != null && Currency.ID == @currency.ID}}
                                    <option value="@currency.ID" selected>@currency.Name</option>
                                    {{else}}
                                    <option value="@currency.ID">@currency.Name</option>
                                    {{/if}}
                                </text>
                            }
                        </select>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="three columns right" data-labelID="lblUseServiceFee">
                        Use Service Fee
                    </div>
                    <div class="three columns">
                        {{if UseServiceFee }}
                        <input type="checkbox" name="useServiceFee" checked id="useServiceFee-${ID}"/>
                        {{else}}
                        <input type="checkbox" name="useServiceFee" id="useServiceFee-${ID}"/>
                        {{/if}}
                    </div>
                </div>
                <div class="row">
                    <div class="three columns right" data-labelID="lblServiceFee">
                        Service Fee
                    </div>
                    <div class="two columns">
                        <input type="text" class="right" name="serviceFee" value="${ServiceFee}" id="serviceFee-${ID}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="three columns right" data-labelID="lblUseDiscountOnProduct">
                        Use discount on Product
                    </div>
                    <div class="three columns">
                        {{if UseDiscountOnProduct }}
                        <input type="checkbox" name="enable" checked id="useDiscountOnProduct-${ID}"/>
                        {{else}}
                        <input type="checkbox" name="enable" id="useDiscountOnProduct-${ID}"/>
                        {{/if}}
                    </div>
                </div>
                <div class="row">
                    <div class="three columns right" data-labelID="lblUseKitchenFunction">
                        Use Kitchen function
                    </div>
                    <div class="three columns">
                        {{if UseKitchenFunction }}
                        <input type="checkbox" name="enable" checked id="useKitchenFunction-${ID}"/>
                        {{else}}
                        <input type="checkbox" name="enable" id="useKitchenFunction-${ID}"/>
                        {{/if}}
                    </div>
                </div>
                <div class="row">
                    <div class="three columns right" data-labelID="lblCompanyCode">
                        Company code
                    </div>
                    <div class="four columns">
                        <input type="text" name="companyCode" value="${BranchInfo.CompanyCode}" id="companyCode-${ID}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="three columns right" data-labelID="lblCompanyName">
                        Company name
                    </div>
                    <div class="four columns">
                        <input type="text" name="companyName" value="${BranchInfo.CompanyName}" id="companyName-${ID}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="three columns right" data-labelID="lblPhone">
                        Phone
                    </div>
                    <div class="four columns">
                        <input type="text" name="phone" value="${BranchInfo.Phone}" id="phone-${ID}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="three columns right" data-labelID="lblFax">
                        Fax
                    </div>
                    <div class="four columns">
                        <input type="text" name="fax" value="${BranchInfo.Fax}" id="fax-${ID}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="three columns right" data-labelID="lblEmail">
                        Email
                    </div>
                    <div class="four columns">
                        <input type="text" name="email" value="${BranchInfo.Email}" id="email-${ID}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="three columns right" data-labelID="lblTaxCode">
                        Tax code
                    </div>
                    <div class="four columns">
                        <input type="text" name="taxCode" value="${BranchInfo.TaxCode}" id="taxCode-${ID}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="three columns right" data-labelID="lblAddress">
                        Address
                    </div>
                    <div class="four columns">
                        <input type="text" name="address" value="${BranchInfo.Address}" id="address-${ID}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="three columns right" data-labelID="lblInfo1">
                        Info 1
                    </div>
                    <div class="four columns">
                        <input type="text" name="info1" value="${BranchInfo.Info1}" id="info1-${ID}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="three columns right" data-labelID="lblInfo2">
                        Info 2
                    </div>
                    <div class="four columns">
                        <input type="text" name="info2" value="${BranchInfo.Info2}" id="info2-${ID}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="three columns right" data-labelID="lblInfo3">
                        Info 3
                    </div>
                    <div class="four columns">
                        <input type="text" name="info3" value="${BranchInfo.Info3}" id="info3-${ID}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="three columns right" data-labelID="lblInfo4">
                        Info 4
                    </div>
                    <div class="four columns">
                        <input type="text" name="info4" value="${BranchInfo.Info4}" id="info4-${ID}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="three columns right" data-labelID="lblInfo5">
                        Info 5
                    </div>
                    <div class="four columns">
                        <input type="text" name="info5" value="${BranchInfo.Info5}" id="info5-${ID}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="three columns right" data-labelID="lblInfo6">
                        Info 6
                    </div>
                    <div class="four columns">
                        <input type="text" name="info6" value="${BranchInfo.Info6}" id="info6-${ID}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="three columns right" data-labelID="lblInfo7">
                        Info 7
                    </div>
                    <div class="four columns">
                        <input type="text" name="info7" value="${BranchInfo.Info7}" id="info7-${ID}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="three columns right" data-labelID="lblInfo8">
                        Info 8
                    </div>
                    <div class="four columns">
                        <input type="text" name="info8" value="${BranchInfo.Info8}" id="info8-${ID}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="three columns right" data-labelID="lblInfo9">
                        Info 9
                    </div>
                    <div class="four columns">
                        <input type="text" name="info9" value="${BranchInfo.Info9}" id="info9-${ID}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="three columns right" data-labelID="lblInfo10">
                        Info 10
                    </div>
                    <div class="four columns">
                        <input type="text" name="info10" value="${BranchInfo.Info10}" id="info10-${ID}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="three columns right" data-labelID="lblEnable">
                        Enable
                    </div>
                    <div class="three columns">
                        {{if Enable }}
                        <input type="checkbox" name="enable" checked id="enable-${ID}"/>
                        {{else}}
                        <input type="checkbox" name="enable" id="enable-${ID}"/>
                        {{/if}}
                    </div>
                </div>
                <div class="row">
                    <div class="three columns right" data-labelID="lblSEQ">
                        SEQ
                    </div>
                    <div class="two columns">
                        <input type="text" name="seq" value="${SEQ}" id="seq-${ID}" class="right"/>
                    </div>
                </div>
                <div class="row">
                    <div class="three columns push_one">
                        <select id="originalUsers-${ID}" multiple="multiple" size="4">
                            @foreach (UserBasicDto user in ViewBag.ListUser)
                            {
                                <text>
                                    <option value="@user.ID">@user.Username</option>
                                </text>
                            }
                        </select>
                    </div>
                    <div class="three columns center">
                        <button id="addUsers-${ID}" class="assignButton">></button>
                        <button id="addAllUsers-${ID}" class="assignButton">>></button>
                        <button id="removeAllUsers-${ID}" class="assignButton"><<</button>
                        <button id="removeUsers-${ID}" class="assignButton"><</button>
                    </div>
                    <div class="three columns">
                        <select name="assignedUsers" id="assignedUsers-${ID}" multiple="multiple" size="4">
                            {{each Users}}
                            <option value="${ID}">${Username}</option>
                            {{/each}}
                        </select>
                    </div>
                    {{html buildScriptForAssignListBox(ID)}}
                </div>
                <div class="row">
                    <div class="eleven columns center">
                        <button id="save-${ID}" data-labelID="lblSave">Save</button>
                        <button id="cancel-${ID}" data-labelID="lblCancel">Cancel</button>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</script>
<script type="text/javascript" src="~/Scripts/assignListBox.js"></script>
<script type="text/javascript">
    function buildScriptForAssignListBox(id) {
        var param = '"originalUsers-' + id + '", "' + 'assignedUsers-' + id + '", "' + 'addUsers-' + id + '", "' + 'removeUsers-' + id + '", "' + 'addAllUsers-' + id + '", "' + 'removeAllUsers-' + id + '"';

        return '<sc' + 'ript type="text/javascript">'
            + 'var listBox = new AssignListBox(' + param + ');'
            + 'listBox.bindEvents();'
            + '</sc' + 'ript>';
    }
</script>

<div id="content">
    <div class="row">
        <h4 class="admin-page-title">Maintain Branch</h4>
    </div>

    @Html.Partial("Search", Model.PagingInfo)

    <div class="row">
        <table id="record-table" class="no-border">
            <colgroup>
                <col style="width: 75px;" />
                <col style="width: 60px;" />
                <col />
                <col style="width: 400px;" />
                <col style="width: 110px;" />
                <col style="width: 75px;" />
            </colgroup>
            <thead>
                <tr>
                    <th></th>
                    <th data-labelID="lblNo">No</th>
                    <th data-labelID="lblName">Name</th>
                    <th data-labelID="lblCompanyName">Company name</th>
                    <th data-labelID="lblEnable">Enabled</th>
                    <th data-labelID="lblSEQ">SEQ</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dto in Model.ListRecord)
                {
                    var altClass = Model.ListRecord.IndexOf(dto) % 2 != 0 ? "alt" : "";
                    <tr class="@altClass" data-id="@dto.ID">
                        <td>
                            <a href="#" class="icon-disable" data-id="@dto.ID"><img src="~/Images/IconControls/delete-icon.png" alt="delete record" /></a>
                            <a href="#" class="edit-record" data-id="@dto.ID"><img src="~/Images/IconControls/edit-icon.png" alt="edit record" /></a>
                        </td>
                        <td>@Html.Raw(Model.ListRecord.IndexOf(dto) + 1)</td>
                        @if(@SmsSystem.Language == Language.Vietnamese)
                        {
                            <td>@dto.VNName</td>
                        }else
                        {
                            <td>@dto.ENName</td>
                        }
                        <td>@dto.BranchInfo.CompanyName</td>
                        <td>@dto.Enable</td>
                        <td>@dto.SEQ</td>
                    </tr>
                }
                
            </tbody>
            <tfoot>
                <tr>
                    <td class="center"><a href="#" class="add-record"><img src="~/Images/IconControls/add-icon.png" alt="add record" /></a></td>
                    <td colspan="5"></td>
                </tr>
            </tfoot>
        </table>

        @Html.Partial("Paging", Model.PagingInfo)

        <script type="text/javascript">
            $(document).ready(function () {
                var addUrl = '@Url.Action("GetSchemaForAdd")';
                var editUrl = '@Url.Action("GetDataForEdit")';
                var saveUrl = '@Url.Action("SaveData")';
                var deleteUrl = '@Url.Action("DeleteData")';
                
                var adminfunc = new AdminFunction(addUrl, editUrl, saveUrl, getDataForSave, deleteUrl, 'Warning', 'Delete this record?');
                adminfunc.bind();
            });

            function getDataForSave(recordId) {
                var users = Array();

                $('#assignedUsers-' + recordId + ' option').each(function (idx, e) {
                    users.push({ ID: $(e).val() });
                });
                
                var data = {
                    ID: recordId,
                    VNName: $('#vnName-' + recordId).val(),
                    ENName: $('#enName-' + recordId).val(),
                    Currency: {
                        ID: $('#currency-' + recordId).val()
                    },
                    UseServiceFee: $('#useServiceFee-' + recordId).prop('checked'),
                    ServiceFee: $('#serviceFee-' + recordId).val(),
                    UseDiscountOnProduct: $('#useDiscountOnProduct-' + recordId).prop('checked'),
                    UseKitchenFunction: $('#useKitchenFunction-' + recordId).prop('checked'),
                    BranchInfo: {
                        CompanyCode: $('#companyCode-' + recordId).val(),
                        CompanyName: $('#companyName-' + recordId).val(),
                        Phone: $('#phone-' + recordId).val(),
                        Fax: $('#fax-' + recordId).val(),
                        Email: $('#email-' + recordId).val(),
                        TaxCode: $('#taxCode-' + recordId).val(),
                        Address: $('#address-' + recordId).val(),
                        Info1: $('#info1-' + recordId).val(),
                        Info2: $('#info2-' + recordId).val(),
                        Info3: $('#info3-' + recordId).val(),
                        Info4: $('#info4-' + recordId).val(),
                        Info5: $('#info5-' + recordId).val(),
                        Info6: $('#info6-' + recordId).val(),
                        Info7: $('#info7-' + recordId).val(),
                        Info8: $('#info8-' + recordId).val(),
                        Info9: $('#info9-' + recordId).val(),
                        Info10: $('#info10-' + recordId).val()
                    },
                    Enable: $('#enable-' + recordId).prop('checked'),
                    SEQ: $('#seq-' + recordId).val(),
                    Users: users
                };
                return data;
            }
        </script>
    </div>
</div>
