@using SMS.Data.Dtos
@model SMS.MvcApplication.Areas.Administrator.Models.AdminModel<TableDto>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script id="record-tmpl" type="text/x-jquery-tmpl">
    <tr class="admin-record-detail">
        <td colspan="7">
            <div class="detail" style="display: none;">
                <div class="row">
                    <div class="three columns right">
                        VN name
                    </div>
                    <div class="three columns">
                        <input type="text" name="VNName" value="${VNName}" id="vnName-${ID}" />
                    </div>
                    <div class="three columns right">
                        EN name
                    </div>
                    <div class="three columns">
                        <input type="text" name="ENName" value="${ENName}" id="enName-${ID}" />
                    </div>
                </div>
                <div class="row">
                    <div class="three columns right">
                        Area
                    </div>
                    <div class="three columns">
                        <select name="areaID" id="areaID-${ID}">
                            <option value="0">[Not selected]</option>
                            @foreach (AreaDto area in ViewBag.ListArea)
                            {
                                <text>
                                    {{if Area != null && Area.ID == @area.ID}}
                                    <option value="@area.ID" selected>@area.VNName/@area.ENName</option>
                                    {{else}}
                                    <option value="@area.ID">@area.VNName/@area.ENName</option>
                                    {{/if}}
                                </text>
                            }
                        </select>
                    </div>
                    <div class="three columns right">
                        SEQ
                    </div>
                    <div class="three columns">
                        <input type="text" name="seq" value="{{if SEQ != 0}}${SEQ}{{/if}}" id="seq-${ID}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="three columns right">
                        Enable
                    </div>
                    <div class="three columns">
                        {{if Enable == true}}
                        <input type="checkbox" name="enable" checked id="enable-${ID}"/>
                        {{else}}
                        <input type="checkbox" name="enable" id="enable-${ID}"/>
                        {{/if}}
                    </div>
                </div>
                <div class="row">
                    <div class="eleven columns right">
                        <input type="button" class="button" id="save-${ID}" value="Save" />
                        <input type="button" class="button" id="cancel-${ID}" value="Cancel" />
                    </div>
                </div>
            </div>
        </td>
    </tr>
</script>
<div id="admin-body">
    <div class="row">
        <h4 class="admin-page-title">Maintain Table</h4>
    </div>

    @Html.Partial("Search", Model.PagingInfo)

    <div class="row">
        <table id="record-table">
            <colgroup>
                <col style="width: 75px;" />
                <col style="width: 60px;" />
                <col />
                <col />
                <col style="width: 120px;" />
                <col style="width: 60px;" />
                <col style="width: 75px;" />
            </colgroup>
            <thead>
                <tr>
                    <th></th>
                    <th>No</th>
                    <th>VN name</th>
                    <th>EN name</th>
                    <th>Area</th>
                    <th>SEQ</th>
                    <th>Enabled</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dto in Model.ListRecord)
                {
                    var altClass = Model.ListRecord.IndexOf(dto)%2 != 0 ? "alt" : "";
                    <tr class="@altClass" data-id="@dto.ID">
                        <td>
                            <a href="#" class="del-record" data-id="@dto.ID"><img src="~/Images/IconControls/delete-icon.png" alt="delete record" /></a>
                            <a href="#" class="edit-record" data-id="@dto.ID"><img src="~/Images/IconControls/edit-icon.png" alt="edit record" /></a>
                        </td>
                        <td>@Html.Raw(Model.ListRecord.IndexOf(dto) + 1)</td>
                        <td>@dto.VNName</td>
                        <td>@dto.ENName</td>
                        <td>@Html.Raw(dto.Area != null ? dto.Area.VNName + "/" + dto.Area.ENName : "")</td>
                        <td>@dto.SEQ</td>
                        <td>@dto.Enable</td>
                    </tr>
                }
                
            </tbody>
            <tfoot>
                <tr>
                    <td class="center"><a href="#" id="addRecord"><img src="~/Images/IconControls/add-icon.png" alt="add record" /></a></td>
                    <td colspan="6"></td>
                </tr>
            </tfoot>
        </table>

        @Html.Partial("Paging", Model.PagingInfo)

        <script type="text/javascript">
            $(document).ready(function () {
                var addUrl = '@Url.Action("GetSchemaForAdd")';
                var editUrl = '@Url.Action("GetDataForEdit")';
                var saveUrl = '@Url.Action("SaveData")';
                var deleteUrl = '@Url.Action("DeleteData")';
                
                var adminfunc = new AdminFunction(addUrl, editUrl, saveUrl, getAreaForSave, deleteUrl, 'Warning', 'Delete this record?');
                adminfunc.bind();
            });

            function getAreaForSave(recordID) {
                var data = {
                    ID: recordID,
                    VNName: $('#vnName-' + recordID).val(),
                    ENName: $('#enName-' + recordID).val(),
                    Area: {
                         ID: $('#areaID-' + recordID).val()
                    },
                    Enable: $('#enable-' + recordID).prop('checked'),
                    SEQ: $('#seq-' + recordID).val()
                };
                return data;
            }
        </script>
    </div>
</div>
