@using SMS.Common.Session
@using SMS.Data.Dtos
@model SMS.MvcApplication.Models.AdminModel<UnitDto>

<script id="record-tmpl" type="text/x-jquery-tmpl">
    <tr class="admin-record-detail">
        <td colspan="5">
            <div class="detail" style="display: none;">
                <div class="row">
                    <div class="two columns right" data-labelID="lblVNName">
                        VN name
                    </div>
                    <div class="three columns">
                        <input type="text" name="VNName" value="${VNName}" id="vnName-${ID}" />
                    </div>
                    <div class="two columns right" data-labelID="lblENName">
                        EN name
                    </div>
                    <div class="three columns">
                        <input type="text" name="ENName" value="${ENName}" id="enName-${ID}" />
                    </div>
                </div>
                <div class="row">
                    <div class="two columns right" data-labelID="lblSEQ">
                        SEQ
                    </div>
                    <div class="three columns">
                        <input type="text" name="seq" value="{{if SEQ != 0}}${SEQ}{{/if}}" id="seq-${ID}" style="width: 20%;" class="right"/>
                    </div>
                </div>
                <div class="row">
                    <div class="two columns right" data-labelID="lblEnable">
                        Enable
                    </div>
                    <div class="three columns">
                        {{if Enable}}
                        <input type="checkbox" name="enable" checked id="enable-${ID}"/>
                        {{else}}
                        <input type="checkbox" name="enable" id="enable-${ID}"/>
                        {{/if}}
                    </div>
                </div>
                <div class="row">
                    <div class="eleven columns center">
                        <button id="save-${ID}" data-labelID="lblSave">Save</button>
                        <button id="cancel-${ID}" data-labelID="lblCancel">Cancel</button>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</script>
<div id="content">
    <div class="row">
        <h4 class="admin-page-title">Maintain Unit</h4>
    </div>

    @Html.Partial("Search", Model.PagingInfo)

    <div class="row">
        <table id="record-table">
            <colgroup>
                <col style="width: 75px;" />
                <col style="width: 75px;" />
                <col />
                <col style="width: 60px;" />
                <col style="width: 75px;" />
            </colgroup>
            <thead>
                <tr>
                    <th></th>
                    <th data-labelID="lblNo">No</th>
                    <th data-labelID="lblName">Name</th>
                    <th data-labelID="lblSEQ">SEQ</th>
                    <th data-labelID="lblEnable">Enabled</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dto in Model.ListRecord)
                {
                    var altClass = Model.ListRecord.IndexOf(dto)%2 != 0 ? "alt" : "";
                    <tr class="@altClass" data-id="@dto.ID">
                        <td>
                            <a href="#" class="del-record" data-id="@dto.ID"><img src="~/Images/IconControls/delete-icon.png" alt="delete record" /></a>
                            <a href="#" class="edit-record" data-id="@dto.ID"><img src="~/Images/IconControls/edit-icon.png" alt="edit record" /></a>
                        </td>
                        <td>@Html.Raw(Model.ListRecord.IndexOf(dto) + 1)</td>
                        <td>@(SmsSystem.Language == Language.Vietnamese ? dto.VNName : dto.ENName)</td>
                        <td>@dto.SEQ</td>
                        <td>@dto.Enable</td>
                    </tr>
                }
                
            </tbody>
            <tfoot>
                <tr>
                    <td class="center"><a href="#" class="add-record"><img src="~/Images/IconControls/add-icon.png" alt="add record" /></a></td>
                    <td colspan="4"></td>
                </tr>
            </tfoot>
        </table>

        @Html.Partial("Paging", Model.PagingInfo)

        <script type="text/javascript">
            $(document).ready(function () {
                var addUrl = '@Url.Action("GetSchemaForAdd")';
                var editUrl = '@Url.Action("GetDataForEdit")';
                var saveUrl = '@Url.Action("SaveData")';
                var deleteUrl = '@Url.Action("DeleteData")';
                
                var adminfunc = new AdminFunction(addUrl, editUrl, saveUrl, getDataForSave, deleteUrl, 'Warning', 'Delete this record?');
                adminfunc.bind();
            });

            function getDataForSave(recordId) {
                var data = {
                    ID: recordId,
                    VNName: $('#vnName-' + recordId).val(),
                    ENName: $('#enName-' + recordId).val(),
                    Enable: $('#enable-' + recordId).prop('checked'),
                    SEQ: $('#seq-' + recordId).val()
                };
                return data;
            }
        </script>
    </div>
</div>
