@using SMS.Common.Enums
@using SMS.Common.Storage

<script id="order-tmpl" type="text/x-jquery-tmpl">
    <form id="form-table-order-${ID}">
        {{each(idx) OrderTables}}
        <div class="row" id="orderTable-${ID}">
            <div class="row div-header">
                <div class="eleven columns">
                    <span id="lblTableName" data-id="${ID}" data-labelID="lblTableName" class="link-label label-custom-label">Table name:</span><span class="label-custom-data"> ${Table.Name}</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span data-labelID="lblOrderBy" class="label-custom-label">Order by:</span><span class="label-custom-data"> ${CreatedUser}</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span data-labelID="lblOrderDate" class="label-custom-label">Order date:</span><span class="label-custom-data"> ${CreatedDate==null ? '' : CreatedDate.formatAsDateTime()}</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span data-labelID="lblLastAccessBy" class="label-custom-label">Last access by:</span><span class="label-custom-data"> ${ModifiedUser}</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span data-labelID="lblLastAccessDate" class="label-custom-label">Last access date:</span><span class="label-custom-data"> ${ModifiedDate==null ? '' : ModifiedDate.formatAsDateTime()}</span>
                </div>
                <div class="one columns right"><a href="#" id="removeTable-${ID}"><span class="ui-icon ui-icon-closethick float-right"></span></a></div>
            </div>
            <table id="order-${ID}" class="table-order">
                <colgroup>
                    <col class="col1" />
                    <col class="col2" />
                    <col class="col3" />
                    <col class="col4" />
                    <col class="col5" />
                    @if(SmsCache.BranchConfigs.Current.UseDiscountOnProduct)
                    {
                        <col class="col6" />
                    }
                    <col class="col7" />
                    <col class="col8" />
                    @if(SmsCache.BranchConfigs.Current.UseKitchenFunction)
                    {
                        <col class="col9" />
                    }
                    <col class="col10" />
                </colgroup>
                <thead>
                    <tr>
                        <th data-labelID="lblNo">No</th>
                        <th data-labelID="lblProductName">Product Name</th>
                        <th data-labelID="lblQuantity">Quantity</th>
                        <th data-labelID="lblUnit">Unit</th>
                        <th data-labelID="lblPrice">Price</th>
                        @if(SmsCache.BranchConfigs.Current.UseDiscountOnProduct)
                        {
                            <th data-labelID="lblDiscount">Discount</th>
                        }
                        <th data-labelID="lblAmount">Amount</th>
                        <th data-labelID="lblRemarks">Remarks</th>
                        @if(SmsCache.BranchConfigs.Current.UseKitchenFunction)
                        {
                            <th class="icon"><div id="sendToKitchen-${ID}" class="icon-transfer" title="Send all to kitchen" /></th>
                        }
                        <th></th>
                    </tr>
                </thead>
                <tbody id="table-detail-${ID}">
                    {{each(idx) OrderDetails}}
                    <tr id="${ID}">
                        <td class="sequence">${idx + 1}</td>
                        <td>${Product.Name} - ${Product.ProductCode}</td>
                        <td><input type="text" id="qty-${ID}" value="${Quantity.formatAsMoney()}" name="qty" class="required center" /></td>
                        <td>${Product.Unit.Name}</td>
                        <td class="right product-price">${Product.Price.formatAsMoney()}</td>

                        @if(SmsCache.BranchConfigs.Current.UseDiscountOnProduct)
                        {
                            <td><input type="text" id="discount-${ID}" class="required right" value="${Discount.formatAsMoney()}" /></td>
                        }
                        
                        <td class="right item_subtotal">${(Product.Price * Quantity - Discount).formatAsMoney()}</td>
                        <td>
                            <input type="text" id="cmt-${ID}" class="remarksInput" value="${Comment}" /></td>
                        
                        @if(SmsCache.BranchConfigs.Current.UseKitchenFunction)
                        {
                            <td class="center icon">
                                <div class="{{if OrderStatus == @((int)OrderStatus.Ordered)}}icon-transfer{{/if}}{{if OrderStatus == @((int)OrderStatus.SentToKitchen)}}icon-pending{{/if}}{{if OrderStatus == @((int)OrderStatus.KitchenAccepted)}}icon-accept{{/if}}{{if OrderStatus == @((int)OrderStatus.KitchenRejected)}}icon-reject{{/if}}{{if OrderStatus == @((int)OrderStatus.Done)}}icon-done{{/if}}" id="status-${ID}-${OrderStatus}" title="${GetOrderStatusName(OrderStatus)}{{if OrderStatus == @((int)OrderStatus.KitchenRejected)}}:${KitchenComment}{{/if}}"></div>
                            </td>
                        }
                        
                        <td class="center icon">
                            <div class="rmenu-delete" id="del-${ID}" title="Delete"></div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" class="vertical-top">
                            <a href="#" id="addProduct-${ID}"><img src="Images/IconControls/add-icon.png" alt="add record" /></a>
                        </td>
                        @{
                            var colspan = 8;
                            if (!SmsCache.BranchConfigs.Current.UseDiscountOnProduct)
                            {
                                colspan -= 1;
                            }
                            if(!SmsCache.BranchConfigs.Current.UseKitchenFunction)
                            {
                                colspan -= 1;
                            }
                        }
                        <td colspan="@colspan">
                            <div class="row">
                                <div class="two columns push_eight right"><span data-labelID="lblSubtotal">Sub total:</span></div>
                                <div class="two columns right"><span class="sub-total">0</span> @SmsCache.BranchConfigs.Current.Currency</div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        {{/each}}
        <div class="row" id="totalSection">
            <div class="row">
                <div class="center col1">&nbsp;</div>
                <div class="right col2"><span class="sum_amount">${SubTotal.formatAsMoney()}</span> @SmsCache.BranchConfigs.Current.Currency</div>
                <div class="left col3"><span data-labelID="lblSumAmount" class="label-custom-label">Sum Amount:</span></div>
                <div class="center col4">&nbsp;</div>
            </div>
            @if (SmsCache.BranchConfigs.Current.UseServiceFee)
            {
                <div class="row" id="ServiceFree">
                    <div class="center col1">&nbsp;</div>
                    <div class="right col2"><span class="fee">@SmsCache.BranchConfigs.Current.ServiceFee</span> @SmsCache.BranchConfigs.Current.Currency</div>
                    <div class="left col3"><span data-labelID="lblServiceFee" class="label-custom-label">Service Fee:</span></div>
                    <div class="center col4"><input type="checkbox" class="margin-top-control" id="chkUseServiceFee" checked="@SmsCache.BranchConfigs.Current.UseServiceFee" /></div>
                </div>
            }
            <div class="row" id="OtherFree">
                <div class="center col1">
                    <div class="icon-edit-info" id="edit-other-fee" data="${OtherFeeDescription}" title="${OtherFeeDescription}"></div>
                    <div class="icon-cancel-info" id="cancel-other-fee" title="Cancel"></div>
                </div>
                <div class="right col2">
                    <input type="text" id="txtOtherFee" class="required right hide" name="number" value="${OtherFee.formatAsMoney()}" title="Other fee" />
                    <input type="text" id="txtOtherFeeDescription" class="left hide" value="${OtherFeeDescription}" title="Other fee description" />
                    <span id="valueOtherFee">${OtherFee.formatAsMoney()} @SmsCache.BranchConfigs.Current.Currency</span>
                </div>
                <div class="left col3"><span data-labelID="lblOtherFee" class="label-custom-label">Other Fee:</span></div>
                <div class="center col4">&nbsp;</div>
            </div>
            <div class="row">
                <div class="center col1">
                    <div class="icon-edit-info" id="edit-discount" title="Edit"></div>
                    <div class="icon-cancel-info" id="cancel-discount" title="Cancel"></div>
                </div>
                <div class="right col2">
                    <div id="order-discount"></div>
                    <span class="discountAmount">-${DiscountAmount.formatAsMoney()}</span> <span id="discountCurrency">  @SmsCache.BranchConfigs.Current.Currency</span>
                </div>
                <div class="left col3"><span data-labelID="lblDicountAmount" class="label-custom-label">Discount Amount:</span></div>
                <div class="center col4">&nbsp;</div>
            </div>
            <div class="row">
                <div class="center col1">&nbsp;</div>
                <div class="right col2 border-top"><span class="total">${OrderAmount.formatAsMoney()}</span> @SmsCache.BranchConfigs.Current.Currency</div>
                <div class="left col3 border-top"><span data-labelID="lblTotal" class="label-custom-label">Total:</span></div>
                <div class="center col4">&nbsp;</div>
            </div>
            @foreach (var tax in SmsCache.BranchConfigs.Current.Taxs)
            {
                <div class="row" id="tax-@tax.Key">
                    <div class="center col1">&nbsp;</div>
                    <div class="right col2"><span id="tax-amount-@tax.Key">0</span> @SmsCache.BranchConfigs.Current.Currency</div>
                    <div class="left col3"><span class="label-custom-label">@tax.Key </span><span data-labelID="lblTax" class="label-custom-label" id="tax-value-@tax.Key">@tax.Value</span><span class="label-custom-label">%:</span></div>
                    <div class="center col4"><input type="checkbox" class="margin-top-control" id="chkUseTax-@tax.Key" checked="checked" /></div>
                </div>
            }
            <div class="row">
                <div class="center col1">&nbsp;</div>
                <div class="right col2 border-top"><span class="total_amount">0</span> @SmsCache.BranchConfigs.Current.Currency</div>
                <div class="left col3"><span data-labelID="lblTotalAmount" class="label-custom-label">Total Amount:</span></div>
                <div class="center col4">&nbsp;</div>
            </div>
        </div>
    </form>
</script>