@using SMS.Common
@using SMS.Common.Enums
@using SMS.Data.Dtos
@model SMS.MvcApplication.Models.AdminModel<ProductDto>

<script id="record-tmpl" type="text/x-jquery-tmpl">
    <tr class="admin-record-detail">
        <td colspan="8">
            <div class="detail" style="display: none;">
                <div class="row">
                    <div class="two columns right" data-labelID="lblCode">
                        Code
                    </div>
                    <div class="three columns">
                        <input type="text" name="catCode" value="${ProductCode}" id="catCode-${ID}" />
                    </div>
                    <div class="two columns right" data-labelID="lblPrice">
                        Price
                    </div>
                    <div class="three columns">
                        <input type="text" name="price" value="${Price}" id="price-${ID}" style="width: 30%;" class="right"/>
                    </div>
                </div>
                <div class="row">
                    <div class="two columns right" data-labelID="lblVNName">
                        VN Name
                    </div>
                    <div class="three columns" data-labelID="lblENName">
                        <input type="text" name="vnName" value="${VNName}" id="vnName-${ID}" />
                    </div>
                    <div class="two columns right" data-labelID="lblVNDescripton">
                        VN Description
                    </div>
                    <div class="three columns">
                        <input type="text" name="enName" value="${VNDescription}" id="vnDesc-${ID}" />
                    </div>
                </div>
                <div class="row">
                    <div class="two columns right" data-labelID="lblENName">
                        EN Name
                    </div>
                    <div class="three columns">
                        <input type="text" name="vnName" value="${ENName}" id="enName-${ID}" />
                    </div>
                    <div class="two columns right" data-labelID="lblENDescription">
                        EN Description
                    </div>
                    <div class="three columns">
                        <input type="text" name="enName" value="${ENDescription}" id="enDesc-${ID}" />
                    </div>
                </div>
                <div class="row">
                    <div class="two columns right" data-labelID="lblCategory">
                        Category
                    </div>
                    <div class="three columns">
                        <select name="categoryID" id="categoryID-${ID}">
                            @foreach (LanguageProductCategoryDto category in ViewBag.ListCategory)
                            {
                                <text>
                                    {{if ProductCategory != null && ProductCategory.ID == @category.ID}}
                                    <option value="@category.ID" selected>@category.Name</option>
                                    {{else}}
                                    <option value="@category.ID">@category.Name</option>
                                    {{/if}}
                                </text>
                            }
                        </select>
                    </div>
                    <div class="two columns right" data-labelID="lblEnable">
                        Enable
                    </div>
                    <div class="three columns">
                        {{if Enable}}
                        <input type="checkbox" name="enable" checked id="enable-${ID}"/>
                        {{else}}
                        <input type="checkbox" name="enable" id="enable-${ID}"/>
                        {{/if}}
                    </div>
                </div>
                <div class="row" data-labelID="lblUnit">
                    <div class="two columns right">
                        Unit
                    </div>
                    <div class="three columns">
                        <select name="unitID" id="unitID-${ID}">
                            @foreach (LanguageUnitDto unit in ViewBag.ListUnit)
                            {
                                <text>
                                    {{if Unit != null && Unit.ID == @unit.ID}}
                                    <option value="@unit.ID" selected>@unit.Name</option>
                                    {{else}}
                                    <option value="@unit.ID">@unit.Name</option>
                                    {{/if}}
                                </text>
                            }
                        </select>
                    </div>
                    <div class="two columns right" data-labelID="lblSEQ">
                        SEQ
                    </div>
                    <div class="three columns">
                        <input type="text" name="seq" value="{{if SEQ != 0}}${SEQ}{{/if}}" id="seq-${ID}" style="width: 30%;" class="right"/>
                    </div>
                </div>
                <div class="row">
                    <div class="eleven columns center">
                        <button id="save-${ID}" data-labelID="lblSave">Save</button>
                        <button id="cancel-${ID}" data-labelID="lblCancel">Cancel</button>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</script>

<div id="content">
    <div class="row">
        <h4 class="admin-page-title">Maintain Product</h4>
    </div>

    @Html.Partial("Search", Model.PagingInfo)

    <div class="row">
        <table id="record-table">
            <colgroup>
                <col style="width: 75px;" />
                <col style="width: 60px;" />
                <col style="width: 100px;" />
                <col />
                <col />
                <col style="width: 150px;" />
                <col style="width: 60px;" />
                <col style="width: 75px;" />
            </colgroup>
            <thead>
                <tr>
                    <th></th>
                    <th data-labelID="lblNo">No</th>
                    <th data-labelID="lblCode">Code</th>
                    <th data-labelID="lblName">Name</th>
                    <th data-labelID="lblDescription">Description</th>
                    <th data-labelID="lblCategory">Category</th>
                    <th data-labelID="lblSEQ">SEQ</th>
                    <th data-labelID="lblEnable">Enabled</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dto in Model.ListRecord)
                {
                    var altClass = Model.ListRecord.IndexOf(dto) % 2 != 0 ? "alt" : "";
                    <tr class="@altClass" data-id="@dto.ID">
                        <td>
                            <a href="#" class="del-record" data-id="@dto.ID"><img src="~/Images/IconControls/delete-icon.png" alt="delete record" /></a>
                            <a href="#" class="edit-record" data-id="@dto.ID"><img src="~/Images/IconControls/edit-icon.png" alt="edit record" /></a>
                        </td>
                        <td>@Html.Raw(Model.ListRecord.IndexOf(dto) + 1)</td>
                        <td>@dto.ProductCode</td>
                        @if(CommonObjects.Language == Language.Vietnamese)
                        {
                            <td>@dto.VNName</td>
                            <td>@dto.VNDescription</td>
                            <td>@dto.ProductCategory.VNName</td>
                        }
                        else
                        {
                            <td>@dto.ENName</td>
                            <td>@dto.ENDescription</td>
                            <td>@dto.ProductCategory.ENName</td>
                        }
                        <td>@dto.SEQ</td>
                        <td>@dto.Enable</td>
                    </tr>
                }
                
            </tbody>
            <tfoot>
                <tr>
                    <td class="center"><a href="#" class="add-record"><img src="~/Images/IconControls/add-icon.png" alt="add record" /></a></td>
                    <td colspan="7"></td>
                </tr>
            </tfoot>
        </table>

        @Html.Partial("Paging", Model.PagingInfo)

        <script type="text/javascript">
            $(document).ready(function () {
                var addUrl = '@Url.Action("GetSchemaForAdd")';
                var editUrl = '@Url.Action("GetDataForEdit")';
                var saveUrl = '@Url.Action("SaveData")';
                var deleteUrl = '@Url.Action("DeleteData")';
                
                var adminfunc = new AdminFunction(addUrl, editUrl, saveUrl, getDataForSave, deleteUrl, 'Warning', 'Delete this record?');
                adminfunc.bind();
            });

            function getDataForSave(recordId) {
                var data = {
                    ID: recordId,
                    ProductCode: $('#catCode-' + recordId).val(),
                    VNName: $('#vnName-' + recordId).val(),
                    ENName: $('#enName-' + recordId).val(),
                    VNDescription: $('#vnDesc-' + recordId).val(),
                    ENDescription: $('#enDesc-' + recordId).val(),
                    ProductCategory: {
                        ID: $('#categoryID-' + recordId).val()
                    },
                    Unit: {
                        ID: $('#unitID-' + recordId).val()
                    },
                    Price: $('#price-' + recordId).val(),
                    Enable: $('#enable-' + recordId).prop('checked'),
                    SEQ: $('#seq-' + recordId).val()
                };
                return data;
            }
        </script>
    </div>
</div>
