@using SMS.Common.Enums

<script id="orderedProducts-tmpl" type="text/x-jquery-tmpl">  
    {{if Data.length >0}}
    {{each(idx) Data}}
    <tr id="${ID}">
        <td>${idx+1}</td>
        <td>${Product.Name} - ${Product.ProductCode}</td>
        <td>${Quantity}</td>
        <td class="word-break">${Comment}</td>
        <td>
            <input type="text" id="kitchencmt-${ID}" value="${KitchenComment}" class="remarksInput"/>                          
        </td>         
        <td>
            <button id="btnRejected-${ID}"><span data-labelID="lblReject">Reject</span></button>
            <button id="btnAccept-${ID}"><span data-labelID="lblAccept">Accept</span></button>
            <button id="btnConfirmedAcceptAndDone-${ID}"><span data-labelID="lblAcceptAndDone">Accept & Done</span></button>
        </td>
    </tr> 
    {{/each}}
    {{else}}
    <tr>
        <td colspan="6">No Record</td>
    </tr>
    {{/if}}        
</script>

<script id="confirmedProducts-tmpl" type="text/x-jquery-tmpl">
    {{if Data.length > 0}}
    {{each(idx) Data}}                
    <tr id="${ID}">
        <td>${idx + 1}</td>
        <td>${Product.Name} - ${Product.ProductCode}</td>
        <td>${Quantity}</td>
        <td class="word-break">${Comment}</td>
        <td>
            <input type="text" id="confirmedkitchencmt-${ID}" value="${KitchenComment}" class="remarksInput"/>                          
        </td>         
        <td >
            <button id="btnConfirmedRejected-${ID}"><span data-labelID="lbConfirmedReject">Reject</span></button>
            <button id="btnConfirmedDone-${ID}"><span data-labelID="lbConfirmedDone">Done</span></button>
        </td>
                       
    </tr>
    {{/each}}
    {{else}}
    <tr>
        <td colspan="6">No Record</td>
    </tr>
    {{/if}} 
                    
</script>

<div id="content">
    <div class="row">
        <div id="radOrderedStatus">
            <input type="radio" id="radOrderedProducts" name="radio" checked="checked"><label for="radOrderedProducts">Ordered Products</label>
            <input type="radio" id="radAcceptedProducts" name="radio" ><label for="radAcceptedProducts">Accepted Products</label>
        </div>
    </div>
    <div class="row" id="orderedProducts">
        <table id="tblOrderedProducts">
            <colgroup>
                <col class="col1" />
                <col class="col2" />
                <col class="col3" />
                <col class="col4" />
                <col class="col5" />
                <col class="col6" />
            </colgroup>
            <thead>
                <tr>
                    <th>No</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Remarks</th>
                    <th>Kitchen remarks</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
               
            </tbody>
        </table>
    </div>
    <div class="row" id="confirmedProducts">       
        <table id="tblConfirmedProducts">
            <colgroup>
                <col class="col1" />
                <col class="col2" />
                <col class="col3" />
                <col class="col4" />
                <col class="col5" />
                <col class="col6" />
            </colgroup>
            <thead>
                <tr>
                    <th>No</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Remarks</th>
                    <th>Kitchen remarks</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#tblOrderedProducts').table();
        $('#tblConfirmedProducts').table();

        $("#radOrderedStatus" ).buttonset();
        if($('#radOrderedProducts').is(':checked')) {
            GetOrderedProducts();
            $('#confirmedProducts').hide();
        }
        $('#radOrderedProducts').click(function() {
            $('#radOrderedProducts').checked = true;
            GetOrderedProducts();
            $('#orderedProducts').show();
            $('#confirmedProducts').hide();
        });
        $('#radAcceptedProducts').click(function() {
            $('#radAcceptedProducts').checked = true;
            GetAcceptedProducts();
            $('#confirmedProducts').show();
            $('#orderedProducts').hide();
        });
    });
    
    function GetOrderedProducts() {
        $.post("@Url.Action("GetOrderedProducts")",
            function(orderedProducts) {
                $('#tblOrderedProducts tbody').html($('#orderedProducts-tmpl').tmpl(orderedProducts));
                $('button[id^="btnAccept"]').button({
                    icons: {
                        primary: "ui-icon-check"
                    }
                }).click(function() {
                    UpdateOrderedProductStatus(this, @((int)OrderStatus.KitchenAccepted));
                });

                $('button[id^="btnConfirmedAcceptAndDone"]').button({
                    icons: {
                        primary: "ui-icon-check"
                    }
                }).click(function() {
                    UpdateOrderedProductStatus(this, @((int)OrderStatus.Done));
                });

                $('button[id^="btnRejected"]').button({
                    icons: {
                        primary: "ui-icon-arrowreturnthick-1-w"
                    }
                }).click(function() {
                    updateKitchenComments(this, 'kitchencmt-');
                    UpdateOrderedProductStatus(this, @((int)OrderStatus.KitchenRejected));
                });
                $('#tblOrderedProducts').table();
            });
        }
    
        function GetAcceptedProducts() {
            $.post("@Url.Action("GetAcceptedProducts")",
            function(acceptedProducts) {

                $('#tblConfirmedProducts tbody').html($('#confirmedProducts-tmpl').tmpl(acceptedProducts));
                $('button[id^="btnConfirmedDone"]').button({
                    icons: {
                        primary: "ui-icon-check"
                    }
                }).click(function() {
                    UpdateOrderedProductStatus(this, @((int)OrderStatus.Done));
                });

                $('button[id^="btnConfirmedRejected"]').button({
                    icons: {
                        primary: "ui-icon-arrowreturnthick-1-w"
                    }
                }).click(function() {
                    UpdateOrderedProductStatus(this, @((int)OrderStatus.KitchenRejected));
                    updateKitchenComments(this, 'confirmedkitchencmt-');
                });
                $('#tblConfirmedProducts').table();
            });
        }
   
        function UpdateOrderedProductStatus(e, value) {
            var orderDetailId = $(e).attr('id').split('-')[1];
            
            $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateOrderedProductStatus")',
            data: { orderDetailID: orderDetailId, value: value }
        }).done(function (result) {
            if (!result.Success) {
                var popup = new MessagePopup('Thông báo',
                    'Có lỗi xảy ra trong quá trình thực thi.<br />Xin vui lòng thử lại sau.',
                    4,
                    function () {
                    });
                popup.OpenPopup();
            } else {
                if($('#radOrderedProducts').is(':checked')) {
                    GetOrderedProducts();
                }
                if($('#radAcceptedProducts').is(':checked')) {
                    GetAcceptedProducts();
                }
                    
            }
        });
    }
        
    function updateKitchenComments(e, name) {
        var colName = "kitchenComment";
        var orderDetailId = $(e).attr('id').split('-')[1];
        var value = $('#' + name + orderDetailId).val();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("UpdateOrderedProduct")',
            data: { orderDetailID: orderDetailId, columnName: colName, columnValue: value }
        }).done(function(result) {
            if (!result.Success) {
                var popup = new MessagePopup('Thông báo',
                    'Có lỗi xảy ra trong quá trình thực thi.<br />Xin vui lòng thử lại sau.',
                    4,
                    function() {
                    });

                popup.OpenPopup();
            }
        });
    }
</script>