@using SMS.MvcApplication.Models
@model GlobalLabelModel
@{
    ViewBag.Title = "Index";
}
<div id="content">
    <div class="row">
        <h4 class="admin-page-title">Change text for all common controls</h4>
    </div>
    <div class="row">
        <table id="globalLabel" class="no-border">
            <colgroup>
                <col style="width: 60px;" />
                <col style="width: 150px;" />
                <col />
                <col />
            </colgroup>
            <thead>
                <tr>
                    <th data-labelID="lblNo">No</th>
                    <th data-labelID="lblLabelID">Label ID</th>
                    <th data-labelID="lblVNText">VN Text</th>
                    <th data-labelID="lblENText">EN Text</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dto in Model.PageLabels)
                {
                    var altClass = Model.PageLabels.IndexOf(dto) % 2 != 0 ? "alt" : "";
                    <tr class="@altClass record-data" data-id="@dto.ID">
                        <td>@Html.Raw(Model.PageLabels.IndexOf(dto) + 1)</td>
                        <td id="labelID">@dto.LabelID</td>
                        <td><input type="text" value="@dto.VNText" id="vnText"/></td>
                        <td><input type="text" value="@dto.ENText" id="enText"/></td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td class="center" colspan="4"><button id="save" data-labelID="lblUpdate">Update</button></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('#globalLabel').table();

        $('#save').button({
            icons: {
                primary: "ui-icon-disk"
            }
        }).click(function() {
            var data = [];
            $('#globalLabel .record-data').each(function () {
                var lblId = $(this).find('#labelID').text();
                var vnText = $(this).find('#vnText').val();
                var enText = $(this).find('#enText').val();

                data[data.length] = { LabelID: lblId, VNText: vnText, ENText: enText };
            });

            $.ajax({
                type: 'POST',
                url: '@Url.Action("Save")',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ listLabels: data })
            }).done(function (result) {
                if (result.Success)
                    location.reload();
            });
            return false;
        });
    });
</script>