@using SMS.Common.Constant
@using SMS.Common.Storage
@using SMS.MvcApplication.Models
@model GlobalLabelModel

<div id="content">
    <div class="row admin-page-title">
        <h4>Change text for all common controls</h4>
    </div>
    
    <table id="record-table" class="display">
        <thead>
            <tr>
                <th data-labelID="lblNo">No</th>
                <th data-labelID="lblLabelID">Label ID</th>
                <th data-labelID="lblVNText">VN Text</th>
                <th data-labelID="lblENText">EN Text</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dto in Model.PageLabels)
            {
                <tr class="record-data" data-id="@dto.ID">
                    <td>@Html.Raw(Model.PageLabels.IndexOf(dto) + 1)</td>
                    <td id="labelID">@dto.LabelID</td>
                    <td><input type="text" value="@dto.VNText" id="vnText"/></td>
                    <td><input type="text" value="@dto.ENText" id="enText"/></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td class="center" colspan="4"><button id="save" data-labelID="lblUpdate">Update</button></td>
            </tr>
        </tfoot>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('#record-table').DataTable({
            "pageLength": @SmsCache.UserContext.PageSize,
            scrollY: "350px",
            searching: true,
            ordering: true,
            "info": true,
            "lengthChange": false,
            "jQueryUI": true,
            paging: true,
            language: {
                "emptyTable": CONST_DATATABLE_NODATA,
                "info": CONST_DATATABLE_SHOWINGRECORDS,
                "infoEmpty": CONST_DATATABLE_NOENTRIES,
                "infoFiltered": CONST_DATATABLE_FILTER,
                "lengthMenu": CONST_DATATABLE_SHOWENTRIES,
                "search": CONST_DATATABLE_SEARCH,
                "zeroRecords": CONST_DATATABLE_NOMATCHINGDATA,
                "paginate": {
                    "first": CONST_DATATABLE_FIRST,
                    "last": CONST_DATATABLE_LAST,
                    "next": CONST_DATATABLE_NEXT,
                    "previous": CONST_DATATABLE_PREVIOUS
                }
            }
        });
        
        function setDefaultContent() {
            // set height content datatable
            var contentHeight = $('#content').height() - $('#content .admin-page-title').height();
            var height1 = 0;
            $('#record-table_wrapper > .ui-widget-header').each(function (idx, element) {
                height1 += $(element).outerHeight();
            });
            var height2 = $('#record-table_wrapper > .dataTables_scroll > .dataTables_scrollHead').outerHeight();
            var height3 = $('#record-table_wrapper > .dataTables_scroll > .dataTables_scrollFoot').outerHeight();
            var targetHeight = contentHeight - height1 - height2 - height3 - 10; // subtract 2 more px due to the border and padding bottom
            $('#record-table_wrapper > .dataTables_scroll > .dataTables_scrollBody').css('height', targetHeight + 'px');

            // fix column header datatable
            $(' .dataTables_scrollHeadInner, .dataTables_scrollHeadInner > table').css('width', '').css('padding-left', '');
            var headerColumns = $(' .dataTables_scrollHead table > thead > tr:first-child th');
            var columns = $('#record-table > tbody > tr:first-child td');
            for (var i = 0; i < columns.length; i++) {
                $(headerColumns[i]).css('width', $(columns[i]).width());
            }
            var widthHeader = $('.dataTables_scrollHead').outerWidth();
            var widthContent = $('#record-table').outerWidth();
            $(' .dataTables_scrollHeadInner').css('padding-right', (widthHeader - widthContent) + 'px');
        }
        
        setDefaultContent();
        
        $(window).resize(function () {
            setDefaultContent();
        });

        $('#save').button({
            icons: {
                primary: "ui-icon-disk"
            }
        }).click(function() {
            var data = [];
            $('#record-table .record-data').each(function () {
                var lblId = $(this).find('#labelID').text();
                var vnText = $(this).find('#vnText').val();
                var enText = $(this).find('#enText').val();

                data[data.length] = { LabelID: lblId, VNText: vnText, ENText: enText, Page: { ID: '@ConstConfig.NoBranchID' } };
            });

            $.ajax({
                type: 'POST',
                url: '@Url.Action("Save")',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ listLabels: data })
            }).done(function (result) {
                if (result.Success)
                    location.reload();
            });
            return false;
        });
    });
</script>