@using Core.Common.Session
@using SMS.Common
@using SMS.MvcApplication.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Shop management system</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/themes/base/css")
    <link href="~/Content/themes/@ConfigReader.GetTheme()/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/themes/@ConfigReader.GetTheme()/jquery.ui.theme.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript" src="~/Scripts/labelController.js"></script>
    <script type="text/javascript">
        var labelDictionary = @Html.Raw(Json.Encode(LabelDictionary));
        $(document).ready(function() {
            var labelController = new LabelController(labelDictionary, '#page-label-multi-edit', '#editLabelPopup');
            labelController.ScanElements();
            @if(UserContext.IsSystemAdmin)
            
            {
                <text>
            labelController.BuildEditControl(@ViewData[SMS.Common.Constant.ConstConfig.PageIDKey]);
                </text>
            }
        });
    </script>
</head>
<body>
    @Html.Partial("EditLabelPopup", new PopupModel { PopupID = "editLabelPopup", PopupTitle = "Edit Labels" })
    @Html.Partial("PrintInvoicePreview", new PopupModel { PopupID = "printPreviewPopup", PopupTitle = "Print Preview" })

    <div class="ui-helper-clearfix">
        <div id="leftmenu">
            <div>
                <div id="logo">
                    <a href="@Url.Action("Index", "Home")"><img src="~/Images/logo.jpg" alt="logo"/></a>
                </div>
                <nav class="border-bottom">
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Administrator", "Index", "AdminHome", new { area = "Administrator" }, null)</li>
                        <li>@Html.ActionLink("Configuration", "Index", "ConfigurationHome", new { area = "Configuration" }, null)</li>
                        <li>@Html.ActionLink("Cashier", "Index", "Cashier", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Kitchen", "Index", "Kitchen", new { area = "" }, null)</li>
                    </ul>
                </nav>
                <ul id="user">
                    @if(UserContext.IsSystemAdmin)
                    {
                        <li><a href="#" id="page-label-multi-edit">Edit Label</a></li>
                    }
                </ul>
                <ul id="language">
                    
                    @{
                        var classVN = "";
                        var classEN = "";
                        if (UserContext.Language == Language.English)
                        {
                            classEN = "class=\"hide\"";
                        }
                        if (UserContext.Language == Language.Vietnamese)
                        {
                            classVN = "class=\"hide\"";
                        }
                    }
                    
                    <li @Html.Raw(classVN)><a href="#" id="change-language-vn"><img src="~/Images/flag-vn.png" alt="vn"/> <span data-globalLabelID="lblLanguageVN">Vietnamese</span></a></li>
                    <li @Html.Raw(classEN)><a href="#" id="change-language-en"><img src="~/Images/flag-uk.png" alt="vn"/> <span data-globalLabelID="lblLanguageEN">English</span></a></li>
                </ul> 

                <script type="text/javascript">
                    $('#change-language-vn').click(function () {
                        changeLanguage(@((int)Language.Vietnamese));
                        return false;
                    });
    
                    $('#change-language-en').click(function () {
                        changeLanguage(@((int)Language.English));
                        return false;
                    });
    
                    function changeLanguage(id) {
                        $.ajax({
                            type: 'POST',
                            url: location.pathname + '/ChangeLanguage',
                            data: { language: id }
                        }).done(function (result) {
                            if(result.Success)
                                location.reload();
                        });
                    }
                </script>
            </div>
        </div>
        <div id="leftmenuExpander">
            <a href="#" id="expander" class="expanded">&lt;</a>
        </div>
        <div id="body" class="border-left">
            <section>
                @if (ViewContext.RouteData.DataTokens["area"] != null && ViewContext.RouteData.DataTokens["area"].ToString() == "Administrator")
                {
                    var adminMenu = new List<HyperlinkModel>
                                    {
                                        new HyperlinkModel { Text = "Area", ActionName = "Index", ControllerName = "Area", AreaName = "Administrator" },
                                        new HyperlinkModel { Text = "Table", ActionName = "Index", ControllerName = "Table", AreaName = "Administrator" },
                                        new HyperlinkModel { Text = "Category", ActionName = "Index", ControllerName = "ProductCategory", AreaName = "Administrator" },
                                    };
                    <div id="admin-menu" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
                        <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                            @foreach (var menu in adminMenu)
                            {
                                var selectedClass = ViewContext.RouteData.Values["controller"].ToString() == menu.ControllerName
                                    ? "ui-tabs-active ui-state-active"
                                    : "";
                                
                                <li class="ui-state-default ui-corner-top @Html.Raw(selectedClass)">
                                    @Html.ActionLink(menu.Text, menu.ActionName, menu.ControllerName, new { area = menu.AreaName }, new { @class = "ui-tabs-anchor" })
                                </li>
                            }
                        </ul>   
                    </div>
                    <script type="text/javascript" src="@Url.Content("~/Scripts/admin-function.js")"></script>
                    <script type="text/javascript">
                        $(document).ready(function() {
                            $('#admin-menu li').hover(function() {
                                $(this).addClass('ui-state-hover');
                            }, function() {
                                $(this).removeClass('ui-state-hover');
                            });
                        });
                    </script>
                }
                @if (ViewContext.RouteData.DataTokens["area"] != null && ViewContext.RouteData.DataTokens["area"].ToString() == "Configuration")
                {
                    var configMenu = new List<HyperlinkModel>
                                    {
                                        new HyperlinkModel { Text = "Global label", ActionName = "Index", ControllerName = "GlobalLabel", AreaName = "Configuration" },
                                    };
                    <div id="config-menu" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
                        <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                            @foreach (var menu in configMenu)
                            {
                                var selectedClass = ViewContext.RouteData.Values["controller"].ToString() == menu.ControllerName
                                    ? "ui-tabs-active ui-state-active"
                                    : "";
                                
                                <li class="ui-state-default ui-corner-top @Html.Raw(selectedClass)">
                                    @Html.ActionLink(menu.Text, menu.ActionName, menu.ControllerName, new { area = menu.AreaName }, new { @class = "ui-tabs-anchor" })
                                </li>
                            }
                        </ul>   
                    </div>
                    <script type="text/javascript" src="@Url.Content("~/Scripts/admin-function.js")"></script>
                    <script type="text/javascript">
                        $(document).ready(function() {
                            $('#config-menu li').hover(function() {
                                $(this).addClass('ui-state-hover');
                            }, function() {
                                $(this).removeClass('ui-state-hover');
                            });
                        });
                    </script>
                }
                @RenderBody()
            </section>
        </div>
    </div>

    @*<footer id="footer">
        &copy; @DateTime.Now.Year - My ASP.NET MVC Application
    </footer>*@
    @Html.Partial("MessagePopup")
    @Html.Partial("AjaxLoader")
    @RenderSection("scripts", required: false)
</body>
</html>
