@model SMS.MvcApplication.Models.SearchPopupModel

<div title="@Model.PopupTitle" id="@Model.PopupId" class="hide">
    <form onkeypress="return event.keyCode != 13;">
        <fieldset>
            <input type="text" name="textSearch" class="textSearch">
            <input type="hidden" class="lastTextSearch" name="lastTextSearch">
            <div class="twelve searchDiv">
                <input type="button" class="button popupSearch"  value="Search">
            </div>
            <div id="scroll_box" class="twelve">
                <table class="twelve tableContent">
                    <tbody class="tbContentLookup">
                    </tbody>
                </table>
                <table class="twelve listLookupEmpty">
                    <tr>
                        <td style="width: auto; background-color: #ffffff;">No product available
                        </td>
                    </tr>
                </table>
            </div>
            @*<div class="eight columns">
                <ul class="pagination">
                </ul>
            </div>*@
            <div class="four columns totalRecords">
                <span></span>
            </div>
        </fieldset>
        <div class="twelve footerDiv">
            <input type="button" class="button popupSelect" value="Select">
            <input type="button" class="button secondary popupClose" value="Close">
        </div>
        <input type="hidden" id="checkedIds" value=""/>
    </form>
</div>

<script src="@Url.Content("~/Scripts/popup.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.tmpl.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.tmplPlus.js")"></script>
<script id="popup-content-@Model.PopupId" type="text/x-jquery-tmpl">  
    {{each ListResult}}
    <tr>
        <td style="width: 70%">
            ${VNName}</td>
        <td style="width: 30%">${Price}</td>
    </tr>
    {{/each}}
</script>
<script>
    $('#@Model.PopupId').keypress(function (e) {
        if (e.which == 13) {
            $('#@Model.PopupId .popupLookupSearch').trigger('click');
        }
    });
</script>