@using SMS.Common.Session
@using SMS.Common
@using SMS.MvcApplication.Models
@using SMS.Common.Constant
@model CashierModel
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/Content/css/split-pane.css" />
<link rel="stylesheet" type="text/css" media="print" href="~/Content/css/print.css" />
<script type="text/javascript" src="~/Scripts/split-pane.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.js"></script>
<script type="text/javascript" src="~/Scripts/custom-validate.js"></script>
<script type="text/javascript">
    var listProduct = @Html.Raw(Json.Encode(Model.ListProduct));
    var listArea = @Html.Raw(Json.Encode(Model.ListArea));
    var serviceFee = @BranchConfig.ServiceFee;
    var useServiceFee = "@BranchConfig.UseServiceFee";
    var currency = "@BranchConfig.Currency";
</script>
<script id="order-tmpl" type="text/x-jquery-tmpl">
    <form id="form-table-order-${ID}">
        {{each(idx) OrderTables}}
        <div class="row" id="orderTable-${ID}">
            <div class="row div-header">
                <div class="eleven columns">
                    <span id="lblTableName" data-id="${ID}" data-labelID="lblTableName" class="link-label label-custom-label">Table name: </span><span class="label-custom-data">&nbsp;${Table.Name}</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span data-labelID="lblOrderBy" class="label-custom-label">Order by: </span><span class="label-custom-data">${CreatedUser}</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span data-labelID="lblOrderDate" class="label-custom-label">Order date: </span><span class="label-custom-data">${CreatedDate==null ? '' : CreatedDate.formatAsDateTime()}</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span data-labelID="lblLastAccessBy" class="label-custom-label">Last access by: </span><span class="label-custom-data">${ModifiedUser}</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span data-labelID="lblLastAccessDate" class="label-custom-label">Last access date: </span><span class="label-custom-data">${ModifiedDate==null ? '' : ModifiedDate.formatAsDateTime()}</span>
                </div>
                <div class="one columns right"><a href="#" id="removeTable-${ID}"><span class="ui-icon ui-icon-closethick float-right"></span></a></div>
            </div>
            <table id="order-${ID}" class="table-order">
                <colgroup>
                    <col class="col1" />
                    <col class="col2" />
                    <col class="col3" />
                    <col class="col4" />
                    <col class="col5" />
                    @if(BranchConfig.UseDiscountOnProduct)
                    {
                        <col class="col6" />
                    }
                    <col class="col7" />
                    <col class="col8" />
                    @if(BranchConfig.UseKitchenFunction)
                    {
                        <col class="col9" />
                    }
                    <col class="col10" />
                </colgroup>
                <thead>
                    <tr>
                        <th><span data-labelID="lblNo">No</span></th>
                        <th><span data-labelID="lblProductName">Product Name</span></th>
                        <th><span data-labelID="lblQuantity">Quantity</span></th>
                        <th><span data-labelID="lblUnit">Unit</span></th>
                        <th><span data-labelID="lblPrice">Price</span></th>
                        @if(BranchConfig.UseDiscountOnProduct)
                        {
                            <th><span data-labelID="lblDiscount">Discount</span></th>
                        }
                        <th><span data-labelID="lblAmount">Amount</span></th>
                        <th><span data-labelID="lblRemarks">Remarks</span></th>
                        @if(BranchConfig.UseKitchenFunction)
                        {
                            <th></th>
                        }
                        <th></th>
                    </tr>
                </thead>
                <tbody id="table-detail-${ID}">
                    {{each(idx) OrderDetails}}
                    <tr id="${ID}">
                        <td class="sequence">${idx + 1}</td>
                        <td>${Product.Name} - ${Product.ProductCode}</td>
                        <td><input type="text" id="qty-${ID}" value="${Quantity.formatAsMoney()}" name="qty" class="required center" /></td>
                        <td>${Product.Unit.Name}</td>
                        <td class="right product-price">${Product.Price.formatAsMoney()}</td>

                        @if(BranchConfig.UseDiscountOnProduct)
                        {
                            <td><input type="text" id="discount-${ID}" class="required right" name="discount" value="${Discount.formatAsMoney()}" /></td>
                        }
                        
                        <td class="right item_subtotal">${(Product.Price * Quantity - Discount).formatAsMoney()}</td>
                        <td>
                            <input type="text" id="cmt-${ID}" class="remarksInput" value="${Comment}" /></td>
                        
                        @if(BranchConfig.UseKitchenFunction)
                        {
                            <td class="center icon">
                                <div class="{{if OrderStatus.ID == 1}}icon-transfer{{/if}}{{if OrderStatus.ID == 2}}icon-pending{{/if}}{{if OrderStatus.ID == 3}}icon-accept{{/if}}{{if OrderStatus.ID == 4}}icon-reject{{/if}}{{if OrderStatus.ID == 5}}icon-done{{/if}}" id="status-${ID}-${OrderStatus.ID}" title="${OrderStatus.Name}"></div>
                            </td>
                        }
                        
                        <td class="center icon">
                            <div class="rmenu-delete" id="del-${ID}" title="Delete"></div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" class="vertical-top">
                            <a href="#" id="addProduct-${ID}"><img src="Images/IconControls/add-icon.png" alt="add record" /></a>
                        </td>
                        @{
                            var colspan = 8;
                            if (!BranchConfig.UseDiscountOnProduct)
                            {
                                colspan -= 1;
                            }
                            if(!BranchConfig.UseKitchenFunction)
                            {
                                colspan -= 1;
                            }
                        }
                        <td colspan="@colspan">
                            <div class="row">
                                <div class="two columns push_eight right"><span data-labelID="lblSubtotal">Sub total:</span></div>
                                <div class="two columns right"><span class="sub-total">0</span> @BranchConfig.Currency</div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        {{/each}}
        <div class="row" id="totalSection">
            <div class="row">
                <div class="center col1">&nbsp;</div>
                <div class="right col2"><span class="sum_amount">0</span> @BranchConfig.Currency</div>
                <div class="left col3"><span data-labelID="lblSumAmount" class="label-custom-label">Sum Amount:</span></div>
                <div class="center col4">&nbsp;</div>
            </div>
            @if (BranchConfig.UseServiceFee)
            {
                <div class="row" id="ServiceFree">
                    <div class="center col1">&nbsp;</div>
                    <div class="right col2"><span class="fee">@BranchConfig.ServiceFee</span> @BranchConfig.Currency</div>
                    <div class="left col3"><span data-labelID="lblServiceFee" class="label-custom-label">Service Fee:</span></div>
                    <div class="center col4"><input type="checkbox" id="chkUseServiceFee" checked="@BranchConfig.UseServiceFee" /></div>
                </div>
            }
            <div class="row" id="OtherFree">
                <div class="center col1"><div class="icon-edit-info" id="edit-other-fee" data="${OtherFeeDescription}" title="${OtherFeeDescription}"></div></div>
                <div class="right col2">
                    <input type="text" id="txtOtherFee" class="required right hide" name="discount" value="${OtherFee.formatAsMoney()}" title="Other fee" />
                    <input type="text" id="txtOtherFeeDescription" class="required left hide" value="${OtherFeeDescription}" title="Other fee description" />
                    <span id="valueOtherFee">${OtherFee.formatAsMoney()} @BranchConfig.Currency</span>
                </div>
                <div class="left col3"><span data-labelID="lblOtherFee" class="label-custom-label">Other Fee:</span></div>
                <div class="center col4">&nbsp;</div>
            </div>
            @foreach (var tax in BranchConfig.Taxs)
            {
                <div class="row" id="tax-@tax.Key">
                    <div class="center col1">&nbsp;</div>
                    <div class="right col2"><span id="tax-amount-@tax.Key">0</span> @BranchConfig.Currency</div>
                    <div class="left col3"><span class="label-custom-label">@tax.Key </span><span data-labelID="lblTax" class="label-custom-label" id="tax-value-@tax.Key">@tax.Value</span><span class="label-custom-label">%:</span></div>
                    <div class="center col4"><input type="checkbox" id="chkUseTax-@tax.Key" checked="@BranchConfig.UseServiceFee" /></div>
                </div>
            }
            <div class="row">
                <div class="center col1">&nbsp;</div>
                <div class="right col2 border-top"><span class="total_amount">0</span> @BranchConfig.Currency</div>
                <div class="left col3"><span data-labelID="lblTotalAmount" class="label-custom-label">Total Amount:</span></div>
                <div class="center col4">&nbsp;</div>
            </div>
        </div>
    </form>
</script>
<script id="ordertable-tmpl" type="text/x-jquery-tmpl">
    {{each(idx) OrderDetails}}
    <tr id="${ID}">
        <td class="sequence">${idx + 1}</td>
        <td>${Product.Name} - ${Product.ProductCode}</td>
        <td>
            <input type="text" id="qty-${ID}" value="${Quantity.formatAsMoney()}" name="qty" class="required center" />
        </td>
        <td>${Product.Unit.Name}</td>
        <td class="right product-price">${Product.Price.formatAsMoney()}</td>
        @if(BranchConfig.UseDiscountOnProduct)
        {
            <td><input type="text" id="discount-${ID}" class="required right" name="discount" value="${Discount.formatAsMoney()}" /></td>
        }
        <td class="right item_subtotal">${(Product.Price * Quantity - Discount).formatAsMoney()}</td>
        <td>
            <input type="text" id="cmt-${ID}" class="remarksInput" value="${Comment}" /></td>
        @if(BranchConfig.UseKitchenFunction)
        {
            <td class="center icon">
                <div class="{{if OrderStatus.ID == 1}}icon-transfer{{/if}}{{if OrderStatus.ID == 2}}icon-pending{{/if}}{{if OrderStatus.ID == 3}}icon-accept{{/if}}{{if OrderStatus.ID == 4}}icon-reject{{/if}}{{if OrderStatus.ID == 5}}icon-done{{/if}}" id="status-${ID}-${OrderStatus.ID}" title="${OrderStatus.Name}"></div>
            </td>
        }
        <td class="center icon">
            <div class="rmenu-delete" id="del-${ID}" title="Delete"></div>
        </td>
    </tr>
    {{/each}}    
</script>
<script id="table-tmpl" type="text/x-jquery-tmpl">
    {{each(idx) Data}}
    {{if idx % @ConstStyle.GridNumber == 0}}
    <div class='row' style="padding-top: 10px;">
        {{/if}}
        <div class="one column">
            <table class="tbls" id="${ID}-${Table.ID}-{{if Order != null}}${Order.ID}{{else}}0{{/if}}" title="${Table.Name}{{if Order != null}}-${Order.OrderNumber}{{/if}}">
                <tr>
                    <td class="table {{if ID > 0}}available{{else}}not-available{{/if}}"></td>
                </tr>
                <tr>
                    <td>${Table.Name}</td>
                </tr>
            </table>
        </div>
            
        {{if idx == $data.Data.length || idx % @ConstStyle.GridNumber == @ConstStyle.GridNumber - 1}}
    </div>
    {{/if}}
    {{/each}}
</script>
<script type="text/x-jquery-tmpl" id="invoice-preview-tmpl">
    <table id="ord-table">
        <colgroup>
            <col class="col1" />
            <col class="col2" />
            <col class="col3" />
            <col class="col4" />
            <col class="col5" />
        </colgroup>
        <thead>
            <tr>
                <th>No</th>
                <th>Product Code</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {{each(idx) Data.InvoiceDetails}}
            <tr>
                <td>${idx + 1}</td>
                <td>${ProductCode}</td>
                <td>${ProductName}</td>
                <td class="right">${Quantity}</td>
                <td class="right">${(Price * Quantity).formatAsMoney()}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</script>

<div id="cashier" class="split-pane horizontal-percent">
    <div id="area-table" class="split-pane-component">
        <ul id="areas">
            <li><a href="#area-0" data-labelID="lblAllArea">All</a></li>
            @foreach (var area in Model.ListArea)
            {
                <li><a href="#area-@area.ID">@area.Name</a></li>
            }

        </ul>
        <div id="tables">
            <div id="area-0"></div>
            @foreach (var areaDto in Model.ListArea)
            {
                <div id="area-@areaDto.ID"></div>
            }
        </div>
    </div>

    <div class="split-pane-divider"></div>
    
    <div id="tableorder" class="split-pane-component">
        <input type="hidden" id="curOrderID" value="-1" />
        <input type="hidden" id="curOrderTableID" value="-1" />
        <div class="row border-bottom div-header" id="order-header">
            <div class="four columns">
                <span data-labelID="lblOrderNumber" class="label-custom-label">Order Number:</span> <span id="curOrderNumber" class="label-custom-data"></span>
            </div>
            <div class="eight columns">
                <span data-labelID="lblCustomerName" id="lblCustomerName" class="link-label label-custom-label">Customer name:</span>&nbsp;
                <span id="curCustomerName" class="label-custom-data"></span>
            </div>
        </div>
        
        <div id="order-detail">
            <div class="row" id="tblContent"></div>
            <div class="row" id="button-payment">
                <div class="four columns right border-top payment">
                    <button id="payment"><span data-labelID="lblPayment">Thanh toán</span></button>
                    <button id="printInvoice"><span data-labelID="lblPrintInvoice">In trước hóa đơn</span></button>
                </div>
            </div>
        </div>
    </div>
    
    <table class="Rmenu" id="right-menu">
        <tr id="rmenu-detail">
            <td>
                <div class="rmenu-detail"></div>
            </td>
            <td class="RmenuItem"><span data-labelID="lblDetail">Chi tiết</span></td>
        </tr>
        <tr id="rmenu-useTable">
            <td>
                <div class="rmenu-add"></div>
            </td>
            <td class="RmenuItem"><span data-labelID="lblUseNow">Sử dụng ngay</span></td>
        </tr>
        <tr id="rmenu-move">
            <td>
                <div class="rmenu-move"></div>
            </td>
            <td class="RmenuItem"><span data-labelID="lblMoveTable">Chuyển bàn</span></td>
        </tr>
        <tr id="rmenu-pooling">
            <td>
                <div class="rmenu-pooling"></div>
            </td>
            <td class="RmenuItem"><span data-labelID="lblPoolingTable">Nhập bàn</span></td>
        </tr>
        <tr id="rmenu-del">
            <td>
                <div class="rmenu-delete"></div>
            </td>
            <td class="RmenuItem"><span data-labelID="lblDelete">Xóa thông tin</span></td>
        </tr>
    </table>
    <table class="Rmenu" id="changeCustomer">
        <tr>
            <td>
                <div class="menu-customer"></div>
            </td>
            <td class="RmenuItem"><span data-labelID="lblChangeCustomer">Change Customer</span></td>
        </tr>
    </table>
    <table class="Rmenu" id="changeTable">
        <tr>
            <td>
                <div class="rmenu-move"></div>
            </td>
            <td class="RmenuItem"><span data-labelID="lblMoveTable">Chuyển bàn</span></td>
        </tr>
    </table>
    <table class="Rmenu" id="mainRightMenu">
        <tr>
            <td>
                <div class="menu-reload"></div>
            </td>
            <td class="RmenuItem">Refresh</td>
        </tr>
    </table>

    @Html.Partial("SearchProductPopup", new PopupModel { PopupID = "pdtPopup", PopupTitle = "Search Product" })
    @Html.Partial("PaymentPopup", new PopupModel { PopupID = "pdtPayment", PopupTitle = "Payment" })
    @Html.Partial("DestinationTablePopup", new PopupModel { PopupID = "destinationTablePopup", PopupTitle = "Select destination table" })
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(document).tooltip();
        $('div.split-pane').splitPane();
        var paneheight = @SmsSystem.UserContext.ListTableHeight + '%';
        $('#area-table, .split-pane-divider').css('bottom', paneheight);
        $('#tableorder').css('height', paneheight);

        var tabindex = $('#areas li a').index($('#areas li a[href="#area-@SmsSystem.UserContext.DefaultAreaID"]'));
        if (tabindex < 0)
            tabindex = 0;
        $('#area-table').tabs({ active: tabindex });
        
        $("#payment").button({
            icons: {
                primary: "ui-icon-check"
            }
        }).click(function() {
            var payment = new PaymentPopup("pdtPayment", 800, '@Url.Action("GetDataForPayment")', getCurrentOrderId , 'payment-detail-pdtPayment');
            payment.OpenPopup();
            return false;
        });

        $('#printInvoice').button({
            icons: {
                primary: "ui-icon-print"
            }
        }).click(function () {
            var invoice = new PrintPreviewPopup(400, '@Url.Action("GetDataForPreviewInvoice")', getCurrentOrderId, null, $('#invoice-preview-tmpl'));
            invoice.OpenPopup();
            return false;
        });
        
        $('#button-payment').hide();
        $('#order-header').hide();

        refreshTableArea();
            
        setInterval(function() {
            refreshTableArea();
        }, 60000);
        
        setInterval(function() {
            refreshOrderArea();
        }, 120000);

        CalculateTotal();
    });
    
    $(document).on("click", '#areas li a[href*="area-"]', (function(e) {
        GetTablesByAreaID($(e.target).attr('href').split('-')[1]);
    }));
    
    $(document).on("click", 'a[id^="addProduct-"]', (function(e){
        var product = new SearchProductPopup("pdtPopup", listProduct, onRefreshProduct, onSelectProduct);
        product.OpenPopup();
        $('#curOrderTableID').val($(e.currentTarget).attr('id').split('-')[1]);
        return false;
    }));
    
    $(document).on("click", 'tr[id^="rmenu-"]', (function(){
        onSelectedItem(this);
    }));

    $(document).on("dblclick", ".tbls", (function(e) {
        $(".tbls").removeClass('selected');
        $(e.target).parents('.tbls').addClass('selected');
        var id = $(e.target).parents('.tbls').attr('id');
        var orderTableId = id.split('-')[0];
        var tblId = id.split('-')[1];
        var orderId = id.split('-')[2];
        if(orderTableId == 0) {
            var popup = new MessagePopup('Thông báo',
                'Bàn này hiện đang trống.<br />Sử dụng ngay?',
                3,
                function () {
                    onCheckTableStatus(orderTableId, tblId);
                });
            
            popup.OpenPopup();
        } else {
            onSelectOrderTable(orderTableId, orderId);
        }
    }));
        
    $(document).on("contextmenu", "#cashier", function(e) {
        if($(e.target).parents('.tbls').length <= 0) {
            $("#right-menu").hide();
            //displayCustomMenu('#mainRightMenu', e);
        } else {
            $('#mainRightMenu').hide();
            if (!$(e.target).parents('.tbls').hasClass('selected')) {
                $(".tbls").removeClass('selected');
                $(e.target).parents('.tbls').addClass('selected');
            }

            displayCustomMenu('#right-menu', e);
        }
    });
        
    $(document).click(function(e) {
        $("#right-menu").hide();
        $('#mainRightMenu').hide();
        
        if(!$(e.target).parents('table').hasClass('tbls')) {
            if ($(e.target).parents('#area-table').length > 0 || $(e.target).attr('id') == 'area-table')
                $(".tbls").removeClass('selected');
        }

        if(!$(e.target).hasClass('link-label') || $(e.target).attr('id') == null) {
            $("#changeCustomer").hide();
            $("#changeTable").hide();
        }
    });
    
    $(document).on("click", ".tbls", (function(e){
        if(e.ctrlKey) {
            if ($(e.target).parents('.tbls').hasClass('selected')) {
                $(e.target).parents('.tbls').removeClass('selected');
            } else {
                $(e.target).parents('.tbls').addClass('selected');
            }
        } else {
            $(".tbls").removeClass('selected');
            $(e.target).parents('.tbls').addClass('selected');
        }
    }));
        
    $(document).on("click", "#payment", (function(){
        var orderId = $('#curOrderID').val();
        if(orderId > 0) {
            var popup = new MessagePopup('Thông báo',
                'Bàn đã sẵn sàng để thanh toán.<br />Thanh toán ngay?',
                3,
                function () {
                    alert('abe');
                });
            
            popup.OpenPopup();
        }
    }));

    $(document).on("click", ".link-label", (function(e){
        $("#changeCustomer").hide();
        $("#changeTable").hide();
        if($(e.currentTarget).attr('id') == 'lblCustomerName')
            displayCustomMenu('#changeCustomer', e);
        else if ($(e.currentTarget).attr('id') == 'lblTableName') {
            $('#changeTable').attr('data-id', $(e.currentTarget).attr('data-id'));
            displayCustomMenu('#changeTable', e);
        }
    }));
    
    $(document).on("click", "#changeTable", (function(e){
        var orderTableId = $(e.currentTarget).attr('data-id');
        if (orderTableId > 0) {
            var popup = new DestinationTablePopup("destinationTablePopup", orderTableId, listArea, '@Url.Action("GetTablesByAreaID")', onMoveOrderTable);
            popup.OpenPopup();
        }
    }));
    
    $(document).on("click", "#mainRightMenu", (function(){
        refreshTableArea();
        refreshOrderArea();
    }));
    
    
    
    function refreshOrderArea() {
        var orderId = $('#curOrderID').val();
        if(orderId > 0) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetOrder")',
                data: { orderID: orderId }
            }).done(function (result) {
                if (result.Data.ID == 0 || !result.Success) {
                    clearDisplayTableDetail(orderId);
                }
                else {
                    $('#curOrderID').val(result.Data.ID);
                    $('#curOrderNumber').text(result.Data.OrderNumber);
                    $('#curCustomerName').text(result.Data.Customer.CustomerName);
                    $('#tblContent').html($('#order-tmpl').tmpl(result.Data).scanLabel());

                    bindEventForControl();

                    $('#button-payment').show();
                    $('#order-header').show();
                }
            });
        }
    }

    function getCurrentOrderId() {
        return { orderID: $('#curOrderID').val() };
    }

    function getUseServiceFee() {
        return $("#chkUseServiceFee").is(':checked');
    }

    function refreshTableArea() {
        var area = $('#areas li.ui-tabs-active a[href*="area-"]').attr('href');
        var id = area.split('-')[1];
        GetTablesByAreaID(id);
    }
        
    function clearDisplayTableDetail(orderId) {
        if ($('#curOrderID').val() == orderId) {
            $('#tblContent').html('');
            $('#curOrderID').val(-1);
            $('#curOrderNumber').text('');
            $('#curCustomerName').text('');
            $("#addProduct").hide();
            $('#button-payment').hide();
            $('#order-header').hide();
            CalculateTotal();
        }
    }

    function updateOrderedProduct(e) {
        var colName = $(e).attr('id').split('-')[0]; 
        if(colName == 'qty' || colName == 'discount') {
            if(!$(e).valid())
                return;
        }

        var orderDetailId = $(e).attr('id').split('-')[1];
        var value = $(e).val();
        
        $.ajax({
            type: 'POST',
            url: '@Url.Action("UpdateOrderedProduct")',
            data: { orderDetailID: orderDetailId, columnName: colName, columnValue: value }
        }).done(function (result) {
            if(!result.Success) {
                var popup = new MessagePopup('Thông báo',
                    'Có lỗi xảy ra trong quá trình thực thi.<br />Xin vui lòng thử lại sau.',
                    4,
                    function() {
                    });

                popup.OpenPopup();
            } else {
                CalculateTotal();
            }
        });
    }
    
    function onRemoveOrderTable(orderTableId, orderId) {
        if (orderTableId <= 0) {
            return;
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("CancelOrder")',
            data: { orderTableID: orderTableId }
        }).done(function(result) {
            if (result.Success) {
                clearDisplayTableDetail(orderId);
            } else {
                var popup = new MessagePopup('Thông báo',
                    'Có lỗi xảy ra trong quá trình thực thi.<br />Xin vui lòng thử lại sau.',
                    4,
                    function() {
                    });

                popup.OpenPopup();
            }

            refreshTableArea();
        });
    }

    function onMoveOrderTable(orderTableId, tableId) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("MoveTable")',
            data: { orderTableID: orderTableId, tableID: tableId }
        }).done(function (result) {
            if(!result.Success) {
                var popup = new MessagePopup('Thông báo',
                    'Có lỗi xảy ra trong quá trình thực thi.<br />Xin vui lòng thử lại sau.',
                    4,
                    function() {
                    });

                popup.OpenPopup();
            } else {
                refreshTableArea();
                refreshOrderArea();
            }
        });
    }
    
    function UpdateOrderedProductStatus(e) {
        var orderDetailId = $(e).attr('id').split('-')[1];
        var value = parseInt($(e).attr('id').split('-')[2]);
        
        switch (value) {
        case 1:
            value = 2;
            break;
        case 2:
            value = 3;
            break;
        case 3:
            value = 5;
            break;
        case 4:
            value = 5;
            break;
        case 5:
            return;
        }
        
        $.ajax({
            type: 'POST',
            url: '@Url.Action("UpdateOrderedProductStatus")',
            data: { orderDetailID: orderDetailId, value: value }
        }).done(function (result) {
            if(result.Data.ID == 0 || !result.Success) {
                var popup = new MessagePopup('Thông báo',
                    'Có lỗi xảy ra trong quá trình thực thi.<br />Xin vui lòng thử lại sau.',
                    4,
                    function() {
                    });

                popup.OpenPopup();
            } else {
                $(e).attr('id', 'status-' + result.Data.ID + '-' + result.Data.OrderStatus.ID);
                $(e).attr('title', result.Data.OrderStatus.Name);
                var cssClass;
                switch (result.Data.OrderStatus.ID) {
                    case 1:
                        cssClass = 'transfer';
                        break;
                    case 2:
                        cssClass = 'pending';
                        break;
                    case 3:
                        cssClass = 'accept';
                        break;
                    case 4:
                        cssClass = 'reject';
                        break;
                    case 5:
                        cssClass = 'done';
                        break;
                    default : cssClass = 'done';
                }
                $(e).attr('class', 'icon-' + cssClass);
            }
        });
    }

    function onCheckTableStatus(orderTableId, tableId) {
        if (orderTableId == 0) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CheckTableStatus")',
                data: { tableID: tableId }
            }).done(function(result) {
                if (result.Success) {
                    var popup = new MessagePopup('Thông báo',
                        'Bàn này hiện đang được sử dụng.<br />Xin vui lòng thử lại.',
                        1,
                        function() {
                            refreshTableArea();
                        });

                    popup.OpenPopup();
                } else {
                    onCreateOrderTable(tableId);
                }
            });
        }else {
            onCreateOrderTable(tableId);
        }
    }

    function onDeleteOrderTable(e) {
        var orderTableId = $(e).attr('id').split('-')[1];
        if(orderTableId <= 0)
            return;
        else {
            var popup = new MessagePopup('Thông báo',
                'Bạn đang thực hiện xóa thông tin 1 bàn.<br />Bạn muốn thực hiện?',
                3,
                function() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CancelTable")',
                data: { orderTableID: orderTableId }
            }).done(function(result) {
                if (result.Success) {
                    refreshTableArea();
                    refreshOrderArea();
                }
            });
                });

            popup.OpenPopup();
        }
    }

    function onSelectOrderTable(orderTableId, orderId) {
        $("#right-menu").hide();
        if (orderTableId <= 0) {
            return;
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("SelectTable")',
            data: { orderTableID: orderTableId }
        }).done(function (result) {
            if (result.Data.ID == 0 || !result.Success) {
                var popup = new MessagePopup('Thông báo',
                    'Dữ liệu hiện không tồn tại.<br />Xin vui lòng thử lại.',
                    1,
                    function() {
                        refreshTableArea();
                        clearDisplayTableDetail(orderId);
                    });

                popup.OpenPopup();
            }
            else {
                $('#curOrderID').val(result.Data.ID);
                $('#curOrderNumber').text(result.Data.OrderNumber);
                $('#curCustomerName').text(result.Data.Customer.CustomerName);
                $('#tblContent').html($('#order-tmpl').tmpl(result.Data).scanLabel());

                bindEventForControl();

                $('#button-payment').show();
                $('#order-header').show();
                refreshTableArea();
            }
        });
    }
        
    function onCreateOrderTable(tblId) {
        if (tblId <= 0) {
            return;
        }
        var orderTableId = 0;
        $.ajax({
            type: 'POST',
            url: '@Url.Action("CreateOrderTable")',
            data: { tableID: tblId }
        }).done(function (result) {
            if(result.Success) {
                orderTableId = result.Data;
                onSelectOrderTable(orderTableId, 0);
                refreshTableArea();
            }
        });
        return;
    }

    function onRefreshProduct(reloadCallback) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetAllProductsForSearch")',
        }).done(function (result) {
            if(result.Success)
                listProduct = result.Data;
        });
            
        if(reloadCallback)
            reloadCallback(listProduct);
    }

    function onSelectProduct(pdtId, qty) {
        var orderTableId = $('#curOrderTableID').val();
        if(orderTableId != '' && orderTableId > 0) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("OrderProduct")',
                data: { orderTableID: orderTableId, productID: pdtId, quantity: qty }
            }).done(function(result) {
                if (result.Data.ID > 0 && result.Success) {
                    onLoadOrderTable(result);
                }
            });
        }
    }
    
    function onLoadOrderTable(result) {
        $('#table-detail-' + result.Data.ID).html($('#ordertable-tmpl').tmpl(result.Data));

        bindEventForControl();
    }

    function bindEventForControl() {
        $('table[id^="order-"]').table();

        $('input[id^="qty"]').spinner({
            step: 0.5,
            numberFormat: "n",
            min: 0.5,
            change: function() {
                $(this).val($(this).val().readMoneyAsNumber());
                updateOrderedProduct(this);
                $(this).val($(this).val().formatAsMoney());
            }
        });
        
        $('a[id^="removeTable-"]').click(function () {
            onDeleteOrderTable(this);
            return false;
        });
        
        $('input[id^="cmt"]').change(function() {
            updateOrderedProduct(this);
        });
        
        $('input[id^="discount"]').change(function() {
            $(this).val($(this).val().readMoneyAsNumber());
            updateOrderedProduct(this);
        });

        $('input[name="discount"]').unbind('change');
        $('input[name="discount"]').change(function() {
            $(this).val($(this).val().formatAsMoney());
        });

        $('div[id^="del"]').click(function() {
            var orderDetailId = $(this).attr('id').split('-')[1];
            onDeleteProductFromOrderDetail(orderDetailId);
        });
        
        $('div[id^="status"]').click(function() {
            UpdateOrderedProductStatus(this);
        });
        
        $('form[id^="form-table-order-"]').validate({
            rules: {
                qty: {
                    greaterThanZero: true
                },
                discount: {
                    greaterOrEqualZero: true
                }
            }
        });

        $('#edit-other-fee').unbind('click');
        $('#edit-other-fee').click(function() {
            if($(this).hasClass('icon-edit-info')) {
                $('#valueOtherFee').hide();
                $('#txtOtherFee').show();
                $('#txtOtherFeeDescription').show();
                $(this).removeClass('icon-edit-info');
                $(this).addClass('icon-save-info');
            } else {
                var orderId = $('#curOrderID').val();
                var otherFee = $('#txtOtherFee').val().readMoneyAsNumber();
                var otherFeeDescription = $('#txtOtherFeeDescription').val().trim();
                
                if(otherFee != $('#valueOtherFee').text().readMoneyAsNumber() || otherFeeDescription != $(this).attr('data')) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("UpdateOtherFee")',
                        data: { orderID: orderId, otherFee: otherFee, otherFeeDescription: otherFeeDescription }
                    }).done(function(result) {
                        if (result.Success) {
                            refreshOrderArea();
                        }
                    });
                }

                $('#valueOtherFee').show();
                $('#txtOtherFee').hide();
                $('#txtOtherFeeDescription').hide();
                $(this).removeClass('icon-save-info');
                $(this).addClass('icon-edit-info');
            }
        });
        
        $('#chkUseServiceFee').unbind('click');
        $("#chkUseServiceFee").click( function(){
            if($(this).is(':checked')) {
                $('#ServiceFree').removeClass('RmenuDisable');
            } else {
                $('#ServiceFree').addClass('RmenuDisable');
            }
            CalculateTotal();
        });
        
        $('input[id^="chkUseTax-"]').unbind('click');
        $('input[id^="chkUseTax-"]').click( function(){
            var type = $(this).attr('id').split('-')[1];
            if($(this).is(':checked')) {
                $('#tax-' + type).removeClass('RmenuDisable');
            } else {
                $('#tax-' + type).addClass('RmenuDisable');
            }
            CalculateTotal();
        });

        CalculateTotal();
    }

    function onDeleteProductFromOrderDetail(orderDetailId) {
        if (orderDetailId != '' && orderDetailId > 0) {
            var popup = new MessagePopup('Thông báo',
                'Xóa thông tin này khỏi hệ thống.<br />Bạn muốn thực hiện?',
                3,
                function() {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("RemoveOrderedProduct")',
                        data: { orderDetailID: orderDetailId }
                    }).done(function(result) {
                        if (result.Success) {
                            $('tr[id="' + orderDetailId + '"]').remove();
                            CalculateTotal();
                        }
                    });
                });
            popup.OpenPopup();
        }
    }

    function GetTablesByAreaID(areaId) {
        if (areaId < 0) {
            return;
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetTablesByAreaID")',
            data: { areaID: areaId }
        }).done(function (result) {
            if(result.Success) {
                $('#area-' + areaId).html($('#table-tmpl').tmpl(result));
                $('#rightMenuArea').html('');

                $('.tbls').each(function(idx, element) {
                    var orderId = $('#curOrderID').val() == '' ? 0 : $('#curOrderID').val();
                    if ($(element).attr('id').split('-')[2] > 0 && $(element).attr('id').split('-')[2] == orderId)
                        $(element).addClass('selected');
                });
            }
        });
        return;
    }
    
    function onSelectedItem(e) {
        var action = $(e).attr('id');
        var data = [],
            arr = [],
            popup,
            valid = true,
            i;
        $('.tbls').each(function(idx, element) {
            if($(element).hasClass('selected')) {
                var orderTableId = $(element).attr('id').split('-')[0];
                var tableId = $(element).attr('id').split('-')[1];
                var orderId = $(element).attr('id').split('-')[2];
                
                data[data.length] = { OrderTableID: orderTableId, TableID: tableId, OrderID: orderId };
            }
        });
        
        if(action == 'rmenu-detail') {
            if (data.length > 1) {
                popup = new MessagePopup('Thông báo',
                    'Thao tác không chính xác.<br />Xin vui lòng chọn một bàn để xem chi tiết.',
                    1,
                    function() {
                        refreshTableArea();
                    });

                popup.OpenPopup();
            } else {
                if (data[0].OrderTableID > 0)
                    onSelectOrderTable(data[0].OrderTableID, data[0].OrderID);
            }
        } else if(action == 'rmenu-useTable') {
            if (data.length > 1) {
                for (i = 0; i < data.length; i++) {
                    if (data[i].OrderTableID > 0) {
                        valid = false;
                        break;
                    }
                    arr[arr.length] = data[i].TableID;
                }
                if (!valid) {
                    popup = new MessagePopup('Thông báo',
                        'Thao tác không chính xác.<br />Xin vui lòng thử lại.',
                        1,
                        function() {
                            refreshTableArea();
                        });
                    popup.OpenPopup();
                } else {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("CreateMultiOrderTable")',
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({ table: arr })
                    }).done(function(result) {
                        if (result.Success && result.Data > 0) {
                            $('#curOrderID').val(result.Data);
                            refreshTableArea();
                            refreshOrderArea();
                        }
                    });
                    return false;
                }
            } else {
                onCheckTableStatus(data[0].OrderTableID, data[0].TableID);
                return false;
            }
        } else if(action == 'rmenu-move') {
            if (data.length > 1) {
                popup = new MessagePopup('Thông báo',
                    'Thao tác không chính xác. Chỉ có thể chuyển dữ liệu từng bàn<br />Xin vui lòng thử lại.',
                    1,
                    function() {
                        refreshTableArea();
                    });

                popup.OpenPopup();
            } else {
                if (data[0].OrderTableID > 0) {
                    popup = new DestinationTablePopup("destinationTablePopup", data[0].OrderTableID, listArea, '@Url.Action("GetTablesByAreaID")', onMoveOrderTable);
                    popup.OpenPopup();
                }
            }
        } else if(action == 'rmenu-pooling') {
            for (i = 0; i < data.length; i++) {
                if (data[i].OrderTableID == 0) {
                    valid = false;
                    break;
                }
                arr[arr.length] = data[i].OrderTableID;
            }
            if (!valid) {
                popup = new MessagePopup('Thông báo',
                    'Thao tác không chính xác.<br />Xin vui lòng thử lại.',
                    1,
                    function() {
                        refreshTableArea();
                    });
                popup.OpenPopup();
            } else {
                popup = new MessagePopup('Nhập chung bàn',
                    'Hệ thống sẽ nhập chung dữ liệu về bàn đầu tiên trong danh sách.<br />Bạn muốn thực hiện?',
                    3,
                    function() {
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("PoolingTable")',
                            dataType: "json",
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify({ orderTable: arr })
                        }).done(function(object) {
                            if (!object.Success) {
                                popup = new MessagePopup('Thông báo',
                                    'Có lỗi xảy ra trong quá trình thực thi.<br />Xin vui lòng thử lại sau.',
                                    4,
                                    function() {
                                    });

                                popup.OpenPopup();
                            }
                            refreshTableArea();
                            refreshOrderArea();
                        });
                        return false;
                    });

                popup.OpenPopup();
            }
        } else if(action == 'rmenu-del') {
            for (i = 0; i < data.length; i++) {
                if (data[i].OrderID > 0) {
                    arr[arr.length] = data[i].OrderID;
                }
            }
            if (arr.length > 0) {
                popup = new MessagePopup('Thông báo',
                    'Thao tác xóa thông tin các bàn được chọn.<br />Bạn muốn thực hiện?',
                    3,
                    function() {
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("RemoveMultiOrder")',
                            dataType: "json",
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify({ order: arr })
                        }).done(function(result) {
                            if (!result.Success) {
                                popup = new MessagePopup('Thông báo',
                                    'Có lỗi xảy ra trong quá trình thực thi.<br />Xin vui lòng thử lại sau.',
                                    4,
                                    function() {
                                    });

                                popup.OpenPopup();
                            }
                            refreshTableArea();
                            refreshOrderArea();
                        });
                        return false;
                    });

                popup.OpenPopup();
            }
        }
        return false;
    }
        
    function displayCustomMenu(menuName, event) {
        var $menu = $(menuName);
        var $wMenu = $menu.outerWidth();
        var $hMenu = $menu.outerHeight();
        var $leftM = event.clientX, $topM = event.clientY;
        var $rightM = $(window).width() - $leftM;

        var $bottomM = $(window).height() - $topM;
        if ($rightM < $wMenu) {
            $leftM -= $wMenu;
        }
        if ($bottomM < $hMenu) {
            $topM -= $hMenu;
        }
        $menu.css({ left: $leftM, top: $topM, display: 'block' });
        event.preventDefault();
    }
    
    function CalculateTotal() {
        var subTotal;
        var sumAmount = 0;
        var totalAmount;
        var fee = 0;
        var otherfee;
        var tax = 0;
        
        $('table[id^="order-"]').each(function(idx, e) {
            subTotal = 0;
            $(e).find('tbody[id^="table-detail-"] tr').each(function(index, element) {
                var qty = $(element).find('td input[id^="qty"]').val().readMoneyAsNumber();
                var price = $(element).find('td.product-price').text().readMoneyAsNumber();
                var discount = $(element).find('td input[id^="discount"]').length == 0 ? 0 : $(element).find('td input[id^="discount"]').val().readMoneyAsNumber();
                var total = qty*price - discount ;
                subTotal += total;
                $(element).find('td.sequence').text(index + 1);
                $(element).find('td.item_subtotal').text(total.formatAsMoney());
            });
            
            sumAmount += subTotal;
            $(e).find('.sub-total').text(subTotal.formatAsMoney());
        });
        
        $('#totalSection .sum_amount').text(sumAmount.formatAsMoney());

        if($('#totalSection .fee').length > 0) {
            fee = $('#totalSection .fee').text().readMoneyAsNumber();
            $('#totalSection .fee').text(fee.formatAsMoney());
        }

        if(!$('#chkUseServiceFee').is(':checked'))
            fee = 0;

        otherfee = $('#txtOtherFee').length > 0 ? $('#txtOtherFee').val().readMoneyAsNumber() : 0;

        sumAmount = sumAmount > 0 ? sumAmount + fee + otherfee : 0;
        
        $('#totalSection div[id^="tax-"]').each(function(index, element) {
            if($(element).find('input[id^="chkUseTax-"]').is(':checked'))
            {
                var value = $(element).find('span[id^="tax-value-"]').text();
                tax += sumAmount > 0 ? sumAmount * value / 100 : 0;
                $(element).find('span[id^="tax-amount-"]').text((sumAmount * value / 100).formatAsMoney());
            } else {
                $(element).find('span[id^="tax-amount-"]').text('0');
            }
        });

        totalAmount = sumAmount + tax;

        $('#totalSection .total_amount').text(totalAmount.formatAsMoney());
    }
</script>