@using SMS.Common
@using SMS.Common.Enums
@model SMS.MvcApplication.Models.LoginModel
@{
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
    var errorClass = "hide";
    if (Model.ShowError) { errorClass = ""; }
}

<div id="content" class="row">
    <div id="logo" class="center">
        <a href="@Url.Action("Index", "Home", new { area = "" })"><img src="~/Images/logo.jpg" alt="logo"/></a>
    </div>
    <div id="loginform" class="border-all ui-corner-all">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div id="errorMessage" class="@errorClass">@Model.ErrorMessage</div>
            <table class="no-border">
                <tr>
                    <td><label for="Username" data-globalLabelID="lblUsername">Username</label></td>
                    <td class="right">@Html.TextBoxFor(x => x.Username)</td>
                </tr>
                <tr>
                    <td><label for="Password" data-globalLabelID="lblPassword">Password</label></td>
                    <td class="right">@Html.PasswordFor(x => x.Password)</td>
                </tr>
                <tr>
                    <td><label for="SelectedBranch" data-globalLabelID="lblBranch">Branch</label></td>
                    <td class="right">@Html.DropDownListFor(x => x.SelectedBranch, Model.ListBranch)</td>
                </tr>
            </table>
            <div class="right">
                <button id="loginButton" data-globalLabelID="lblLogin">Login</button>
            </div>
            <ul>
                @{
                    var classVN = "";
                    var classEN = "";
                    if (CommonObjects.Language == Language.English)
                    {
                        classEN = "class=\"hide\"";
                    }
                    if (CommonObjects.Language == Language.Vietnamese)
                    {
                        classVN = "class=\"hide\"";
                    }
                }
                    
                <li @Html.Raw(classVN)><a href="#" id="change-language-vn"><img class="icon-flag" src="~/Images/flag-vn.png" alt="vn"/> <span data-globalLabelID="lblLanguage">Vietnamese</span></a></li>
                <li @Html.Raw(classEN)><a href="#" id="change-language-en"><img class="icon-flag" src="~/Images/flag-uk.png" alt="vn"/> <span data-globalLabelID="lblLanguage">Tiếng Anh</span></a></li>
            </ul>
            <script type="text/javascript">
                $(document).ready(function() {
                    $('#loginButton').button({
                        icons: {
                            primary: "ui-icon-person"
                        }
                    }).click(function() {
                        $(this).closest('form').submit();
                    });

                    $('#SelectedBranch').selectmenu();
                    
                    $('#change-language-vn').click(function () {
                        changeLanguage(@((int)Language.Vietnamese));
                        return false;
                    });

                    $('#change-language-en').click(function() {
                        changeLanguage(@((int)Language.English));
                        return false;
                    });

                    function changeLanguage(id) {
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("ChangeLanguage", "Home", new { area = "" })',
                            data: { language: id }
                        }).done(function(result) {
                            if (result.Success)
                                location.reload();
                        });
                    }
                });
            </script>
        }
    </div>
</div>