@using SMS.MvcApplication.Models
@using SMS.Common.Constant
@model CashierModel
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/Content/css/split-pane.css" />
<script type="text/javascript" src="~/Scripts/split-pane.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.js"></script>
<script type="text/javascript">
    var listProduct = @Html.Raw(Json.Encode(Model.ListProduct));
</script>
<script id="pdt-tmpl" type="text/x-jquery-tmpl">
    <tr>
        <td>${idx}</td>
        <td>${VNName}</td>
        <td class="right">${Quantity}</td>
        <td>${Unit.VNName}</td>
        <td class="right">${Price}</td>
        <td class="right item_subtotal">${Price * Quantity}</td>
        <td>
            <input type="text" name="remarks${No}" class="remarksInput" /></td>
        <td class="center"><a href="#" id="del-${ID}">X</a></td>
    </tr>
</script>
<script id="table-tmpl" type="text/x-jquery-tmpl">
    {{each(idx) ListTable}}
        {{if idx % @ConstStyle.GridNumber == 0}}
        <div class='row'>
        {{/if}}
        <div class="one column">
            <input type="button" value="${VNName}" />
        </div>
            
        {{if idx == $data.ListTable.length || idx % @ConstStyle.GridNumber == @ConstStyle.GridNumber - 1}}
        </div>
        {{/if}}
    {{/each}}
</script>
<div id="cashier" class="split-pane horizontal-percent">
    <div id="area-table" class="split-pane-component">
        <ul id="areas">
            @foreach (var areaDto in Model.ListArea)
            {
                <li><a href="#area-@areaDto.ID">@areaDto.VNName</a></li>
            }

        </ul>
        <div id="tables">
            @foreach (var areaDto in Model.ListArea)
            {
                <div id="area-@areaDto.ID">
                </div>
            }
        </div>
    </div>

    <div class="split-pane-divider"></div>

    <div id="tableorder" class="split-pane-component">
        <div class="row">
            <div class="two columns">Table name</div>
            <div class="four columns">User: Son Nguyen. Date: 11/04/2014 18:00</div>
        </div>
        <div class="row">
            <table id="order">
                <colgroup>
                    <col class="col1" />
                    <col class="col2" />
                    <col class="col3" />
                    <col class="col4" />
                    <col class="col5" />
                    <col class="col6" />
                    <col class="col7" />
                    <col class="col8" />
                </colgroup>
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                        <th>Price</th>
                        <th>Amount</th>
                        <th>Remarks</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="tbContent">
                    @*<tr>
                        <td>1</td>
                        <td>Cơm gà</td>
                        <td class="right">1</td>
                        <td>Đĩa</td>
                        <td class="right">20.000</td>
                        <td class="right">20.000</td>
                        <td>
                            <input type="text" name="remarks1" class="remarksInput" /></td>
                        <td class="center">X</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Lẩu bò</td>
                        <td class="right">1</td>
                        <td>Cái</td>
                        <td class="right">120.000</td>
                        <td class="right">120.000</td>
                        <td>
                            <input type="text" name="remarks2" class="remarksInput" /></td>
                        <td class="center">X</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Đũa</td>
                        <td class="right">3</td>
                        <td>Đôi</td>
                        <td class="right">5.000</td>
                        <td class="right">15.000</td>
                        <td>
                            <input type="text" name="remarks3" class="remarksInput" /></td>
                        <td class="center">X</td>
                    </tr>*@
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="8"><a href="#" id="addProduct">+</a></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div id="totalSection">
            <div class="row">
                <div class="two columns push_eight right">Total:</div>
                <div class="two columns right"><span class="total_amount">0</span> VNĐ</div>
            </div>
            <div class="row">
                <div class="two columns push_eight right">Service Fee:</div>
                <div class="two columns right"><span class="fee">0</span> VNĐ</div>
            </div>
            <div class="row">
                <div class="two columns push_eight right">Tax (10%):</div>
                <div class="two columns right"><span class="tax">0</span> VNĐ</div>
            </div>
            <div class="row">
                <div class="two columns push_eight right">Total Amount:</div>
                <div class="two columns right border-top"><span class="total_money">0</span> VNĐ</div>
            </div>
        </div>
    </div>

    @Html.Partial("_SearchProductPopup", new PopupModel { PopupID = "pdtPopup", PopupTitle = "Search Product" })

    <script type="text/javascript">
        $(document).ready(function () {
            $('div.split-pane').splitPane();
            $('#area-table').tabs();
            $("#addProduct").click(function () {
                var product = new SearchProductPopup("pdtPopup", listProduct, onRefreshProduct, onSelectProduct, onDeleteProduct);
                product.OpenPopup();
                return false;
            });

            var area = $('#areas li.ui-tabs-selected a[href*="area-"]').attr('href');
            var id = area.split('-')[1];
            GetTablesByAreaID(id);
            
            onSelectTable(1);
        });

        function onSelectTable(invTblId) {
            $.ajax({
                type: 'POST',
                url: '/Cashier/SelectTable',
                data: { invoiceTableID: invTblId }
            }).done(function (data) {
                $('#order .tbContent').html('');
                $(data).each(function(idx) {
                    data[idx].idx = idx + 1;
                });
                
                $('#pdt-tmpl').tmpl(data).appendTo('#order .tbContent');
                CalculateTotal();
            });
        }

        function onRefreshProduct(reloadCallback) {
            $.ajax({
                type: 'POST',
                url: '/Cashier/GetAllProductsForSearch',
            }).done(function (data) {
                listProduct = data;
            });
            
            if(reloadCallback)
                reloadCallback(listProduct);
        }

        function onSelectProduct(pdtId, qty) {
            $.ajax({
                type: 'POST',
                url: '/Cashier/SelectProduct',
                data: { productID: pdtId, quantity: qty }
            }).done(function (data) {
                var count = $('#order .tbContent tr').length;
                data.idx = count + 1;

                $('#pdt-tmpl').tmpl(data).appendTo('#order .tbContent');
                CalculateTotal();
            });
        }

        function onDeleteProduct(pdtId) {
            
        }

        function GetTablesByAreaID(areaID) {
            $.ajax({
                type: 'POST',
                url: '/Cashier/GetTablesByAreaID',
                data: { areaID: areaID }
            }).done(function (data) {
                $('#table-tmpl').tmpl(data).appendTo('#area-' + areaID);
            });
        }
        
        function CalculateTotal() {
            var totalAmount = 0;
            $('#order .tbContent tr').each(function (idx, element) {
                totalAmount += parseInt($(element).find('td.item_subtotal').text());
            });
            $('#totalSection .total_amount').text(totalAmount);
            
            var tax = totalAmount / 10;
            $('#totalSection .tax').text(tax);
            
            $('#totalSection .total_money').text(totalAmount + tax);
        }
    </script>
</div>
