@using SMS.Common
@using SMS.MvcApplication.Models
@using SMS.Common.Constant
@model CashierModel
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/Content/css/split-pane.css" />
<link rel="stylesheet" type="text/css" media="print" href="~/Content/css/print.css" />
<script type="text/javascript" src="~/Scripts/split-pane.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.js"></script>
<script type="text/javascript" src="~/Scripts/custom-validate.js"></script>
<script type="text/javascript">
    var listProduct = @Html.Raw(Json.Encode(Model.ListProduct));
    var serviceFee = @BranchConfig.ServiceFee;
    var useServiceFee = "@BranchConfig.UseServiceFee";
</script>
<script id="order-tmpl" type="text/x-jquery-tmpl">
    {{each(idx) OrderTables}}
    <div class="row">
        <div class="three columns"><span id="lblTableName" class="label">Table name</span>: ${Table.Name}</div>
        <span id="lblOrderBy" class="label">Order by: </span>${CreatedUser}
        &nbsp;&nbsp;
        <span id="lblOrderDate" class="label">Order date: </span>${CreatedDate==null ? '' : CreatedDate.formatAsDateTime()}
        &nbsp;&nbsp;
        <span id="lblLastAccessBy" class="label">Last access by</span>: ${ModifiedUser}
        &nbsp;&nbsp;
        <span id="lblLastAccessDate" class="label">Last access date: </span>${ModifiedDate==null ? '' : ModifiedDate.formatAsDateTime()}
    </div>
    <div class="row">
        <form id="form-table-order-${ID}">
            <table id="order-${ID}" class="table-order">
                <colgroup>
                    <col class="col1" />
                    <col class="col2" />
                    <col class="col3" />
                    <col class="col4" />
                    <col class="col5" />
                    <col class="col6" />
                    <col class="col7" />
                    <col class="col8" />
                    <col class="col9" />
                    <col class="col10" />
                </colgroup>
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                        <th>Price</th>
                        <th>Discount</th>
                        <th>Amount</th>
                        <th>Remarks</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="table-detail-${ID}">
                    {{each(idx) OrderDetails}}
                    <tr id="${ID}">
                        <td class="sequence">${idx + 1}</td>
                        <td>${Product.Name} - ${Product.ProductCode}</td>
                        <td>
                            <input type="text" id="qty-${ID}" value="${Quantity}" name="qty" class="number required center" />
                        </td>
                        <td>${Product.Unit.Name}</td>
                        <td class="right product-price">${Product.Price.formatAsMoney()}</td>
                        <td>
                            <input type="text" id="discount-${ID}" class="number required right" name="qty" value="${Discount.formatAsMoney()}" />
                        </td>
                        <td class="right item_subtotal">${(Product.Price * Quantity - Discount).formatAsMoney()}</td>
                        <td>
                            <input type="text" id="cmt-${ID}" class="remarksInput" value="${Comment}" /></td>
                        <td class="center icon">
                            <div class="{{if OrderStatus.ID == 1}}icon-transfer{{/if}}{{if OrderStatus.ID == 2}}icon-pending{{/if}}{{if OrderStatus.ID == 3}}icon-accept{{/if}}{{if OrderStatus.ID == 4}}icon-reject{{/if}}{{if OrderStatus.ID == 5}}icon-done{{/if}}" id="status-${ID}-${OrderStatus.ID}" title="${OrderStatus.Name}"></div>
                        </td>
                        <td class="center icon">
                            <div class="rmenu-delete" id="del-${ID}" title="Delete"></div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" class="vertical-top">
                            <a href="#" id="addProduct-${ID}"><img src="Images/IconControls/add-icon.png" alt="add record" /></a>
                        </td>
                        <td colspan="8">
                            <div class="row">
                                <div class="two columns push_eight right">Sub total:</div>
                                <div class="two columns right"><span class="sub-total">0</span> VNĐ</div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </div>
    {{/each}}
</script>
<script id="ordertable-tmpl" type="text/x-jquery-tmpl">
    {{each(idx) OrderDetails}}
    <tr id="${ID}">
        <td class="sequence">${idx + 1}</td>
        <td>${Product.Name} - ${Product.ProductCode}</td>
        <td>
            <input type="text" id="qty-${ID}" value="${Quantity}" name="qty" class="number required center" />
        </td>
        <td>${Product.Unit.Name}</td>
        <td class="right product-price">${Product.Price.formatAsMoney()}</td>
        <td>
            <input type="text" id="discount-${ID}" class="number required right" value="${Discount.formatAsMoney()}" />
        </td>
        <td class="right item_subtotal">${(Product.Price * Quantity - Discount).formatAsMoney()}</td>
        <td>
            <input type="text" id="cmt-${ID}" class="remarksInput" value="${Comment}" /></td>
        <td class="center icon">
            <div class="{{if OrderStatus.ID == 1}}icon-transfer{{/if}}{{if OrderStatus.ID == 2}}icon-pending{{/if}}{{if OrderStatus.ID == 3}}icon-accept{{/if}}{{if OrderStatus.ID == 4}}icon-reject{{/if}}{{if OrderStatus.ID == 5}}icon-done{{/if}}" id="status-${ID}-${OrderStatus.ID}" title="${OrderStatus.Name}"></div>
        </td>
        <td class="center icon">
            <div class="rmenu-delete" id="del-${ID}" title="Delete"></div>
        </td>
    </tr>
    {{/each}}    
</script>
<script id="table-tmpl" type="text/x-jquery-tmpl">
    {{each(idx) ListTable}}
    {{if idx % @ConstStyle.GridNumber == 0}}
    <div class='row'>
        {{/if}}
        <div class="one column">
            <table class="tbls" id="${ID}-${Table.ID}-${OrderID}" title="${Table.Name}">
                <tr>
                    <td class="table {{if ID > 0}}available{{else}}not-available{{/if}}"></td>
                </tr>
                <tr>
                    <td>${Table.Name}</td>
                </tr>
            </table>
        </div>
            
        {{if idx == $data.ListTable.length || idx % @ConstStyle.GridNumber == @ConstStyle.GridNumber - 1}}
    </div>
    {{/if}}
    {{/each}}

</script>
<script id="Rmenu-tmpl" type="text/x-jquery-tmpl">
    {{each(idx) ListTable}}
    <table id="Rmenu-${ID}-${Table.ID}-${OrderID}" class="Rmenu">
        <tr id="rmenu-detail-${ID}" data-id="${ID}-${OrderID}" class="{{if ID > 0}}Detail{{else}}RmenuDisable{{/if}}">
            <td>
                <div class="rmenu-detail"></div>
            </td>
            <td class="RmenuItem" id="Select-${ID}-${Table.ID}">Chi tiết</td>
        </tr>
        <tr id="rmenu-useTable-${ID}" data-tableid="${Table.ID}">
            <td>
                <div class="rmenu-add"></div>
            </td>
            <td class="RmenuItem" id="SelectNew-${ID}-${Table.ID}">Sử dụng ngay</td>
        </tr>
        <tr id="rmenu-move-${ID}" data-id="${ID}">
            <td>
                <div class="rmenu-move"></div>
            </td>
            <td class="RmenuItem" id="Move-${ID}-${Table.ID}">Chuyển bàn</td>
        </tr>
        <tr id="rmenu-del-${ID}" data-id="${ID}-${OrderID}" class="{{if ID <= 0}}RmenuDisable{{/if}}">
            <td>
                <div class="rmenu-delete"></div>
            </td>
            <td class="RmenuItem" id="Delete-${ID}-${Table.ID}">Xóa thông tin</td>
        </tr>
    </table>
    {{/each}}
</script>
<script type="text/x-jquery-tmpl" id="invoice-preview-tmpl">
    <table id="ord-table">
        <colgroup>
            <col class="col1" />
            <col class="col2" />
            <col class="col3" />
            <col class="col4" />
            <col class="col5" />
        </colgroup>
        <thead>
            <tr>
                <th>No</th>
                <th>Product Code</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {{each(idx) OrderTable.InvoiceDetails}}
            <tr>
                <td>${idx + 1}</td>
                <td>${ProductCode}</td>
                <td>${ProductName}</td>
                <td class="right">${Quantity}</td>
                <td class="right">${(Price * Quantity).formatAsMoney()}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</script>

<div id="cashier" class="split-pane horizontal-percent">
    <div id="area-table" class="split-pane-component">
        <ul id="areas">
            @foreach (var area in Model.ListArea)
            {
                <li><a href="#area-@area.ID">@area.Name</a></li>
            }

        </ul>
        <div id="tables">
            @foreach (var areaDto in Model.ListArea)
            {
                <div id="area-@areaDto.ID">
                </div>
            }
        </div>
    </div>

    <div class="split-pane-divider"></div>

    <div id="tableorder" class="split-pane-component">
        <input type="hidden" id="curOrderID" value="-1" />
        <input type="hidden" id="curOrderTableID" value="-1" />
        <div class="row border-bottom">
            <div class="four columns">
                <span id="lblOrderNumber" class="label">Order Number</span>: <span id="curOrderNumber"></span>
            </div>
            <div class="four columns">
                <span id="lblCustomerName" class="searchCustomer">Customer name:</span>&nbsp;
                <span id="curCustomerName"></span>
            </div>
        </div>
        
        <div class="row" id="tblContent">
            
        </div>
        
        <div id="totalSection">
            @if(BranchConfig.UseServiceFee)
            {
                <div class="row" id="ServiceFree">
                    <div class="two columns push_eight right">Service Fee:</div>
                    <div class="two columns right"><span class="fee">@BranchConfig.ServiceFee</span> VNĐ</div>
                </div>
            }
            <div class="row" id="Tax-">
                <div class="two columns push_eight right">Tax (10%):</div>
                <div class="two columns right"><span class="tax">0</span> VNĐ</div>
            </div>
            <div class="row">
                <div class="two columns push_eight right">Total Amount:</div>
                <div class="two columns right border-top"><span class="total_amount">0</span> VNĐ</div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="four columns right border-top payment">
                    <input type="button" id="payment" value="Thanh toán"/>
                    <input type="button" id="printInvoice" value="In trước hóa đơn"/>
                </div>
            </div>
        </div>
        <div class="row"><br/></div>
    </div>
    
    <div id="rightMenuArea"></div>
    <table class="Rmenu" id="changeCustomer">
        <tr>
            <td>
                <div class="menu-customer"></div>
            </td>
            <td class="RmenuItem">Change Customer</td>
        </tr>
    </table>
    
    <table class="Rmenu" id="mainRightMenu">
        <tr>
            <td>
                <div class="menu-reload"></div>
            </td>
            <td class="RmenuItem">Refresh</td>
        </tr>
    </table>

    @Html.Partial("SearchProductPopup", new PopupModel { PopupID = "pdtPopup", PopupTitle = "Search Product" })
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('div.split-pane').splitPane();
        $('#area-table').tabs();
        $("#payment").hide();
        $("#printInvoice").hide();
        
        $("#payment").button();
        $('#printInvoice').button().click(function () {
            var invoice = new PrintPreviewPopup(400, '@Url.Action("GetDataForPreviewInvoice")', getCurrentOrderTableId, null, $('#invoice-preview-tmpl'));
            invoice.OpenPopup();
            return false;
        });

        refreshTableArea();
            
        setInterval(function() {
            refreshTableArea();
        }, 60000);
        
        setInterval(function() {
            refreshOrderArea();
        }, 120000);
    });
    
    function refreshOrderArea() {
        var orderId = $('#curOrderID').val();
        if(orderId > 0) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetOrder")',
                data: { orderID: orderId }
            }).done(function (data) {
                if (data.Order == null) {
                    clearDisplayTableDetail(orderId);
                }
                else {
                    $('#tblContent').html('');
                    $('#curOrderID').val(data.Order.ID);
                    $('#curOrderNumber').text(data.Order.OrderNumber);
                    $('#curCustomerName').text(data.Order.Customer.CustomerName);
                    $('#order-tmpl').tmpl(data.Order).appendTo('#tblContent');

                    bindEventForControl();

                    $("#payment").show();
                    $("#printInvoice").show();
                }
            });
        }
    }

    function getCurrentOrderTableId() {
        return { orderTableID: $('#curOrderTableID').val() };
    }
    
    $(document).on("click", '#areas li a[href*="area-"]', (function(e) {
        GetTablesByAreaID($(e.target).attr('href').split('-')[1]);
    }));

    function refreshTableArea() {
        var area = $('#areas li.ui-tabs-active a[href*="area-"]').attr('href');
        var id = area.split('-')[1];
        GetTablesByAreaID(id);
    }
        
    function clearDisplayTableDetail(orderId) {
        if ($('#curOrderID').val() == orderId) {
            $('#tblContent').html('');
            $('#curOrderID').val(-1);
            $('#curOrderNumber').text('');
            $('#curCustomerName').text('');
            $("#addProduct").hide();
            $("#payment").hide();
            $("#printInvoice").hide();
            CalculateTotal();
        }
    }
    
    $(document).on("click", 'a[id^="addProduct-"]', (function(e){
        var product = new SearchProductPopup("pdtPopup", listProduct, onRefreshProduct, onSelectProduct);
        product.OpenPopup();
        $('#curOrderTableID').val($(e.currentTarget).attr('id').split('-')[1]);
        return false;
    }));

    function onRemoveOrderTable(orderTableId, orderId) {
        if (orderTableId <= 0) {
            return;
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("CancelOrder")',
            data: { orderTableID: orderTableId }
        }).done(function(data) {
            if (data.Success) {
                clearDisplayTableDetail(orderId);
            } else {
                var popup = new MessagePopup('Thông báo',
                    'Có lỗi xảy ra trong quá trình thực thi.<br />Xin vui lòng thử lại sau.',
                    4,
                    function() {
                    });

                popup.OpenPopup();
            }

            refreshTableArea();
        });
    }

    function onMoveOrderTable(orderTableId) {
        if (orderTableId <= 0) {
            return;
        }
    }
        
    $(document).on("dblclick", ".tbls", (function(e) {
        $(".tbls").removeClass('selected');
        $(e.target).parents('.tbls').addClass('selected');
        var id = $(e.target).parents('.tbls').attr('id');
        var orderTableId = id.split('-')[0];
        var tblId = id.split('-')[1];
        var orderId = id.split('-')[2];
        if(orderTableId == 0) {
            var popup = new MessagePopup('Thông báo',
                'Bàn này hiện đang trống.<br />Sử dụng ngay?',
                3,
                function () {
                    onCheckTableStatus(orderTableId, tblId);
                });
            
            popup.OpenPopup();
        } else {
            onSelectOrderTable(orderTableId, orderId);
        }
    }));
        
    $(document).on("contextmenu", "#cashier", function(e) {
        if($(e.target).parents('.tbls').length <= 0) {
            $("table[id*=Rmenu-]").hide();
            displayCustomMenu('#mainRightMenu', e);
        } else {
            $("table[id*=Rmenu-]").hide();
            $('#mainRightMenu').hide();
            if (!$(e.target).parents('.tbls').hasClass('selected')) {
                $(".tbls").removeClass('selected');
                $(e.target).parents('.tbls').addClass('selected');
            }

            displayCustomMenu('#Rmenu-' + $(e.target).parents('.tbls').attr('id'), e);
        }
    });
        
    $(document).click(function(e) {
        $("table[id*=Rmenu-]").hide();
        $('#mainRightMenu').hide();
        
        if(!$(e.target).parents('table').hasClass('tbls')) {
            if ($(e.target).parents('#area-table').length > 0 || $(e.target).attr('id') == 'area-table')
                $(".tbls").removeClass('selected');
        }

        if($(e.target).attr('id') != 'lblCustomerName' || $(e.target).attr('id') == null)
            $("#changeCustomer").hide();
                
    });
    
    $(document).on("click", ".tbls", (function(e){
        if(e.ctrlKey) {
            if ($(e.target).parents('.tbls').hasClass('selected')) {
                $(e.target).parents('.tbls').removeClass('selected');
            } else {
                $(e.target).parents('.tbls').addClass('selected');
            }
        } else {
            $(".tbls").removeClass('selected');
            $(e.target).parents('.tbls').addClass('selected');
        }
    }));
        
    $(document).on("click", "#payment", (function(){
        var orderTableId = $('#curOrderTableID').val();
        if(orderTableId > 0) {
            var popup = new MessagePopup('Thông báo',
                'Bàn đã sẵn sàng để thanh toán.<br />Thanh toán ngay?',
                3,
                function () {
                    alert('abe');
                });
            
            popup.OpenPopup();
        }
    }));

    $(document).on("click", ".searchCustomer", (function(e){
        displayCustomMenu('#changeCustomer', e);
    }));
    
    $(document).on("click", "#mainRightMenu", (function(e){
        refreshTableArea();
        refreshOrderArea();
    }));

    function updateOrderedProduct(e) {
        var colName = $(e).attr('id').split('-')[0]; 
        if(colName == 'qty') {
            if(!$(e).valid())
                return;
        }

        var orderDetailId = $(e).attr('id').split('-')[1];
        var value = $(e).val();
        
        $.ajax({
            type: 'POST',
            url: '@Url.Action("UpdateOrderedProduct")',
            data: { orderDetailID: orderDetailId, columnName: colName, columnValue: value }
        }).done(function (data) {
            if(!data) {
                var popup = new MessagePopup('Thông báo',
                    'Có lỗi xảy ra trong quá trình thực thi.<br />Xin vui lòng thử lại sau.',
                    4,
                    function() {
                    });

                popup.OpenPopup();
            } else {
                CalculateTotal();
            }
        });
    }
    
    function UpdateOrderedProductStatus(e) {
        var orderDetailId = $(e).attr('id').split('-')[1];
        var value = parseInt($(e).attr('id').split('-')[2]);
        
        switch (value) {
        case 1:
            value = 2;
            break;
        case 2:
            value = 3;
            break;
        case 3:
            value = 5;
            break;
        case 4:
            value = 5;
            break;
        case 5:
            return;
        }
        
        $.ajax({
            type: 'POST',
            url: '@Url.Action("UpdateOrderedProductStatus")',
            data: { orderDetailID: orderDetailId, value: value }
        }).done(function (data) {
            if(data.OrderDetail.ID == 0) {
                var popup = new MessagePopup('Thông báo',
                    'Có lỗi xảy ra trong quá trình thực thi.<br />Xin vui lòng thử lại sau.',
                    4,
                    function() {
                    });

                popup.OpenPopup();
            } else {
                $(e).attr('id', 'status-' + data.OrderDetail.ID + '-' + data.OrderDetail.OrderStatus.ID);
                $(e).attr('title', data.OrderDetail.OrderStatus.Name);
                var cssClass = '';

                switch (data.OrderDetail.OrderStatus.ID) {
                    case 1:
                        cssClass = 'transfer';
                        break;
                    case 2:
                        cssClass = 'pending';
                        break;
                    case 3:
                        cssClass = 'accept';
                        break;
                    case 4:
                        cssClass = 'reject';
                        break;
                    case 5:
                        cssClass = 'done';
                        break;
                    default : cssClass = 'done';
                }
                $(e).attr('class', 'icon-' + cssClass);
            }
        });
    }

    function onCheckTableStatus(orderTableId, tableId) {
        if (orderTableId == 0) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CheckTableStatus")',
                data: { tableID: tableId }
            }).done(function(data) {
                if (data.Success) {
                    var popup = new MessagePopup('Thông báo',
                        'Bàn này hiện đang được sử dụng.<br />Xin vui lòng thử lại.',
                        1,
                        function() {
                            refreshTableArea();
                        });

                    popup.OpenPopup();
                } else {
                    onCreateOrderTable(tableId);
                }
            });
        }else {
            onCreateOrderTable(tableId);
        }
    }

    function onSelectOrderTable(orderTableId, orderId) {
        $("table[id*=Rmenu-]").hide();
        if (orderTableId <= 0) {
            return;
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("SelectTable")',
            data: { orderTableID: orderTableId }
        }).done(function (data) {
            if (data.Order.ID == 0) {
                var popup = new MessagePopup('Thông báo',
                    'Dữ liệu hiện không tồn tại.<br />Xin vui lòng thử lại.',
                    1,
                    function() {
                        refreshTableArea();
                        clearDisplayTableDetail(orderId);
                    });

                popup.OpenPopup();
            }
            else {
                $('#tblContent').html('');
                $('#curOrderID').val(data.Order.ID);
                $('#curOrderNumber').text(data.Order.OrderNumber);
                $('#curCustomerName').text(data.Order.Customer.CustomerName);
                $('#order-tmpl').tmpl(data.Order).appendTo('#tblContent');

                bindEventForControl();

                $("#payment").show();
                $("#printInvoice").show();
                refreshTableArea();
            }
        });
    }
        
    function onCreateOrderTable(tblId) {
        if (tblId <= 0) {
            return;
        }
        var orderTableId = 0;
        $.ajax({
            type: 'POST',
            url: '@Url.Action("CreateOrderTable")',
            data: { tableID: tblId }
        }).done(function (data) {
            orderTableId = data.OrderTableID;
            onSelectOrderTable(orderTableId, 0);
            refreshTableArea();
        });
        return;
    }

    function onRefreshProduct(reloadCallback) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetAllProductsForSearch")',
        }).done(function (data) {
            listProduct = data.ListProduct;
        });
            
        if(reloadCallback)
            reloadCallback(listProduct);
    }

    function onSelectProduct(pdtId, qty) {
        var orderTableId = $('#curOrderTableID').val();
        if(orderTableId != '' && orderTableId > 0) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("OrderProduct")',
                data: { orderTableID: orderTableId, productID: pdtId, quantity: qty }
            }).done(function(data) {
                if (data.OrderTable.ID > 0) {
                    onLoadOrderTable(data);
                }
            });
        }
    }
    
    function onLoadOrderTable(data) {
        $('#table-detail-' + data.OrderTable.ID).html('');
        $('#ordertable-tmpl').tmpl(data.OrderTable).appendTo('#table-detail-' + data.OrderTable.ID);

        bindEventForControl();
    }

    function bindEventForControl() {
        $('table[id^="order-"').table();

        $('input[id^="qty"]').spinner({
            step: 0.5,
            numberFormat: "n",
            min: 0.5,
            change: function() {
                updateOrderedProduct(this);
            }
        });
        
        $('input[id^="cmt"]').change(function() {
            updateOrderedProduct(this);
        });
        
        $('input[id^="discount"]').change(function() {
            updateOrderedProduct(this);
        });

        $('div[id^="del"]').click(function() {
            var orderDetailId = $(this).attr('id').split('-')[1];
            onDeleteProductFromOrderDetail(orderDetailId);
        });
        
        $('div[id^="status"]').click(function() {
            UpdateOrderedProductStatus(this);
        });
        
        $('form[id^="form-table-order-"]').validate({
            rules: {
                qty: {
                    greaterThanZero: true
                }
            }
        });

        CalculateTotal();
    }

    function onDeleteProductFromOrderDetail(orderDetailId) {
        if (orderDetailId != '' && orderDetailId > 0) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("RemoveOrderedProduct")',
                data: { orderDetailID: orderDetailId }
            }).done(function(data) {
                if (data.Success) {
                    $('tr[id="' + orderDetailId + '"').remove();
                    CalculateTotal();
                }
            });
        }
    }

    function GetTablesByAreaID(areaId) {
        if (areaId <= 0) {
            return;
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetTablesByAreaID")',
            data: { areaID: areaId }
        }).done(function (data) {
            $('#area-' + areaId).html('');
            $('#rightMenuArea').html('');
            $('#table-tmpl').tmpl(data).appendTo('#area-' + areaId);
            $('#Rmenu-tmpl').tmpl(data).appendTo('#rightMenuArea');

            $('tr[id^="rmenu-detail-"]').click(function () {
                var id = $(this).attr('data-id').split('-')[0];
                var orderId = $(this).attr('data-id').split('-')[1];
                onSelectOrderTable(id, orderId);
                return false;
            });
            $('tr[id^="rmenu-useTable-"]').click(function () {
                var tableId = $(this).attr('data-tableid');
                var orderTableId = $(this).attr('id').replace('rmenu-useTable-', '');
                onCheckTableStatus(orderTableId, tableId);
                return false;
            });
            $('tr[id^="rmenu-move-"]').click(function () {
                var id = $(this).attr('data-id');
                onMoveOrderTable(id);
                return false;
            });
            $('tr[id^="rmenu-del-"]').click(function () {
                var id = $(this).attr('data-id').split('-')[0];
                var orderId = $(this).attr('data-id').split('-')[1];
                onRemoveOrderTable(id, orderId);
                return false;
            });
            $('.tbls').each(function (idx, element) {
                var orderId = $('#curOrderID').val() == '' ? 0 : $('#curOrderID').val();
                if($(element).attr('id').split('-')[2] > 0 && $(element).attr('id').split('-')[2] == orderId)
                    $(element).addClass('selected');
            });
        });
        return;
    }
        
    function displayCustomMenu(menuName, event) {
        var $menu = $(menuName);
        var $wMenu = $menu.outerWidth();
        var $hMenu = $menu.outerHeight();
        var $leftM = event.clientX, $topM = event.clientY;
        var $rightM = $(window).width() - $leftM;

        var $bottomM = $(window).height() - $topM;
        if ($rightM < $wMenu) {
            $leftM -= $wMenu;
        }
        if ($bottomM < $hMenu) {
            $topM -= $hMenu;
        }
        $menu.css({ left: $leftM, top: $topM, display: 'block' });
        event.preventDefault();
    }
    
    function CalculateTotal() {
        var subTotal;
        var totalAmount = 0;
        
        $('table[id^="order-"]').each(function(idx, e) {
            subTotal = 0;
            $(e).find('tbody[id^="table-detail-"] tr').each(function(index, element) {
                var qty = $(element).find('td input[id^="qty"]').val();
                var price = $(element).find('td.product-price').text().readMoneyAsNumber();
                var discount = $(element).find('td input[id^="discount"]').val().readMoneyAsNumber();
                var total = qty*price - discount ;
                subTotal += total;
                $(element).find('td.sequence').text(index + 1);
                $(element).find('td.item_subtotal').text(total.formatAsMoney());
            });
            
            totalAmount += subTotal;
            $(e).find('.sub-total').text(subTotal.formatAsMoney());
        });
        
        $('#totalSection .total_amount').text(totalAmount.formatAsMoney());
    }
</script>