@using SMS.Common
@using SMS.MvcApplication.Models
@using SMS.Common.Constant
@model CashierModel
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/Content/css/split-pane.css" />
<link rel="stylesheet" type="text/css" media="print" href="~/Content/css/print.css" />
<script type="text/javascript" src="~/Scripts/split-pane.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.js"></script>
<script type="text/javascript" src="~/Scripts/custom-validate.js"></script>
<script type="text/javascript">
    var listProduct = @Html.Raw(Json.Encode(Model.ListProduct));
    var serviceFee = @BranchConfig.ServiceFee;
</script>
<script id="pdt-tmpl" type="text/x-jquery-tmpl">
    <tr>
        <td>${idx}</td>
        <td>${ProductCode}</td>
        <td>${ProductVNName}</td>
        <td>
            <input type="text" id="qty-${ID}" value="${Quantity}" name="qty" class="number required center" />
        </td>
        <td>${UnitVNName}</td>
        <td class="right">${Price.transformAsMoney()}</td>
        <td class="right item_subtotal">${(Price * Quantity).transformAsMoney()}</td>
        <td>
            <input type="text" id="cmt-${ID}" class="remarksInput" value="${Comment}" /></td>
        <td class="center"><a href="#" id="del-${ID}" class="delProduct">X</a></td>
    </tr>
</script>
<script id="table-tmpl" type="text/x-jquery-tmpl">
    {{each(idx) ListTable}}
    {{if idx % @ConstStyle.GridNumber == 0}}
    <div class='row'>
        {{/if}}
        <div class="one column">
            <table class="tbls" id="${ID}-${Table.ID}" title="${Table.VNName}">
                <tr>
                    <td class="table {{if ID > 0}}available{{else}}not-available{{/if}}"></td>
                </tr>
                <tr>
                    <td>${Table.VNName}</td>
                </tr>
            </table>
        </div>
            
        {{if idx == $data.ListTable.length || idx % @ConstStyle.GridNumber == @ConstStyle.GridNumber - 1}}
    </div>
    {{/if}}
    {{/each}}
</script>
<script id="Rmenu-tmpl" type="text/x-jquery-tmpl">
    {{each(idx) ListTable}}
    <table id="Rmenu-${ID}-${Table.ID}" class="Rmenu">
        <tr id="${ID}" class="{{if ID > 0}}Detail{{else}}RmenuDisable{{/if}}">
            <td>
                <div class="rmenu-detail"></div>
            </td>
            <td class="RmenuItem" id="Select-${ID}-${Table.ID}">Chi tiết</td>
        </tr>
        <tr id="rmenu-useTable-${ID}" data-tableid="${Table.ID}">
            <td>
                <div class="rmenu-add"></div>
            </td>
            <td class="RmenuItem" id="SelectNew-${ID}-${Table.ID}">Sử dụng ngay</td>
        </tr>
        <tr id="rmenu-move-${ID}" data-id="${ID}">
            <td>
                <div class="rmenu-move"></div>
            </td>
            <td class="RmenuItem" id="Move-${ID}-${Table.ID}">Chuyển bàn</td>
        </tr>
        <tr id="rmenu-del-${ID}" data-id="${ID}" class="{{if ID <= 0}}RmenuDisable{{/if}}">
            <td>
                <div class="rmenu-delete"></div>
            </td>
            <td class="RmenuItem" id="Delete-${ID}-${Table.ID}">Xóa thông tin</td>
        </tr>
    </table>
    {{/each}}
</script>
<script type="text/x-jquery-tmpl" id="invoice-preview-tmpl">
    <table id="inv-table">
        <colgroup>
            <col class="col1" />
            <col class="col2" />
            <col class="col3" />
            <col class="col4" />
            <col class="col5" />
        </colgroup>
        <thead>
            <tr>
                <th>No</th>
                <th>Product Code</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {{each(index) InvoiceDetails}}
            <tr>
                <td>${index}</td>
                <td>${ProductCode}</td>
                <td>${ProductVNName}</td>
                <td class="right">${Quantity}</td>
                <td class="right">${(Price * Quantity).transformAsMoney()}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</script>
<div id="cashier" class="split-pane horizontal-percent">
    <div id="area-table" class="split-pane-component">
        <ul id="areas">
            @foreach (var area in Model.ListArea)
            {
                <li><a href="#area-@area.ID" onclick="GetTablesByAreaID(@area.ID)">@area.Name</a></li>
            }

        </ul>
        <div id="tables">
            @foreach (var areaDto in Model.ListArea)
            {
                <div id="area-@areaDto.ID">
                </div>
            }
        </div>
    </div>

    <div class="split-pane-divider"></div>

    <div id="tableorder" class="split-pane-component">
        <a id="currentInvoiceTableID" style="display: none"></a>
        <div class="row">
            <div class="four columns"><span id="lblTableName">Table name: </span><span id="curTableName"></span></div>
            <div class="three columns"><span id="lblOrderBy">Order by: </span><span id="curOrderBy"></span></div>
            <div class="four columns"><span id="lblLastAccessBy">Last access by: </span><span id="curLastAccessBy"></span></div>
        </div>
        <div class="row">
            <div class="four columns">
                <span id="lblCustomerName" class="searchCustomer">Customer name: </span>
                <span id="curCustomerName"></span>
            </div>
            <div class="three columns"><span id="lblOrderDate">Order date: </span><span id="curOrderDate"></span></div>
            <div class="four columns"><span id="lblLastAccessDate">Last access date: </span><span id="curLastAccessDate"></span></div>
        </div>
        <div class="row">
            <form id="form-table-order">
                <table id="order">
                    <colgroup>
                        <col class="col1" />
                        <col class="col2" />
                        <col class="col3" />
                        <col class="col4" />
                        <col class="col5" />
                        <col class="col6" />
                        <col class="col7" />
                        <col class="col8" />
                        <col class="col9" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Product Code</th>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Unit</th>
                            <th>Price</th>
                            <th>Amount</th>
                            <th>Remarks</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="tbContent">
                    
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="9">
                                <a id="addProduct" href="#" class="myButton">Chọn món</a>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </form>
        </div>
        <div id="totalSection">
            <div class="row">
                <div class="two columns push_eight right">Total:</div>
                <div class="two columns right"><span class="total_amount">0</span> VNĐ</div>
            </div>
             @if(BranchConfig.UseServiceFee)
             {
                 <div class="row" id="ServiceFree">
                     <div class="two columns push_eight right">Service Fee:</div>
                     <div class="two columns right"><span class="fee">0</span> VNĐ</div>
                 </div>
             }
            <div class="row" id="Tax-">
                <div class="two columns push_eight right">Tax (10%):</div>
                <div class="two columns right"><span class="tax">0</span> VNĐ</div>
            </div>
            <div class="row">
                <div class="two columns push_eight right">Total Amount:</div>
                <div class="two columns right border-top"><span class="total_money">0</span> VNĐ</div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="four columns right border-top payment">
                    <a id="payment" href="#" class="myButton">Thanh toán</a>
                    <a id="printInvoice" href="#" class="myButton">In trước hóa đơn</a>
                </div>
            </div>
        </div>
    </div>
    
    <div id="rightMenuArea"></div>
    <table class="Rmenu" id="changeCustomer"><tr><td style="width: 150px; text-align: center">Change Customer</td></tr></table>

    @Html.Partial("SearchProductPopup", new PopupModel { PopupID = "pdtPopup", PopupTitle = "Search Product" })
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('div.split-pane').splitPane();
        $('#area-table').tabs();
        $("#addProduct").hide();
        $("#payment").hide();
        $("#printInvoice").hide();
        $("#addProduct").click(function () {
            var product = new SearchProductPopup("pdtPopup", listProduct, onRefreshProduct, onSelectProduct);
            product.OpenPopup();
            return false;
        });
        $('#printInvoice').click(function () {
            var invoice = new PrintPreviewPopup(400, "/Cashier/GetDataForPreviewInvoice", getDataForPostCallback, formatDataForPrintInvoicePreview, $('#invoice-preview-tmpl'));
            invoice.OpenPopup();
            return false;
        });

        refreshTable();
            
        setInterval(function() {
            refreshTable();
        }, 60000);
    });

    function getDataForPostCallback() {
        return { invoiceTableID: $('#currentInvoiceTableID').text() };
    }

    function formatDataForPrintInvoicePreview(data) {
        $(data.InvoiceDetails).each(function(idx) {
            data.InvoiceDetails[idx].idx = idx + 1;
        });
    }

    function refreshTable() {
        var area = $('#areas li.ui-tabs-active a[href*="area-"]').attr('href');
        var id = area.split('-')[1];
        GetTablesByAreaID(id);
    }
        
    function clearDisplayTableDetail(invTblId) {
        if ($('#currentInvoiceTableID').text() == invTblId) {
            $('#currentInvoiceTableID').text(-1);
            $('#curTableName').text('');
            $('#curOrderBy').text('');
            $('#curOrderDate').text('');
            $('#curLastAccessBy').text('');
            $('#curLastAccessDate').text('');
            $('#order .tbContent').html('');
            $("#addProduct").hide();
            $("#payment").hide();
            $("#printInvoice").hide();
            CalculateTotal();
        }
    }

    function onRemoveInvoiceTable(invTblId) {
        if (invTblId <= 0) {
            return;
        }
        $.ajax({
            type: 'POST',
            url: '/Cashier/CancelTable',
            data: { invoiceTableID: invTblId }
        }).done(function(data) {
            if (data == true) {
                clearDisplayTableDetail(invTblId);
            } else
                alert('Fail');

            refreshTable();
        });
    }

    function onMoveInvoiceTable(invTblId) {
        if (invTblId <= 0) {
            return;
        }
    }
        
    $(document).on("dblclick", ".tbls", (function(e) {
        var id = $(e.target).parents('.tbls').attr('id');
        var invTblId = id.split('-')[0];
        var tblId = id.split('-')[1];
        if(invTblId == 0) {
            var popup = new MessagePopup('Thông báo',
                'Bàn này hiện đang trống.<br />Sử dụng ngay?',
                3,
                function () {
                    onCheckTableStatus(invTblId, tblId);
                });
            
            popup.OpenPopup();
        } else {
            onSelectInvoiceTable(invTblId);
        }
    }));
        
    $(document).on("contextmenu", "#area-table", function() {
        return false;
    });
        
    $(document).on("contextmenu", ".tbls", function(e){
        $("table[id*=Rmenu-]").hide();
        $(".tbls").css('background-color', '');
        $(e.target).parents('.tbls').css('background-color', 'gainsboro');
        displayCustomMenu('#Rmenu-' + $(e.target).parents('.tbls').attr('id'), e);
    });
        
    $(document).click(function(e) {
        $("table[id*=Rmenu-]").hide();
        $(".tbls").css('background-color', '');
        if($(e.target).attr('id') != 'lblCustomerName' || $(e.target).attr('id') == null)
            $("#changeCustomer").hide();
                
    });
        
    $(document).on("click", "#payment", (function(){
        var invTblId = $('#currentInvoiceTableID').text();
        if(invTblId > 0) {
            var popup = new MessagePopup('Thông báo',
                'Bàn đã sẵn sàng để thanh toán.<br />Thanh toán ngay?',
                3,
                function () {
                    alert('abe');
                });
            
            popup.OpenPopup();
        }
    }));
        
    $(document).on("click", ".Detail", (function(e){
        var invTblId = $(e.target).parents('.Detail').attr('id');
        onSelectInvoiceTable(invTblId);
    }));

    $(document).on("click", ".delProduct", (function(){
        var invDetailId = $(this).attr('id').split('-')[1];
        onDeleteProductFromInvoiceDetail(invDetailId);
    }));

    $(document).on("click", ".searchCustomer", (function(e){
        displayCustomMenu('#changeCustomer', e);
    }));
        
    $(document).on("change", ".remarksInput", (function(){
        updateOrderProduct(this);
    }));

    function updateOrderProduct(e) {
        var colName = $(e).attr('id').split('-')[0]; 
        if(colName == 'qty') {
            if(!$(e).valid())
                return;
        }

        var invDetailId = $(e).attr('id').split('-')[1];
        var value = $(e).val();
        $.ajax({
            type: 'POST',
            url: '/Cashier/UpdateOrderProduct',
            data: { invoiceDetailID: invDetailId, columnName: colName, columnValue: value }
        }).done(function (data) {
            if(!data) {
                var popup = new MessagePopup('Thông báo',
                    'Có lỗi xảy ra trong quá trình thực thi.<br />Xin vui lòng thử lại sau.',
                    4,
                    function() {
                    });

                popup.OpenPopup();
            }
            var invTblId = $('#currentInvoiceTableID').text();
            if (invTblId != '' && invTblId > 0)
                onSelectInvoiceTable(invTblId);
        });
    }

    function onCheckTableStatus(invTblId, tableId) {
        if (invTblId == 0) {
            $.ajax({
                type: 'POST',
                url: '/Cashier/CheckTableStatus',
                data: { tableID: tableId }
            }).done(function(data) {
                if (data) {
                    var popup = new MessagePopup('Thông báo',
                        'Bàn này hiện đang được sử dụng.<br />Xin vui lòng thử lại.',
                        1,
                        function() {
                            refreshTable();
                        });

                    popup.OpenPopup();
                } else {
                    onCreateInvoiceTable(tableId);
                }
            });
        }else {
            onCreateInvoiceTable(tableId);
        }
    }

    function onSelectInvoiceTable(invTblId) {
        if (invTblId <= 0) {
            return;
        }
        $.ajax({
            type: 'POST',
            url: '/Cashier/SelectTable',
            data: { invoiceTableID: invTblId }
        }).done(function (data) {
            if (data == false) {
                var popup = new MessagePopup('Thông báo',
                    'Dữ liệu hiện không tồn tại.<br />Xin vui lòng thử lại.',
                    1,
                    function() {
                        refreshTable();
                        clearDisplayTableDetail(invTblId);
                    });

                popup.OpenPopup();
            }
            else {
                $('#order .tbContent').html('');
                $(data.InvoiceDetails).each(function(idx) {
                    data.InvoiceDetails[idx].idx = idx + 1;
                });
                $('#currentInvoiceTableID').text(data.ID);
                $('#curTableName').text(data.Table.VNName);
                $('#curOrderBy').text(data.CreatedUser);
                $('#curOrderDate').text(data.CreatedDate.transformAsDateTime());
                $('#curLastAccessBy').text(data.ModifiedUser);
                $('#curLastAccessDate').text(data.ModifiedDate == null ? '' : data.ModifiedDate.transformAsDateTime());
                $('#pdt-tmpl').tmpl(data.InvoiceDetails).appendTo('#order .tbContent');

                $('input[id^="qty"]').spinner({
                    step: 0.5,
                    numberFormat: "n",
                    min: 0.5,
                    change: function() {
                        updateOrderProduct(this);
                    }
                });
                $('#form-table-order').validate({
                    rules: {
                        qty: {
                            greaterThanZero: true
                        }
                    }
                });

                CalculateTotal();
                    
                $("#addProduct").show();
                $("#payment").show();
                $("#printInvoice").show();
            }
        });
        return;
    }
        
    function onCreateInvoiceTable(tblId) {
        if (tblId <= 0) {
            return;
        }
        var invTblId = 0;
        $.ajax({
            type: 'POST',
            url: '/Cashier/CreateInvoiceTable',
            data: { tableID: tblId }
        }).done(function (data) {
            invTblId = data.ID;
            onSelectInvoiceTable(invTblId);
            refreshTable();
        });
        return;
    }

    function onRefreshProduct(reloadCallback) {
        $.ajax({
            type: 'POST',
            url: '/Cashier/GetAllProductsForSearch',
        }).done(function (data) {
            listProduct = data;
        });
            
        if(reloadCallback)
            reloadCallback(listProduct);
    }

    function onSelectProduct(pdtId, qty) {
        var invTblId = $('#currentInvoiceTableID').text();
        if(invTblId != '' && invTblId > 0) {
            $.ajax({
                type: 'POST',
                url: '/Cashier/OrderProduct',
                data: { invoiceTableID: invTblId, productID: pdtId, quantity: qty }
            }).done(function(data) {
                if (data != null)
                    onSelectInvoiceTable(invTblId);
            });
        }
    }

    function onDeleteProductFromInvoiceDetail(invDetailId) {
        if (invDetailId != '' && invDetailId > 0) {
            $.ajax({
                type: 'POST',
                url: '/Cashier/RemoveOrderProduct',
                data: { invoiceDetailID: invDetailId }
            }).done(function(data) {
                if (data == true) {
                    var invTblId = $('#currentInvoiceTableID').text();
                    if (invTblId != '' && invTblId > 0)
                        onSelectInvoiceTable(invTblId);
                }
            });
        }
    }

    function GetTablesByAreaID(areaId) {
        if (areaId <= 0) {
            return;
        }
        $.ajax({
            type: 'POST',
            url: '/Cashier/GetTablesByAreaID',
            data: { areaID: areaId }
        }).done(function (data) {
            $('#area-' + areaId).html('');
            $('#rightMenuArea').html('');
            $('#table-tmpl').tmpl(data).appendTo('#area-' + areaId);
            $('#Rmenu-tmpl').tmpl(data).appendTo('#rightMenuArea');

            $('tr[id^="rmenu-useTable-"]').click(function () {
                var tableId = $(this).attr('data-tableid');
                var invTblId = $(this).attr('id').replace('rmenu-useTable-', '');
                onCheckTableStatus(invTblId, tableId);
                return false;
            });
            $('tr[id^="rmenu-move-"]').click(function () {
                var id = $(this).attr('data-id');
                onMoveInvoiceTable(id);
                return false;
            });
            $('tr[id^="rmenu-del-"]').click(function () {
                var id = $(this).attr('data-id');
                onRemoveInvoiceTable(id);
                return false;
            });
        });
        return;
    }
        
    function displayCustomMenu(menuName, event) {
        var $menu = $(menuName);
        var $wMenu = $menu.outerWidth();
        var $hMenu = $menu.outerHeight();
        var $leftM = event.clientX, $topM = event.clientY;
        var $rightM = $(window).width() - $leftM;

        var $bottomM = $(window).height() - $topM;
        if ($rightM < $wMenu) {
            $leftM -= $wMenu;
        }
        if ($bottomM < $hMenu) {
            $topM -= $hMenu;
        }
        $menu.css({ left: $leftM, top: $topM, display: 'block' });
        event.preventDefault();
    }
        
    function CalculateTotal() {
        var totalAmount = 0;
        $('#order .tbContent tr').each(function (idx, element) {
            totalAmount += parseInt($(element).find('td.item_subtotal').text());
        });

        $('#totalSection .total_amount').text(totalAmount.transformAsMoney());
            
        $('#totalSection .fee').text(serviceFee.transformAsMoney());
            
        var tax = totalAmount / 10;
        $('#totalSection .tax').text(tax.transformAsMoney());
            
        $('#totalSection .total_money').text((totalAmount + tax).transformAsMoney());
    }
</script>