@using SMS.MvcApplication.Models
@using SMS.Common.Constant
@model CashierModel
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/Content/css/split-pane.css" />
<script type="text/javascript" src="~/Scripts/split-pane.js"></script>

<div id="cashier" class="split-pane horizontal-percent">
    <div id="tablelist" class="split-pane-component">
        <ul>
            <li><a href="#tabs-1">Area 1</a></li>
            <li><a href="#tabs-2">Area 2</a></li>
            <li><a href="#tabs-3">Area 3</a></li>
        </ul>
        <div id="tabs-1">
            <h5>Area 1</h5>

            @for (var i = 0; i < Model.ListTable.Count; i++)
            {
                if (i % ConstStyle.GridNumber == 0)
                {
                @Html.Raw("<div class='row'>")
                }
    
                <div class="one column">
                    <input type="button" value="@Model.ListTable[i].VNName" />
                </div>
    
                if (i == Model.ListTable.Count - 1 || i % ConstStyle.GridNumber == ConstStyle.GridNumber - 1)
                {
                @Html.Raw("</div>")
                }
            }
        </div>
        <div id="tabs-2">
            <h5>Area 2</h5>

        </div>
        <div id="tabs-3">
            <h5>Area 3</h5>

        </div>
    </div>

    <div class="split-pane-divider"></div>

    <div id="tableorder" class="split-pane-component">
        <div class="row">
            <div class="two columns">Table name</div>
            <div class="four columns">User: Son Nguyen. Date: 11/04/2014 18:00</div>
        </div>
        <div class="row">
            <table id="order">
                <colgroup>
                    <col class="col1" />
                    <col class="col2" />
                    <col class="col3" />
                    <col class="col4" />
                    <col class="col5" />
                    <col class="col6" />
                    <col class="col7" />
                    <col class="col8" />
                </colgroup>
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                        <th>Price</th>
                        <th>Amount</th>
                        <th>Remarks</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Cơm gà</td>
                        <td class="right">1</td>
                        <td>Đĩa</td>
                        <td class="right">20.000</td>
                        <td class="right">20.000</td>
                        <td>
                            <input type="text" name="remarks1" class="remarksInput" /></td>
                        <td class="center">X</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Lẩu bò</td>
                        <td class="right">1</td>
                        <td>Cái</td>
                        <td class="right">120.000</td>
                        <td class="right">120.000</td>
                        <td>
                            <input type="text" name="remarks2" class="remarksInput" /></td>
                        <td class="center">X</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Đũa</td>
                        <td class="right">3</td>
                        <td>Đôi</td>
                        <td class="right">5.000</td>
                        <td class="right">15.000</td>
                        <td>
                            <input type="text" name="remarks3" class="remarksInput" /></td>
                        <td class="center">X</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="8"><a href="#" id="addProduct">+</a></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="row">
            <div class="two columns push_eight right">Total:</div>
            <div class="two columns right">155.000 VNĐ</div>
        </div>
        <div class="row">
            <div class="two columns push_eight right">Service Fee:</div>
            <div class="two columns right">0 VNĐ</div>
        </div>
        <div class="row">
            <div class="two columns push_eight right">Tax (10%):</div>
            <div class="two columns right">15.500 VNĐ</div>
        </div>
        <div class="row">
            <div class="two columns push_eight right">Total Amount:</div>
            <div class="two columns right border-top">170.500 VNĐ</div>
        </div>
    </div>
    @Html.Partial("_SearchProductPopup", new SearchPopupModel { PopupId = "pdtPopup", PopupTitle = "Search Product" })

    <script>
        $(document).ready(function() {
            $('div.split-pane').splitPane();
            $('#tablelist').tabs();
            $("#addProduct").click(function () {
                var product = new Popup("pdtPopup", "@SearchPopupUrl.ProductsForCashier", onSelectProduct);
                product.OpenPopup();
                return false;
            });
        });
        
        function onSelectProduct(product) {
            alert(product);
        }
    </script>
</div>
