@using SMS.MvcApplication.Models
@using SMS.Common.Constant
@model CashierModel
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/Content/css/split-pane.css" />
<script type="text/javascript" src="~/Scripts/split-pane.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.js"></script>
<script type="text/javascript">
    var listProduct = @Html.Raw(Json.Encode(Model.ListProduct))
</script>
<script id="pdt-tmpl" type="text/x-jquery-tmpl">
    <tr>
        <td>${idx}</td>
        <td>${VNName}</td>
        <td class="right">${Quantity}</td>
        <td>${Unit.VNName}</td>
        <td class="right">${Price}</td>
        <td class="right item_subtotal">${Price * Quantity}</td>
        <td>
            <input type="text" name="remarks${No}" class="remarksInput" /></td>
        <td class="center"><a href="#" id="del-${ID}">X</a></td>
    </tr>
</script>
<script id="table-tmpl" type="text/x-jquery-tmpl">
    {{each(idx) ListTable}}
    {{if idx % @ConstStyle.GridNumber == 0}}
    <div class='row'>
        {{/if}}
        <div class="one column">
            <table class="tbls" id="${ID}-${Table.ID}-${Table.VNName}">
                <tr>
                    {{if ID > 0}}
                    <td style="background-image: url(../Images/IconControls/table-avai.png)">
                    {{else}}
                    <td style="background-image: url(../Images/IconControls/table-empty.png)">
                    {{/if}}
                    </td>
                </tr>
                <tr>
                    <td>${Table.VNName}</td>
                </tr>
            </table>
        </div>
            
        {{if idx == $data.ListTable.length || idx % @ConstStyle.GridNumber == @ConstStyle.GridNumber - 1}}
        </div>
        {{/if}}
    {{/each}}
</script>
<script id="Rmenu-tmpl" type="text/x-jquery-tmpl">
    {{each(idx) ListTable}}

    <table id="Rmenu-${ID}-${Table.ID}" class="Rmenu">
        <tr onclick="onSelectTable(${ID})">
            <td>
                <div style="background-image: url(../Images/IconControls/details-icon.png)"></div>
            </td>
            <td class="RmenuItem" id="Select-${ID}-${Table.ID}">Chi tiết</td>
        </tr>
        <tr onclick="onSelectNewTable(${Table.ID})">
            <td>
                <div style="background-image: url(../Images/IconControls/add-icon.png)"></div>
            </td>
            <td class="RmenuItem" id="SelectNew-${ID}-${Table.ID}">Sử dụng ngay</td>
        </tr>
        <tr onclick="onMoveInvoiceTable(${ID})">
            <td>
                <div style="background-image: url(../Images/IconControls/move-icon.png)"></div>
            </td>
            <td class="RmenuItem" id="Move-${ID}-${Table.ID}">Chuyển bàn</td>
        </tr>
        <tr onclick="onClearInvoiceTable(${ID})">
            <td>
                <div style="background-image: url(../Images/IconControls/delete-icon.png)"></div>
            </td>
            <td class="RmenuItem" id="Delete-${ID}-${Table.ID}">Xóa thông tin</td>
        </tr>
    </table>
    {{/each}}
</script>

<div id="cashier" class="split-pane horizontal-percent">
    <div id="area-table" class="split-pane-component">
        <ul id="areas">
            @foreach (var areaDto in Model.ListArea)
            {
                <li><a href="#area-@areaDto.ID" onclick="GetTablesByAreaID(@areaDto.ID)">@areaDto.VNName</a></li>
            }

        </ul>
        <div id="tables">
            @foreach (var areaDto in Model.ListArea)
            {
                <div id="area-@areaDto.ID">
                </div>
            }
        </div>
    </div>

    <div class="split-pane-divider"></div>

    <div id="tableorder" class="split-pane-component">
        <div class="row">
            <div class="two columns">Table name</div>
            <div class="four columns">User: Son Nguyen. Date: 11/04/2014 18:00</div>
        </div>
        <div class="row">
            <table id="order">
                <colgroup>
                    <col class="col1" />
                    <col class="col2" />
                    <col class="col3" />
                    <col class="col4" />
                    <col class="col5" />
                    <col class="col6" />
                    <col class="col7" />
                    <col class="col8" />
                </colgroup>
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                        <th>Price</th>
                        <th>Amount</th>
                        <th>Remarks</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="tbContent">
                    
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="8"><img id="addProduct" alt="Thêm món" src="Images/IconControls/product-add-icon.png"/></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div id="totalSection">
            <div class="row">
                <div class="two columns push_eight right">Total:</div>
                <div class="two columns right"><span class="total_amount">0</span> VNĐ</div>
            </div>
            <div class="row" id="ServiceFree">
                <div class="two columns push_eight right">Service Fee:</div>
                <div class="two columns right"><span class="fee">0</span> VNĐ</div>
            </div>
            <div class="row" id="Tax-">
                <div class="two columns push_eight right">Tax (10%):</div>
                <div class="two columns right"><span class="tax">0</span> VNĐ</div>
            </div>
            <div class="row">
                <div class="two columns push_eight right">Total Amount:</div>
                <div class="two columns right border-top"><span class="total_money">0</span> VNĐ</div>
            </div>
        </div>
    </div>
    
    <div id="rightMenuArea"></div>

    @Html.Partial("_SearchProductPopup", new PopupModel { PopupID = "pdtPopup", PopupTitle = "Search Product" })

    <script type="text/javascript">
        $(document).ready(function () {
            $('div.split-pane').splitPane();
            $('#area-table').tabs();
            $("#addProduct").hide();
            $("#addProduct").click(function () {
                var product = new SearchProductPopup("pdtPopup", listProduct, onRefreshProduct, onSelectProduct, onDeleteProduct);
                product.OpenPopup();
                return false;
            });
            
            var area = $('#areas li.ui-tabs-selected a[href*="area-"]').attr('href');
            var id = area.split('-')[1];
            GetTablesByAreaID(id);
            
            setInterval(function() {
                area = $('#areas li.ui-tabs-selected a[href*="area-"]').attr('href');
                id = area.split('-')[1];
                GetTablesByAreaID(id);
            }, 60000);
        });

        function onClearInvoiceTable(invTblId) {
            if (invTblId <= 0) {
                return false;
            }
            $.ajax({
                    type: 'POST',
                    url: '/Cashier/DeleteInvoiceTable',
                    data: { invoiceTableID: invTblId }
                }).done(function(data) {
                    if (data == true)
                        alert('Susscess');
                    else
                        alert('Fail');

                    var area = $('#areas li.ui-tabs-selected a[href*="area-"]').attr('href');
                    var areaId = area.split('-')[1];
                    GetTablesByAreaID(areaId);
                });
        }

        function onMoveInvoiceTable(invTblId) {
            if (invTblId <= 0) {
                return false;
            }
        }
        
        $(document).on("dblclick", ".tbls", (function(e) {
            var invTblId = $(e.target).parents('.tbls').attr('id').split('-')[0];
            var tblId = $(e.target).parents('.tbls').attr('id').split('-')[1];
            if(invTblId == 0) {
                var didConfirm = confirm("Bàn này hiện đang trống. \nSử dụng ngay?");
                if (didConfirm == true) {
                    onSelectNewTable(tblId);
                }
                else {
                    return false;
                }
            } else {
                onSelectTable(invTblId);
            }
        }));
        
        $(document).on("contextmenu", "#area-table", function(e) {
            return false;
        });
        
        $(document).on("contextmenu", ".tbls", function(e){
            $("table[id*=Rmenu-]").hide();
            $(e.target).parents('.tbls').css('background-color', 'gainsboro');
            var invTblId = $(e.target).parents('.tbls').attr('id').split('-')[0];
            var tblId = $(e.target).parents('.tbls').attr('id').split('-')[1];
            var $menu = $('#Rmenu-' + invTblId + '-' + tblId);
            var $wMenu = $menu.outerWidth();
            var $hMenu = $menu.outerHeight();
            var $leftM = e.clientX, $topM = e.clientY;
            var $rightM = $(window).width() - $leftM;
      
            var $bottomM = $(window).height()-$topM;
            if($rightM < $wMenu){
                $leftM -= $wMenu;
            }
            if($bottomM < $hMenu){
                $topM -= $hMenu;
            }
            $menu.css({left: $leftM, top: $topM, display:'block'});
            e.preventDefault();
        });
        
        $(document).click(function() {
            $("table[id*=Rmenu-]").hide();
            $(".tbls").css('background-color', '');
        });

        function onSelectTable(invTblId) {
            if (invTblId <= 0) {
                return false;
            }
            $.ajax({
                type: 'POST',
                url: '/Cashier/SelectTable',
                data: { invoiceTableID: invTblId }
            }).done(function (data) {
                $('#order .tbContent').html('');
                $(data).each(function(idx) {
                    data[idx].idx = idx + 1;
                });
                
                $('#pdt-tmpl').tmpl(data).appendTo('#order .tbContent');
                CalculateTotal();
            });
            $("#addProduct").show();
        }
        
        function onSelectNewTable(tblId) {
            if (tblId <= 0) {
                return false;
            }
            var invTblId = 0;
            $.ajax({
                type: 'POST',
                url: '/Cashier/SelectNewTable',
                data: { tableID: tblId }
            }).done(function (data) {
                invTblId = data.ID;
                onSelectTable(invTblId);
                var area = $('#areas li.ui-tabs-selected a[href*="area-"]').attr('href');
                var id = area.split('-')[1];
                GetTablesByAreaID(id);
            });
            $("#addProduct").show();
        }

        function onRefreshProduct(reloadCallback) {
            $.ajax({
                type: 'POST',
                url: '/Cashier/GetAllProductsForSearch',
            }).done(function (data) {
                listProduct = data;
            });
            
            if(reloadCallback)
                reloadCallback(listProduct);
        }

        function onSelectProduct(pdtId, qty) {
            $.ajax({
                type: 'POST',
                url: '/Cashier/SelectProduct',
                data: { productID: pdtId, quantity: qty }
            }).done(function (data) {
                var count = $('#order .tbContent tr').length;
                data.idx = count + 1;

                $('#pdt-tmpl').tmpl(data).appendTo('#order .tbContent');
                CalculateTotal();
            });
        }

        function onDeleteProduct(pdtId) {
            return false;
        }

        function GetTablesByAreaID(areaID) {
            if (areaID <= 0) {
                return false;
            }
            $.ajax({
                type: 'POST',
                url: '/Cashier/GetTablesByAreaID',
                data: { areaID: areaID }
            }).done(function (data) {
                $('#area-' + areaID).html('');
                $('#rightMenuArea').html('');
                $('#table-tmpl').tmpl(data).appendTo('#area-' + areaID);
                $('#Rmenu-tmpl').tmpl(data).appendTo('#rightMenuArea');
            });
        }
        
        function CalculateTotal() {
            var totalAmount = 0;
            $('#order .tbContent tr').each(function (idx, element) {
                totalAmount += parseInt($(element).find('td.item_subtotal').text());
            });
            $('#totalSection .total_amount').text(totalAmount);
            
            var tax = totalAmount / 10;
            $('#totalSection .tax').text(tax);
            
            $('#totalSection .total_money').text(totalAmount + tax);
        }
    </script>
</div>
