@using SMS.Common.Session
@using SMS.Data.Dtos
@using SMS.MvcApplication.Models
@model UserModel

<script id="record-tmpl" type="text/x-jquery-tmpl">
    <tr class="admin-record-detail">
        <td colspan="6">
            <div class="detail" style="display: none;">
                <div class="row">
                    <div class="three columns right" data-labelID="lblUserName">
                        Username
                    </div>
                    <div class="four columns">
                        ${User.Username}
                    </div>
                </div>
                <div class="row">
                    <div class="three columns right" data-labelID="lblPassword">
                        Password
                    </div>
                    <div class="five columns">
                        <input type="password" name="password" value="" id="password-${User.ID}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="three columns right" data-labelID="lblFirstName">
                        First name
                    </div>
                    <div class="five columns">
                        <input type="text" name="firstName" value="${User.FirstName}" id="firstName-${User.ID}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="three columns right" data-labelID="lblLastName">
                        Last name
                    </div>
                    <div class="five columns">
                        <input type="text" name="lastName" value="${User.LastName}" id="lastName-${User.ID}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="three columns right" data-labelID="lblCellPhone">
                        Cell phone
                    </div>
                    <div class="five columns">
                        <input type="text" name="cellPhone" value="${User.CellPhone}" id="cellPhone-${User.ID}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="three columns right" data-labelID="lblEmail">
                        Email
                    </div>
                    <div class="five columns">
                        <input type="text" name="email" value="${User.Email}" id="email-${User.ID}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="three columns right" data-labelID="lblAddress">
                        Address
                    </div>
                    <div class="five columns">
                        <input type="text" name="address" value="${User.Address}" id="address-${User.ID}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="three columns right" data-labelID="lblSuspended">
                        Suspended
                    </div>
                    <div class="four columns">
                        {{if UserConfig.IsSuspended}}
                        <input type="checkbox" name="suspended" checked id="suspended-${User.ID}"/>
                        {{else}}
                        <input type="checkbox" name="suspended" id="suspended-${User.ID}"/>
                        {{/if}}
                    </div>
                </div>

                <div class="row">
                    <div class="four columns right" data-labelID="lblRoles">
                        Roles
                    </div>
                    <div class="three columns">
                    </div>
                    <div class="four columns left" data-labelID="lblAssignedRoles">
                        Assigned roles
                    </div>
                </div>
                <div class="row">
                    <div class="four columns right">
                        <select id="originalRoles-${User.ID}" multiple="multiple" size="5" style="width: 80%">
                            @foreach (RoleDto role in ViewBag.ListRole)
                            {
                                <text>
                                    <option value="@role.ID">@role.Name</option>
                                </text>
                            }
                        </select>
                    </div>
                    <div class="three columns center">
                        <button id="addRoles-${User.ID}" class="assignButton">></button>
                        <button id="addAllRoles-${User.ID}" class="assignButton">>></button>
                        <button id="removeAllRoles-${User.ID}" class="assignButton"><<</button>
                        <button id="removeRoles-${User.ID}" class="assignButton"><</button>
                    </div>
                    <div class="four columns">
                        <select name="assignedRoles" id="assignedRoles-${User.ID}" multiple="multiple" size="5" style="width: 80%">
                            {{each User.Roles}}
                            <option value="${ID}">${Name}</option>
                            {{/each}}
                        </select>
                    </div>
                    {{html buildScriptForAssignListBox(User.ID)}}
                </div>
                <div class="row">
                    <div class="eleven columns center">
                        <button id="save-${User.ID}" data-labelID="lblSave">Save</button>
                        <button id="cancel-${User.ID}" data-labelID="lblCancel">Cancel</button>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</script>

<script type="text/javascript" src="~/Scripts/assignListBox.js"></script>
<script type="text/javascript">
    function buildScriptForAssignListBox(id) {
        var param = '"originalRoles-' + id + '", "' + 'assignedRoles-' + id + '", "' + 'addRoles-' + id + '", "' + 'removeRoles-' + id + '", "' + 'addAllRoles-' + id + '", "' + 'removeAllRoles-' + id + '"';

        return '<sc' + 'ript type="text/javascript">'
            + 'var listBox = new AssignListBox(' + param + ');'
            + 'listBox.bindEvents();'
            + '</sc' + 'ript>';
    }
</script>

<div id="content">
    <div class="row">
        <h4 class="admin-page-title">Maintain User</h4>
    </div>
    @Html.Partial("Search", Model.PagingInfo)
    <div class="row">
        <table id="record-table" class="no-border">
            <colgroup>
                <col style="width: 50px;" />
                <col style="width: 60px;" />
                <col style="width: 150px;" />
                <col />
                <col />
                <col style="width: 75px;" />
            </colgroup>
            <thead>
                <tr>
                    <th></th>
                    <th data-labelID="lblNo">No</th>
                    <th data-labelID="lblUserName">User name</th>
                    <th data-labelID="lblFirstName">First name</th>
                    <th data-labelID="lblLastName">Last name</th>
                    <th data-labelID="lblSuspended">Suspended</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dto in Model.Users)
                {
                    var altClass = Model.Users.IndexOf(dto) % 2 != 0 ? "alt" : "";
                    <tr class="@altClass" data-id="@dto.ID">
                        <td>
                            <a href="#" class="edit-record" data-id="@dto.ID"><img src="~/Images/IconControls/edit-icon.png" alt="edit record" /></a>
                        </td>
                        <td>@Html.Raw(Model.Users.IndexOf(dto) + 1)</td>
                        <td>@dto.Username</td>
                        <td>@dto.FirstName</td>
                        <td>@dto.LastName</td>
                        @if(Model.UserConfigs.SingleOrDefault(x => x.UserID == dto.ID) ==null)
                        {
                            <td>@false</td>
                        }
                        else
                        {
                            <td>@Model.UserConfigs.Single(x => x.UserID == dto.ID).IsSuspended</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        @Html.Partial("Paging", Model.PagingInfo)
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#record-table').table();
        
        $('#record-table a.edit-record').click(function () {
            var record = $(this).parent().parent();
            if (record.length == 0 || record.next().hasClass('admin-record-detail')) {
                cancelRecord();
                return false;
            }

            var id = $(this).attr('data-id');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetUserInfo")',
                data: { userID: id }
            }).done(function (result) {
                if (!result.Success) {
                    return;
                }
                cancelRecord();

                var place = $('tr[data-id="' + result.Data.User.ID + '"]');
                if (place.length == 0)
                    return;

                place.addClass('ui-state-active');

                $('#record-tmpl').tmpl(result.Data).insertAfter(place);
                place.next().addClass('ui-widget-content');

                $('#save-' + result.Data.User.ID).button({
                    icons: {
                        primary: "ui-icon-disk"
                    }
                }).click(function () {
                    saveRecord(result.Data.User.ID);
                    return false;
                });
                $('#cancel-' + result.Data.User.ID).button({
                    icons: {
                        primary: "ui-icon-close"
                    }
                }).click(function () {
                    cancelRecord();
                    return false;
                });
                $('.admin-record-detail .detail').slideToggle(500);
            });

            return false;
        });
    });

    function saveRecord(recordID) {
        var roles = Array();

        $('#assignedRoles-' + recordID + ' option').each(function (idx, e) {
            roles.push({ ID: $(e).val() });
        });

        var dataToSave = {
            User: {
                ID: recordID,
                Password: $('#password-' + recordID).val(),
                FirstName: $('#firstName-' + recordID).val(),
                LastName: $('#lastName-' + recordID).val(),
                CellPhone: $('#cellPhone-' + recordID).val(),
                Email: $('#email-' + recordID).val(),
                Address: $('#address-' + recordID).val(),
                Roles: roles
            },
            UserConfig: {
                UserID: recordID,
                BranchID: @SmsSystem.SelectedBranchID,
                IsSuspended: $('#suspended-' + recordID).prop('checked')
            }
        };

        $.ajax({
            type: 'POST',
            url: '@Url.Action("UpdateUserBranch")',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(dataToSave),
        }).done(function (result) {
            if (result.Success)
                location.reload();
        });
    }

    function cancelRecord() {
        $('.admin-record-detail .detail').slideToggle(500, function () {
            $(this).parent().parent().prev().removeClass('ui-state-active');
            $(this).parent().parent().remove();
        });
    }
</script>
