@model SMS.MvcApplication.Areas.Administrator.Models.AdminModel<SMS.Data.Dtos.AreaDto>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script id="record-tmpl" type="text/x-jquery-tmpl">
    <tr class="admin-record-detail">
        <td colspan="6">
            <div class="detail" style="display: none;">
                <div class="row">
                    <div class="three columns">
                        Area name
                    </div>
                    <div class="three columns">
                        <input type="text" name="areaName" value="${VNName}"/>
                    </div>
                    <div class="three columns">
                        Branch ID
                    </div>
                    <div class="three columns">
                        <input type="text" name="branchID" value="${BranchID}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="three columns">
                        SEQ
                    </div>
                    <div class="three columns">
                        <input type="text" name="seq" value="${SEQ}"/>
                    </div>
                    <div class="three columns">
                        Enable
                    </div>
                    <div class="three columns">
                        {{if Enable == true}}
                            <input type="checkbox" name="enable" checked />
                        {{else}}
                            <input type="checkbox" name="enable" />
                        {{/if}}
                    </div>
                </div>
            </div>
        </td>
    </tr>
</script>
<div id="admin-body">
    <h4 class="admin-page-title">Index</h4>
    <div class="row">
        <table class="admin-table-record">
            <colgroup>
                <col style="width: 50px;" />
                <col style="width: 60px;" />
                <col />
                <col style="width: 100px;" />
                <col style="width: 75px;" />
                <col style="width: 75px;" />
            </colgroup>
            <thead>
                <tr>
                    <th></th>
                    <th>No</th>
                    <th>Area name</th>
                    <th>Branch</th>
                    <th>SEQ</th>
                    <th>Enabled</th>
                </tr>
            </thead>
            <tbody class="admin-list-record">
                @foreach (var areaDto in Model.ListRecord)
                {
                    <tr class="admin-record">
                        <td>
                            <input type="hidden" name="id-@areaDto.ID" value="@areaDto.ID"/>
                            <a href="#" id="del-@areaDto.ID">X</a>
                            <a href="#" id="edit-@areaDto.ID">></a>
                        </td>
                        <td>@Html.Raw(Model.ListRecord.IndexOf(areaDto) + 1)</td>
                        <td>@areaDto.VNName</td>
                        <td>@areaDto.BranchID</td>
                        <td>@areaDto.SEQ</td>
                        <td>@areaDto.Enable</td>
                    </tr>
                }
                
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6"><a href="#" id="addRecord">+</a></td>
                </tr>
            </tfoot>
        </table>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.admin-list-record a[id^="edit"]').click(function () {
                    var record = $(this).parent().parent();
                    if (record.length == 0 || record.next().hasClass('admin-record-detail')) {
                        record.next().find('div.detail').slideToggle(500, function () {
                            record.next().remove();
                        });
                        return false;
                    }

                    var id = $(this).siblings('input[name^="id"]').val();
                    $.ajax({
                        type: 'POST',
                        url: '/Administrator/Area/GetDataForEdit',
                        data: { recordID: id }
                    }).done(function (data) {
                        $('.admin-record-detail .detail').slideToggle(500, function () {
                            $(this).parent().parent().remove();
                        });

                        var clientId = $('.admin-list-record input[name^="id-' + data.ID + '"]');
                        if (clientId.length == 0 || clientId.val() != data.ID)
                            return;

                        var record = clientId.parent().parent();

                        $('#record-tmpl').tmpl(data).insertAfter(record);
                        $('.admin-record-detail .detail').slideToggle(500);
                    });

                    return false;
                });

                $('.admin-table-record a#addRecord').click(function () {
                    var record = $(this).parent().parent();
                    if (record.length == 0 || record.next().hasClass('admin-record-detail')) {
                        record.next().find('div.detail').slideToggle(500, function() {
                            record.next().remove();
                        });
                        return false;
                    }

                    $.ajax({
                        type: 'POST',
                        url: '/Administrator/Area/GetSchemaForAdd',
                    }).done(function (data) {
                        $('.admin-record-detail .detail').slideToggle(500, function () {
                            $(this).parent().parent().remove();
                        });

                        var place = $('.admin-table-record a#addRecord').parent().parent();

                        $('#record-tmpl').tmpl(data).insertAfter(place);
                        $('.admin-record-detail .detail').slideToggle(500);
                    });

                    return false;
                });
            });

        </script>
    </div>
</div>
