@using Core.Common
@using SMS.MvcApplication.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/themes/start/css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    
</head>
<body>
    <header class="ui-helper-clearfix" id="header">
        <div id="logo">
            <p>@Html.ActionLink("your logo here", "Index", "Home")</p>
        </div>
        <div id="login">
            <section>
                @Html.Partial("_LoginPartial")
            </section>
        </div>
    </header>
    <div class="ui-helper-clearfix">
        <div id="leftmenu">
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Administrator", "Index", "AdminHome", new { area = "Administrator" }, null)</li>
                    <li>@Html.ActionLink("Cashier", "Index", "Cashier", new { area = "" }, null)</li>
                </ul>
            </nav>
        </div>
        <div id="leftmenuExpander">
            <a href="#" id="expander" class="expanded">&lt;</a>
        </div>
        <div id="body">
            <section>
                @if (ViewContext.RouteData.DataTokens["area"] != null && ViewContext.RouteData.DataTokens["area"].ToString() == "Administrator")
                {
                    var adminMenu = new List<HyperlinkModel>
                                    {
                                        new HyperlinkModel { Text = "Area", ActionName = "Index", ControllerName = "Area", AreaName = "Administrator" },
                                        new HyperlinkModel { Text = "Table", ActionName = "Index", ControllerName = "Table", AreaName = "Administrator" },
                                        
                                    };
                    <div id="admin-menu" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
                        <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                            @foreach (var menu in adminMenu)
                            {
                                var selectedClass = ViewContext.RouteData.Values["controller"].ToString() == menu.ControllerName
                                    ? "ui-tabs-selected ui-state-active"
                                    : "";
                                
                                <li class="ui-state-default ui-corner-top @Html.Raw(selectedClass)">
                                    @Html.ActionLink(menu.Text, menu.ActionName, menu.ControllerName, new { area = menu.AreaName }, null)
                                </li>
                            }
                        </ul>   
                    </div>
                    <script type="text/javascript" src="@Url.Content("~/Scripts/admin-function.js")"></script>
                    <script type="text/javascript">
                        $(document).ready(function() {
                            $('#admin-menu li').hover(function() {
                                $(this).addClass('ui-state-hover');
                            }, function() {
                                $(this).removeClass('ui-state-hover');
                            });
                        });
                    </script>
                }
                @RenderBody()
            </section>
        </div>
    </div>

    <footer id="footer">
        &copy; @DateTime.Now.Year - My ASP.NET MVC Application
    </footer>
    @Html.Partial("_AjaxLoader")
    @RenderSection("scripts", required: false)
</body>
</html>
