@model SMS.MvcApplication.Models.SearchPopupModel

<div title="@Model.PopupTitle" id="@Model.PopupId" style="display: none;" class="panel">
    <form onkeypress="return event.keyCode != 13;">
        <fieldset>
            <input type="text" name="textSearch" class="textSearch">
            <input type="hidden" class="lastTextSearch" name="lastTextSearch">
            <input type="hidden" class="currentPage" name="currentPage">
            <div class="twelve searchDiv">
                <input type="button" class="button popupLookupSearch"  value="Search">
            </div>
            <div id="scroll_box" class="twelve">
                <table class="twelve tableContent">
                    <tbody class="tbContentLookup">
                    </tbody>
                </table>
                <table class="twelve listLookupEmpty">
                    <tr>
                        <td style="width: auto; background-color: #ffffff;">No product available
                        </td>
                    </tr>
                </table>
            </div>
            <div class="eight columns">
                <ul class="pagination">
                </ul>
            </div>
            <div class="four columns totalRecords">
                <span></span>
            </div>
        </fieldset>
        <div class="twelve footerDiv">
            <input type="button" class="button popupLookupSelect" value="Select">
            <input type="button" class="button secondary popupLookupClose" value="Close">
        </div>
        <input type="hidden" id="checkedIds" value=""/>
    </form>
</div>

<script src="@Url.Content("~/javascripts/popup.js")"></script>
<script src="@Url.Content("~/javascripts/jquery.tmpl.js")"></script>
<script src="@Url.Content("~/javascripts/jquery.tmplPlus.js")"></script>
<script id="popup-content-@Model.PopupId" type="text/x-jquery-tmpl">
    @{
        var inputType = "radio";//string.IsNullOrWhiteSpace(Model.Type) ? "radio" : "checkbox";
        var inputName = "radioGroup";//string.IsNullOrWhiteSpace(Model.Type) ? "radioGroup" : "checkboxGroup";
    }    
    {{each ListLookup}}
    <tr>
        <td style="width: 30px">
            <input type="@inputType" name="@inputName" value="${Text}" id="${Value}" ${Selected}/>
        </td>
        <td style="width: 100%">{{html $value.Text}}
        </td>
    </tr>
    {{/each}}
</script>
<script>
    $('#@Model.PopupId').keypress(function (e) {
        if (e.which == 13) {
            $('#@Model.PopupId .popupLookupSearch').trigger('click');
        }
    });
</script>


<script type="text/javascript">
    $( "#@Model.PopupId" ).dialog({
        autoOpen: false,
        height: 300,
        width: 350,
        modal: true,

    });
</script>