@using SMS.MvcApplication.Models
@model UserProfileModel

<script src="@Url.Content("~/Scripts/jquery.fileupload.js")"></script>

<script type="text/javascript">
    var user = @Html.Raw(JsonEncode(Model.UserBasic));
    var userConfig = @Html.Raw(JsonEncode(Model.UserConfig));
</script>

<div id="content" class="row">
    <div class="row float-left" id="edit-profile">
        <fieldset>
            <legend>User infomation</legend>
            <table class="no-border">
                <colgroup>
                    <col class="col1" />
                    <col class="col2" />
                    <col class="col3" />
                </colgroup>
                <tbody>
                    <tr>
                        <td>User name</td>
                        <td>@Model.UserBasic.Username</td>
                        <td rowspan="6" id="image-profile">
                            <div id="profileImage">
                                <span>
                                    <img id="user-profile" alt="profile" src="~/Images/default.jpg"/>
                                    <span class="fileinput-button" title="upload photo">
                                        <img id="capture" alt="capture" src="~/Images/IconControls/capture-icon.png"/>
                                        <input type="file" name="uploadedFile" id="fileupload" accept="image/jpg, image/jpeg, image/png" />
                                    </span>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>First name</td>
                        <td><input type="text" value="@Model.UserBasic.FirstName"/></td>
                    </tr>
                    <tr>
                        <td>Last name</td>
                        <td><input type="text" value="@Model.UserBasic.LastName"/></td>
                    </tr>
                    <tr>
                        <td>Cell phone</td>
                        <td><input type="text" value="@Model.UserBasic.CellPhone"/></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><input type="text" value="@Model.UserBasic.Email"/></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td><input type="text" value="@Model.UserBasic.Address"/></td>
                    </tr>
                    
                    <tr>
                        <td>Theme</td>
                        <td>
                            <select id="theme">
                                <option value="ui-lightness">ui-lightness</option>
                                <option value="redmond">redmond</option>
                                <option value="blitzer">blitzer</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="center">
                            <button id="update" data-labelID="lblUpdate">Update</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </div>
</div>

<script type="text/javascript">
    var imgs = null;
    $(document).ready(function() {
        $('#theme').selectmenu();
        var theme = userConfig.Theme;
        $('#theme').val(theme);

        $('#update').button({
            icons: {
                primary: "ui-icon-disk"
            }
        });
        
        $('#fileupload').fileupload({
            type: 'POST',
            url: '@Url.Action("Upload")',
            add: function (e, data) {
                var goUpload = true;
                var uploadFile = data.files[0];
                if (!(/(\.jpg|\.jpeg|\.png)$/i).test(uploadFile.name) ) {
                    alert("Incorrect file format. Please try again.");
                    goUpload = false;
                }
                if (goUpload == true) {
                    data.submit();
                }
            },
            fileExt: '*.jpg;*.jpeg;*.png',
            // Handles the server side validation on file type
            done: function (e, data) {
                var error = data.response().result.Data;
                if(error == "") {
                    $.ajax({
                        cache: false,
                        type: "GET",
                        url: '@Url.Action("getProfileImage")',
                        contentType: 'application/json',
                        dataType: "json",
                        success: function (result) {
                            imgs = result;
                            displayImage(imgs.base64imgage);
                        },
                        error: function (xhr) {
                            alert("Error occurred while loading the image. "
                                + xhr.responseText);
                        }
                    });
                   @* $.ajax({
                        type: 'GET',
                        url: '@Url.Action("getProfileImage")',
                        datatype:"image/jpg",
                    }).done(function(result) {
                        $('#user-profile').attr('src', result);    
                    });*@
                    
                }
            },
            progressall: function (e, data) {
                // Handle the progress bar
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .bar').css('width', progress + '%' );
            }
        });
        
        var displayImage = function (base64Data) {
            var imag = "<img "
                     + "src='" + "data:image/jpg;base64,"
                     + base64Data + "'/>";

            $(this).append(imag);
        };
    });
</script>