@using SMS.Common.Constant
@using SMS.Data.Dtos
@model SMS.MvcApplication.Models.AdminModel<TaxDto>

<script id="record-tmpl" type="text/x-jquery-tmpl">
    <tr class="admin-record-detail">
        <td colspan="7">
            <div class="detail" style="display: none;">
                <div class="row">
                    <div class="four columns right" data-labelID="lblName">
                        Name
                    </div>
                    <div class="three columns">
                        <input type="text" name="Name" value="${Name}" id="name-${ID}" />
                    </div>
                </div>
                <div class="row">
                    <div class="four columns right" data-labelID="lblDescription">
                        Description
                    </div>
                    <div class="three columns">
                        <input type="text" name="Description" value="${Description}" id="description-${ID}" />
                    </div>
                </div>
                <div class="row">
                    <div class="four columns right" data-labelID="lblValue">
                        Value
                    </div>
                    <div class="three columns">
                        <input type="text" name="Value" value="${Value}" id="value-${ID}" />
                    </div>
                </div>
                <div class="row">
                    <div class="four columns right" data-labelID="lblSEQ">
                        SEQ
                    </div>
                    <div class="three columns">
                        <input type="text" name="seq" value="{{if SEQ != 0}}${SEQ}{{/if}}" id="seq-${ID}" style="width: 30%;" class="right"/>
                    </div>
                </div>
                <div class="row">
                    <div class="four columns right" data-labelID="lblSEQ">
                        Enable
                    </div>
                    <div class="three columns">
                        {{if Enable}}
                        <input type="checkbox" name="enable" checked id="enable-${ID}"/>
                        {{else}}
                        <input type="checkbox" name="enable" id="enable-${ID}"/>
                        {{/if}}
                    </div>
                </div>
                <div class="row">
                    <div class="eleven columns center">
                        <button id="save-${ID}" data-labelID="lblSave">Save</button>
                        <button id="cancel-${ID}" data-labelID="lblCancel">Cancel</button>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</script>

<div id="content">
    <div class="row">
        <h4 class="admin-page-title">Maintain Tax</h4>
    </div>

    @Html.Partial("Search", Model.PagingInfo)

    <div class="row">
        <table id="record-table" class="no-border">
            @{
                var deleteCssClass = Model.CanDelete ? ConstStyle.CssDeleteRecord : ConstStyle.CssIconDisable;
                var editCssClass = Model.CanEdit ? ConstStyle.CssEditRecord : ConstStyle.CssIconDisable;
                var addCssClass = Model.CanAdd ? ConstStyle.CssAddRecord : ConstStyle.CssIconDisable;
            }
            <colgroup>
                <col style="width: 75px;" />
                <col style="width: 60px;" />
                <col />
                <col />
                <col style="width: 100px;" />
                <col style="width: 60px;" />
                <col style="width: 75px;" />
            </colgroup>
            <thead>
                <tr>
                    <th></th>
                    <th data-labelID="lblNo">No</th>
                    <th data-labelID="lblName">Name</th>
                    <th data-labelID="lblDescription">Description</th>
                    <th data-labelID="lblValue">Value</th>
                    <th data-labelID="lblSEQ">SEQ</th>
                    <th data-labelID="lblEnable">Enabled</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dto in Model.ListRecord)
                {
                    var altClass = Model.ListRecord.IndexOf(dto) % 2 != 0 ? "alt" : "";
                    <tr class="@altClass" data-id="@dto.ID">
                        <td>
                            <a href="#" class="@deleteCssClass" data-id="@dto.ID"><img src="~/Images/IconControls/delete-icon.png" alt="delete record" /></a>
                            <a href="#" class="@editCssClass" data-id="@dto.ID"><img src="~/Images/IconControls/edit-icon.png" alt="edit record" /></a>
                        </td>
                        <td>@Html.Raw(Model.ListRecord.IndexOf(dto) + 1)</td>
                        <td>@dto.Name</td>
                        <td>@dto.Description</td>
                        <td>@dto.Value</td>
                        <td>@dto.SEQ</td>
                        <td>@dto.Enable</td>
                    </tr>
                }
                
            </tbody>
            <tfoot>
                <tr>
                    <td class="center"><a href="#" class="@addCssClass"><img src="~/Images/IconControls/add-icon.png" alt="add record" /></a></td>
                    <td colspan="6"></td>
                </tr>
            </tfoot>
        </table>

        @Html.Partial("Paging", Model.PagingInfo)

        <script type="text/javascript">
            $(document).ready(function () {
                var addUrl = '@Url.Action("GetSchemaForAdd")';
                var editUrl = '@Url.Action("GetDataForEdit")';
                var saveUrl = '@Url.Action("SaveData")';
                var deleteUrl = '@Url.Action("DeleteData")';

                var adminfunc = new AdminFunction(addUrl, editUrl, saveUrl, getDataForSave, deleteUrl, 'Warning', 'Delete this record?');
                adminfunc.bind();
            });

            function getDataForSave(recordID) {
                var data = {
                    ID: recordID,
                    Name: $('#name-' + recordID).val(),
                    Description: $('#description-' + recordID).val(),
                    Value: $('#value-' + recordID).val(),
                    Enable: $('#enable-' + recordID).prop('checked'),
                    SEQ: $('#seq-' + recordID).val()
                };
                return data;
            }
        </script>
    </div>
</div>
