@using SMS.Common.Constant
@using SMS.Common.Storage.Message
@model SMS.MvcApplication.Models.AdminModel<SMS.Data.Dtos.SystemInformationDto>

<div id="content">
    <div class="row system-infomation">
        <fieldset class="fieldset-boder">
            <legend>System configuration</legend>    
            <table class="no-border">
                @foreach (var dto in Model.ListRecord)
                {
                    <tr>
                        <td>@dto.Name</td>
                        <td><input value="@dto.Value"/></td>
                    </tr>
                }
                <tr>
                    <td colspan="2" class="center">
                        <button id="update" data-labelID="lblUpdate">Update</button>
                        <button id="resetData" data-labelID="lblUpdate">Reset</button>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</div>
<script type="text/javascript">
    var imgs = null;
    $(document).ready(function () {
        $('#update').button({
            icons: {
                primary: "ui-icon-disk"
            }
        }).click(function () {
            var firstName = $('#firstName').val();
            var lastName = $('#lastName').val();
            var cellPhone = $('#cellPhone').val();
            var email = $('#email').val();
            var address = $('#address').val();
            var theme = $('#theme').val();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateUserProfile")',
                data: { firtName: firstName, lastName: lastName, cellPhone: cellPhone, email: email, address: address, theme: theme }
            }).done(function (result) {
                if (result.Success) {
                    $(this).form.submit();
                }
            });
        });

        $('#resetData').button({
            icons: {
                primary: "ui-icon-refresh"
            }
        }).click(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ResetSystemData")'
                }).done(function (result) {
                    var title;
                    var message;
                    var messageType;

                    if (result.Success) {
                        title = '@SystemMessages.Get(ConstMessageIds.Popup_Title_Success)';
                        message = '@SystemMessages.Get(ConstMessageIds.Popup_Message_ResetSystemDataSuccess)';
                        messageType = 1;
                    }
                    else {
                        title = '@SystemMessages.Get(ConstMessageIds.Popup_Title_Error)';
                        message = '@SystemMessages.Get(ConstMessageIds.Popup_Message_Error)';
                        messageType = 4;
                    }

                    var popup = new MessagePopup(title, message, messageType);

                    popup.OpenPopup();
                });

		    return false;
		});
    });
</script>