@using SMS.Common
@using SMS.Common.Constant
@using SMS.Common.Enums
@using SMS.Common.Storage
@using SMS.Data.Dtos
@model SMS.MvcApplication.Models.AdminModel<BranchDto>

<script id="record-tmpl" type="text/x-jquery-tmpl">
    <tr class="admin-record-detail" style="display: none;">
        <td class="arrow-detail center">↳</td>
        <td colspan="6">
            <table class="no-border width500px">
                {{if ID == 0}}
                <tr>
                    <td colspan="2" class="label-custom-label">ADD NEW</td>
                </tr>
                {{/if}}
                <tr>
                    <td data-labelID="lblVNName">VN Name</td>
                    <td>
                        <input type="text" name="vnName" value="${VNName}" id="vnName-${ID}" />
                    </td>
                </tr>
                <tr>
                    <td data-labelID="lblENName">EN Name</td>
                    <td>
                        <input type="text" name="enName" value="${ENName}" id="enName-${ID}"/>
                    </td>
                </tr>
                <tr>
                    <td data-labelID="lblCurrency">Currency</td>
                    <td>
                        <select name="currency" id="currency-${ID}">
                            @foreach (CurrencyDto currency in ViewBag.ListCurrency)
                            {
                                <text>
                                    {{if Currency != null && Currency.ID == @currency.ID}}
                                    <option value="@currency.ID" selected>@currency.Description</option>
                                    {{else}}
                                    <option value="@currency.ID">@currency.Description</option>
                                    {{/if}}
                                </text>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td data-labelID="lblUseServiceFee">Use Service Fee</td>
                    <td>
                        {{if UseServiceFee }}
                        <input type="checkbox" name="useServiceFee" checked id="useServiceFee-${ID}"/>
                        {{else}}
                        <input type="checkbox" name="useServiceFee" id="useServiceFee-${ID}"/>
                        {{/if}}
                    </td>
                </tr>
                <tr id="inputServiceFee" class="${UseServiceFee == true ? '' : 'hide'}">
                    <td data-labelID="lblServiceFee">Service Fee</td>
                    <td>
                        <input type="text" class="right" name="serviceFee" value="${ServiceFee}" id="serviceFee-${ID}" style="width: 50%"/>
                    </td>
                </tr>
                <tr>
                    <td data-labelID="lblUseDiscountOnProduct">Use Discount On Product</td>
                    <td>
                        {{if UseDiscountOnProduct }}
                        <input type="checkbox" name="enable" checked id="useDiscountOnProduct-${ID}"/>
                        {{else}}
                        <input type="checkbox" name="enable" id="useDiscountOnProduct-${ID}"/>
                        {{/if}}
                    </td>
                </tr>
                <tr>
                    <td data-labelID="lblUseKitchenFunction">Use Kitchen Function</td>
                    <td>
                        {{if UseKitchenFunction }}
                        <input type="checkbox" name="enable" checked id="useKitchenFunction-${ID}"/>
                        {{else}}
                        <input type="checkbox" name="enable" id="useKitchenFunction-${ID}"/>
                        {{/if}}
                    </td>
                </tr>
                <tr>
                    <td data-labelID="lblUseInventory">Use Inventory</td>
                    <td>
                        {{if UseInventory }}
                        <input type="checkbox" name="enable" checked id="useInventory-${ID}"/>
                        {{else}}
                        <input type="checkbox" name="enable" id="useInventory-${ID}"/>
                        {{/if}}
                    </td>
                </tr>
                <tr id="chooseDepot" class="${UseInventory == true ? '' : 'hide'}">
                    <td data-labelID="lblDepot">Choose depot</td>
                    <td>
                        <select name="depot" id="depot-${ID}">
                            <option>-</option>
                            @foreach (DepotDto depot in ViewBag.ListDepot)
                            {
                                <text>
                                    {{if Depot != null && Depot.ID == @depot.ID}}
                                    <option value="@depot.ID" selected>@depot.DepotName</option>
                                    {{else}}
                                    <option value="@depot.ID">@depot.DepotName</option>
                                    {{/if}}
                                </text>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td data-labelID="lblCompanyCode">Company Code</td>
                    <td>
                        <input type="text" name="companyCode" value="${BranchInfo.CompanyCode}" id="companyCode-${ID}"/>
                    </td>
                </tr>
                <tr>
                    <td data-labelID="lblCompanyName">Company Name</td>
                    <td>
                        <input type="text" name="companyName" value="${BranchInfo.CompanyName}" id="companyName-${ID}"/>
                    </td>
                </tr>
                <tr>
                    <td data-labelID="lblPhoneNumber">Phone number</td>
                    <td>
                        <input type="text" name="phone" value="${BranchInfo.Phone}" id="phone-${ID}"/>
                    </td>
                </tr>
                <tr>
                    <td data-labelID="lblFax">Fax</td>
                    <td>
                        <input type="text" name="fax" value="${BranchInfo.Fax}" id="fax-${ID}"/>
                    </td>
                </tr>
                <tr>
                    <td data-labelID="lblEmail">Email</td>
                    <td>
                        <input type="text" name="email" value="${BranchInfo.Email}" id="email-${ID}"/>
                    </td>
                </tr>
                <tr>
                    <td data-labelID="lblTaxCode">Tax code</td>
                    <td>
                        <input type="text" name="taxCode" value="${BranchInfo.TaxCode}" id="taxCode-${ID}"/>
                    </td>
                </tr>
                <tr>
                    <td data-labelID="lblAddress">Address</td>
                    <td>
                        <input type="text" name="address" value="${BranchInfo.Address}" id="address-${ID}"/>
                    </td>
                </tr>
                <tr>
                    <td data-labelID="lblInfo1">Info 1</td>
                    <td>
                        <input type="text" name="info1" value="${BranchInfo.Info1}" id="info1-${ID}"/>
                    </td>
                </tr>
                <tr>
                    <td data-labelID="lblInfo2">Info 2</td>
                    <td>
                        <input type="text" name="info2" value="${BranchInfo.Info2}" id="info2-${ID}"/>
                    </td>
                </tr>
                <tr>
                    <td data-labelID="lblInfo3">Info 3</td>
                    <td>
                        <input type="text" name="info3" value="${BranchInfo.Info3}" id="info3-${ID}"/>
                    </td>
                </tr>
                <tr>
                    <td data-labelID="lblInfo4">Info 4</td>
                    <td>
                        <input type="text" name="info4" value="${BranchInfo.Info4}" id="info4-${ID}"/>
                    </td>
                </tr>
                <tr>
                    <td data-labelID="lblInfo5">Info 5</td>
                    <td>
                        <input type="text" name="info5" value="${BranchInfo.Info5}" id="info5-${ID}"/>
                    </td>
                </tr>
                <tr>
                    <td data-labelID="lblInfo6">Info 6</td>
                    <td>
                        <input type="text" name="info6" value="${BranchInfo.Info6}" id="info6-${ID}"/>
                    </td>
                </tr>
                <tr>
                    <td data-labelID="lblInfo7">Info 7</td>
                    <td>
                        <input type="text" name="info7" value="${BranchInfo.Info7}" id="info7-${ID}"/>
                    </td>
                </tr>
                <tr>
                    <td data-labelID="lblInfo8">Info 8</td>
                    <td>
                        <input type="text" name="info8" value="${BranchInfo.Info8}" id="info8-${ID}"/>
                    </td>
                </tr>
                <tr>
                    <td data-labelID="lblInfo9">Info 9</td>
                    <td>
                        <input type="text" name="info9" value="${BranchInfo.Info9}" id="info9-${ID}"/>
                    </td>
                </tr>
                <tr>
                    <td data-labelID="lblInfo10">Info 10</td>
                    <td>
                        <input type="text" name="info10" value="${BranchInfo.Info10}" id="info10-${ID}"/>
                    </td>
                </tr>
                <tr>
                    <td data-labelID="lblSEQ">SEQ</td>
                    <td>
                        <input type="text" name="seq" value="{{if SEQ != 0}}${SEQ}{{/if}}" id="seq-${ID}" style="width: 20%;" class="right"/>
                    </td>
                </tr>
                <tr>
                    <td data-labelID="lblEnable">Enable</td>
                    <td>
                        {{if Enable }}
                        <input type="checkbox" name="enable" checked id="enable-${ID}"/>
                        {{else}}
                        <input type="checkbox" name="enable" id="enable-${ID}"/>
                        {{/if}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="row">
                    <div class="four columns right" data-labelID="lblTaxs">
                        Taxs
                    </div>
                    <div class="three columns">
                    </div>
                    <div class="four columns left" data-labelID="lblAssignedTaxs">
                        Assigned Taxs
                    </div>
                </div>
                <div class="row">
                    <div class="four columns right">
                        <select id="originalTaxs-${ID}" multiple="multiple" size="7" class="full-width">
                            @foreach (TaxDto tax in ViewBag.ListTax)
                            {
                                <text>
                                    @if(CommonObjects.Language==Language.Vietnamese)
                                    {
                                        <option value="@tax.ID">@tax.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@tax.ID">@tax.Name</option>
                                    }
                                </text>
                            }
                        </select>
                    </div>
                    <div class="three columns center">
                        <button id="addTaxs-${ID}" class="assignButton">></button>
                        <button id="addAllTaxs-${ID}" class="assignButton">>></button>
                        <button id="removeAllTaxs-${ID}" class="assignButton"><<</button>
                        <button id="removeTaxs-${ID}" class="assignButton"><</button>
                    </div>
                    <div class="four columns">
                        <select name="assignedTaxs" id="assignedTaxs-${ID}" multiple="multiple" size="7" class="full-width">
                            {{each Taxs}}
                            <option value="${ID}">${Name}</option>
                            {{/each}}
                        </select>
                    </div>
                    {{html buildScriptForAssignListBox(ID)}}
                </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button id="save-${ID}" data-labelID="lblSave">Save</button>
                        <button id="cancel-${ID}" data-labelID="lblCancel">Cancel</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</script>
<script type="text/javascript" src="~/Scripts/assignListBox.js"></script>
<script type="text/javascript">
    function buildScriptForAssignListBox(id) {
        var param = '"originalTaxs-' + id + '", "' + 'assignedTaxs-' + id + '", "' + 'addTaxs-' + id + '", "' + 'removeTaxs-' + id + '", "' + 'addAllTaxs-' + id + '", "' + 'removeAllTaxs-' + id + '"';

        return '<sc' + 'ript type="text/javascript">'
            + 'var listBox = new AssignListBox(' + param + ');'
            + 'listBox.bindEvents();'
            + '</sc' + 'ript>';
    }
</script>

<div id="content">
    @{
        var editCssClass = Model.CanEdit ? ConstStyle.CssEditRecord : ConstStyle.CssIconDisable;
        var addCssClass = Model.CanAdd ? ConstStyle.CssAddRecord : ConstStyle.CssIconDisable;
    }
    
    <div class="row admin-page-title">
        <h4>Maintain Branch</h4>
    </div>

    <table id="record-table" class="display">
        <thead>
            <tr>
                <th data-labelID="lblID">ID</th>
                <th data-labelID="lblName">Name</th>
                <th data-labelID="lblCompanyCode">Company code</th>
                <th data-labelID="lblCompanyName">Company name</th>
                <th data-labelID="lblPhone">Phone</th>
                <th data-labelID="lblEnable">Enabled</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dto in Model.ListRecord)
            {
                <tr data-id="@dto.ID">
                    <td>@dto.ID</td>
                    @if(CommonObjects.Language == Language.Vietnamese)
                    {
                        <td>@dto.VNName</td>
                    }else
                    {
                        <td>@dto.ENName</td>
                    }
                    <td>@dto.BranchInfo.CompanyCode</td>
                    <td>@dto.BranchInfo.CompanyName</td>
                    <td>@dto.BranchInfo.Phone</td>
                    @if(dto.Enable)
                    {
                        <td>✔</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <td class="center">
                        <a href="#" class="@editCssClass" data-id="@dto.ID"><img src="~/Images/IconControls/edit-icon.png" alt="edit record" /></a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7">
                    <a href="#" class="@addCssClass"><img src="~/Images/IconControls/add-icon.png" alt="add record" /></a>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var addUrl = '@Url.Action("GetSchemaForAdd")';
        var editUrl = '@Url.Action("GetDataForEdit")';
        var saveUrl = '@Url.Action("SaveData")';
        var deleteUrl = '@Url.Action("DeleteData")';

        var adminfunc = new AdminFunction(addUrl, editUrl, saveUrl, getDataForSave, deleteUrl, 'Warning', 'Delete this record?', @SmsCache.UserContext.PageSize);
        adminfunc.bind();

        $(document).on("click", 'input[id^="useInventory-"]', (function() {
            $('#chooseDepot').slideToggle();
        }));
        
        $(document).on("click", 'input[id^="useServiceFee-"]', (function() {
            $('#inputServiceFee').slideToggle();
        }));
    });

    function getDataForSave(recordId) {
        var taxs = Array();

        $('#assignedTaxs-' + recordId + ' option').each(function (idx, e) {
            taxs.push({ ID: $(e).val() });
        });

        var data = {
            ID: recordId,
            VNName: $('#vnName-' + recordId).val(),
            ENName: $('#enName-' + recordId).val(),
            Currency: {
                ID: $('#currency-' + recordId).val()
            },
            UseServiceFee: $('#useServiceFee-' + recordId).prop('checked'),
            ServiceFee: $('#serviceFee-' + recordId).val(),
            UseDiscountOnProduct: $('#useDiscountOnProduct-' + recordId).prop('checked'),
            UseKitchenFunction: $('#useKitchenFunction-' + recordId).prop('checked'),
            UseInventory: $('#useInventory-' + recordId).prop('checked'),
            Depot: {
                ID: $('#depot-' + recordId).val()
            },
            BranchInfo: {
                CompanyCode: $('#companyCode-' + recordId).val(),
                CompanyName: $('#companyName-' + recordId).val(),
                Phone: $('#phone-' + recordId).val(),
                Fax: $('#fax-' + recordId).val(),
                Email: $('#email-' + recordId).val(),
                TaxCode: $('#taxCode-' + recordId).val(),
                Address: $('#address-' + recordId).val(),
                Info1: $('#info1-' + recordId).val(),
                Info2: $('#info2-' + recordId).val(),
                Info3: $('#info3-' + recordId).val(),
                Info4: $('#info4-' + recordId).val(),
                Info5: $('#info5-' + recordId).val(),
                Info6: $('#info6-' + recordId).val(),
                Info7: $('#info7-' + recordId).val(),
                Info8: $('#info8-' + recordId).val(),
                Info9: $('#info9-' + recordId).val(),
                Info10: $('#info10-' + recordId).val()
            },
            Enable: $('#enable-' + recordId).prop('checked'),
            SEQ: $('#seq-' + recordId).val(),
            Taxs: taxs
        };
        return data;
    }
</script>
